<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"><%== t('data_gap_warning.assistive_text') %></span>
    <%= t('data_gap_warning.pre_text') %>
    <ul>
      <li><%== t('data_gap_warning.non_domestic.link_ew') %></li>
      <li><%== t('data_gap_warning.non_domestic.link_ni') %></li>
    </ul><%=
    t('data_gap_warning.post_text_1')
  %><br /><br /><%=
    t('data_gap_warning.post_text_2')
  %></strong>
</div>
