<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span><%=
    t('data_gap_warning.domestic.pre_text')
  %><ul>
      <li><%== t('data_gap_warning.domestic.link_ew') %></li>
      <li><%== t('data_gap_warning.domestic.link_ni') %></li>
    </ul><%=
    t('data_gap_warning.domestic.post_text_1')
  %><br /><br /><%=
    t('data_gap_warning.domestic.post_text_2')
  %></strong>
</div>
