<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text"><%= t('primary_energy_use_dropdown.what_is_primary_energy_use_title') %></span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body"><%= t('primary_energy_use_dropdown.what_is_primary_energy_use_details') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
      <li><%= t('primary_energy_use_dropdown.efficiency_of_heating') %></li>
      <li><%= t('primary_energy_use_dropdown.efficiency_of_electricity') %></li>
      <li><%= t('primary_energy_use_dropdown.fuel_for_property') %></li>
    </ul>
  </div>
</details>
