<script type = "text/javascript" src="/javascript/certificate.js"></script>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <h1 class="govuk-heading-xl printable-area"><%= t('ac_cert.top_heading') %></h1>
    </div>
  </div>

  <div class="govuk-grid-column-one-third govuk-!-display-none-print">
    <hr class="epc-blue-top" />
    <%== erb :component__contents, locals: {
      title: t("dec.sections.contents.title"),
      sections: [
        {
          link: '#assessment_details',
          text: 'ac_cert.sections.assessment.title'
        },
        {
          link: '#inspection_report',
          text: 'ac_cert.sections.inspection.title'
        },
        {
          link: '#sub_systems',
          text: 'ac_cert.sections.subsystems.title'
        },
        {
          link: '#assessor_details',
          text: 'component.assessor_details.title'
        },
        {
          link: '#other_certificates_and_reports',
          text: 'component.related.certificates.title'
        },
      ]
    } %>

    <%== erb :component__share_certificate, locals: {
      type: 'certificate',
      top_heading: 'ac_cert',
      assessment: assessment,
      dec: false,
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-blue-top" />

    <%== erb :component__epc_summary_compact, locals: {
      assessment: assessment,
      type: 'certificate'
    } %>

    <%== erb :ac_cert__assessment_details, locals: {
      assessment: assessment,
    } %>

    <%== erb :ac_cert__inspection_report, locals: {
      assessment: assessment,
    } %>

    <%== erb :ac_cert__sub_systems, locals: {
      assessment: assessment,
    } %>

    <%== erb :component__assessor_details, locals: {
      assessment: assessment,
    } %>

    <% unless print_view %>
    <%== erb :component__related_assessments, locals: {
      assessment: assessment,
      type: 'certificate',
      assessment_type:  assessment[:typeOfAssessment],
    } %>
    <% end %>

  </div>
</div>
</div>
<% if print_view %>
  <script>
    window.onload = function() {
      window.print();
    }
  </script>
<% end %>
