<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate/search-by-postcode')%>"
        onclick="if(document.referrer.indexOf(location.protocol+'//'+location.host)===0) {window.history.back(); return false;} else {return true;}"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('ac_cert.top_heading') %></h1>
    </div>
  </div>

  <div class="govuk-grid-column-one-third govuk-!-display-none-print">
    <hr class="epc-blue-top" />
    <%== erb :component__contents, locals: {
      title: t("dec.sections.contents.title"),
      sections: [
        {
          link: '#assessment_details',
          text: 'ac_cert.sections.assessment.title'
        },
        {
          link: '#inspection_report',
          text: 'ac_cert.sections.inspection.title'
        },
        {
          link: '#sub_systems',
          text: 'ac_cert.sections.subsystems.title'
        },
        {
          link: '#assessor_details',
          text: 'component.assessor_details.title'
        },
        {
          link: '#other_certificates',
          text: 'component.related.certificates.title'
        },
      ]
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />

    <%== erb :component__epc_summary_compact, locals: {
      assessment: assessment,
      type: 'certificate'
    } %>

    <%== erb :ac_cert__assessment_details, locals: {
      assessment: assessment,
    } %>

    <%== erb :ac_cert__inspection_report, locals: {
      assessment: assessment,
    } %>

    <%== erb :ac_cert__sub_systems, locals: {
      assessment: assessment,
    } %>

    <%== erb :component__assessor_details, locals: {
      assessment: assessment,
    } %>

    <div id="other_certificates">
      <%== erb :component__related_assessments, locals: {
        assessment: assessment,
        type: 'certificate',
        assessment_type:  assessment[:typeOfAssessment],
      } %>
    </div>
  </div>
</div>
