<div class="epc-blue-bottom">
  <h2 class="govuk-heading-l"><%= t('ac_cert.sections.subsystems.title') %></h2>

  <% if assessment[:subsystems]%>
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t('ac_cert.sections.subsystems.number') %></th>
        <th scope="col" class="govuk-table__header"><%= t('ac_cert.sections.subsystems.description') %></th>
        <th scope="col" class="govuk-table__header"><%= t('ac_cert.sections.subsystems.refrigerant_type') %></th>
        <th scope="col" class="govuk-table__header"><%= t('ac_cert.sections.subsystems.age') %></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% assessment[:subsystems].each do |subsystem| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%== subsystem[:number] %></td>
          <td class="govuk-table__cell"><%== subsystem[:description] %></td>
          <td class="govuk-table__cell"><%== subsystem[:refrigerantType] %></td>
          <td class="govuk-table__cell"><%== subsystem[:age] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
