<div id="key_recommendations" class="govuk-body epc-blue-bottom printable-area key-recommendations">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.key_recommendations.title') %>
  </h2>

  <%== erb :ac_report__recommendation_list, locals: {
    title: 'ac_report.sections.key_recommendations.efficiency.title',
    recommendations: assessment[:keyRecommendations][:efficiency]
  } %>

  <%== erb :ac_report__recommendation_list, locals: {
    title: 'ac_report.sections.key_recommendations.maintenance.title',
    recommendations: assessment[:keyRecommendations][:maintenance]
  } %>

  <%== erb :ac_report__recommendation_list, locals: {
    title: 'ac_report.sections.key_recommendations.control.title',
    recommendations: assessment[:keyRecommendations][:control]
  } %>

  <%== erb :ac_report__recommendation_list, locals: {
    title: 'ac_report.sections.key_recommendations.management.title',
    recommendations: assessment[:keyRecommendations][:management]
  } %>

</div>
