<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate/search-by-postcode')%>"
        onclick="window.history.back(); return false;"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('ac_report.top_heading') %></h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <hr class="epc-blue-top" />
    <%== erb :component__contents, locals: {
      title: t("dec.sections.contents.title"),
      sections: [
        {
          link: '#administrative_information',
          text: 'component.administrative_information.title'
        },
        {
          link: '#executive_summary',
          text: 'ac_report.sections.exec_summary.title'
        },
        {
          link: '#key_recommendations',
          text: 'ac_report.sections.key_recommendations.title'
        },
        {
          link: '#sub_systems',
          text: 'ac_report.sections.sub_systems.title',
          hidden: assessment[:subSystems].empty?
        },
        {
          link: '#pre_inspection',
          text: 'ac_report.sections.pre_inspection.title'
        },
        {
          link: '#cooling_plants',
          text: 'ac_report.sections.cooling_plants.title'
        },
        {
          link: '#air_handling_systems',
          text: 'ac_report.sections.air_handling_systems.title',
          hidden: assessment[:airHandlingSystems].empty?
        },
        {
          link: '#terminal_units',
          text: 'ac_report.sections.terminal_units.title',
          hidden: assessment[:terminalUnits].empty?
        },
        {
          link: '#system_controls',
          text: 'ac_report.sections.system_controls.title',
          hidden: assessment[:systemControls].empty?,
        },
        {
          link: '#related_certificate',
          text: 'ac_report.sections.related_certificate.title',
          hidden: assessment[:relatedRrn].nil? || assessment[:relatedRrn].empty?
        },
      ]
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top govuk-!-display-none-print" />

    <%== erb :component__epc_summary_compact, locals: {
      assessment: assessment,
      type: t('component.print.type.certificate')
    } %>

    <%== erb :component__administrative_information, locals: {
      assessor: assessment[:assessor],
    } %>

    <%== erb :ac_report__exec_summary, locals: {
      assessment: assessment,
    } %>

    <%== erb :ac_report__key_recommendations, locals: {
      assessment: assessment,
    } %>

    <% unless assessment[:subSystems].empty? %>
      <%== erb :ac_report__sub_systems, locals: {
        assessment: assessment,
      } %>
    <% end %>

    <%== erb :ac_report__pre_inspection, locals: {
      assessment: assessment,
    } %>

    <%== erb :ac_report__cooling_plants, locals: {
      cooling_plants: assessment[:coolingPlants],
    } %>

    <% unless assessment[:airHandlingSystems].empty? %>
      <%== erb :ac_report__air_handling_systems, locals: {
        assessment: assessment,
      } %>
    <% end %>

    <% unless assessment[:terminalUnits].empty? %>
      <%== erb :ac_report__terminal_units, locals: {
        assessment: assessment,
      } %>
    <% end %>

    <% unless assessment[:systemControls].empty? %>
      <%== erb :ac_report__system_controls, locals: {
        assessment: assessment,
      } %>
    <% end %>

    <% unless assessment[:relatedRrn].nil? || assessment[:relatedRrn].empty? %>
      <%== erb :ac_report__related_certificate, locals: {
        assessment: assessment,
      } %>
    <% end %>

  </div>
</div>
