<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate')%>"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('ac_report.top_heading') %></h1>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top govuk-!-display-none-print" />

    <%== erb :component__epc_summary_compact, locals: {
      assessment: assessment,
      type: t('component.print.type.certificate')
    } %>

    <%== erb :component__administrative_information, locals: {
      assessor: assessment[:assessor],
    } %>

    <%== erb :ac_report__exec_summary, locals: {
      assessment: assessment,
    } %>

    <%== erb :ac_report__owner_operator, locals: {
      assessment: assessment,
    } %>

    <%== erb :ac_report__key_recommendations, locals: {
      assessment: assessment,
    } %>

    <% unless assessment[:subSystems].empty? %>
      <%== erb :ac_report__sub_systems, locals: {
        assessment: assessment,
      } %>
    <% end %>

    <%== erb :ac_report__pre_inspection, locals: {
      assessment: assessment,
    } %>

    <% unless assessment[:airHandlingSystems].empty? %>
      <%== erb :ac_report__air_handling_systems, locals: {
        assessment: assessment,
      } %>
    <% end %>

    <% unless assessment[:terminalUnits].empty? %>
      <%== erb :ac_report__terminal_units, locals: {
        assessment: assessment,
      } %>
    <% end %>

    <% unless assessment[:systemControls].empty? %>
      <%== erb :ac_report__system_controls, locals: {
        assessment: assessment,
      } %>
    <% end %>

  </div>
</div>
