<div class="epc-blue-bottom executive-summary" id="pre_inspection">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.pre_inspection.title') %>
  </h2>

<% unless assessment[:preInspectionChecklist][:essential].nil? %>

  <%== erb :ac_report__pre_inspection__checklist, locals: {
    list: assessment[:preInspectionChecklist][:essential],
    translation_prefix: 'ac_report.sections.pre_inspection.essential.'
  } %>

  <%== erb :ac_report__pre_inspection__checklist, locals: {
    list: assessment[:preInspectionChecklist][:desirable],
    translation_prefix: 'ac_report.sections.pre_inspection.desirable.'
  } %>

  <%== erb :ac_report__pre_inspection__checklist, locals: {
    list: assessment[:preInspectionChecklist][:optional],
    translation_prefix: 'ac_report.sections.pre_inspection.optional.'
  } %>

    <% else %>

    <% unless assessment[:preInspectionChecklist][:sccs].empty? %>
      <p>
        <em>
          <%= t('ac_report.sections.pre_inspection.scss') %>
        </em>
      </p>

        <%== erb :ac_report__pre_inspection__checklist, locals: {
          list: assessment[:preInspectionChecklist][:sccs][:essential],
          translation_prefix: 'ac_report.sections.pre_inspection.essential.'
        } %>

        <%== erb :ac_report__pre_inspection__checklist, locals: {
          list: assessment[:preInspectionChecklist][:sccs][:desirable],
          translation_prefix: 'ac_report.sections.pre_inspection.desirable.'
        } %>

        <%== erb :ac_report__pre_inspection__checklist, locals: {
          list: assessment[:preInspectionChecklist][:sccs][:optional],
          translation_prefix: 'ac_report.sections.pre_inspection.optional.'
        } %>

      <% end %>

    <% unless assessment[:preInspectionChecklist][:pcs].empty? %>
      <p>
        <em>
          <%= t('ac_report.sections.pre_inspection.pcs') %>
        </em>
      </p>

      <%== erb :ac_report__pre_inspection__checklist, locals: {
        list: assessment[:preInspectionChecklist][:pcs][:essential],
        translation_prefix: 'ac_report.sections.pre_inspection.essential.'
      } %>

      <%== erb :ac_report__pre_inspection__checklist, locals: {
        list: assessment[:preInspectionChecklist][:pcs][:desirable],
        translation_prefix: 'ac_report.sections.pre_inspection.desirable.'
      } %>

      <%== erb :ac_report__pre_inspection__checklist, locals: {
        list: assessment[:preInspectionChecklist][:pcs][:optional],
        translation_prefix: 'ac_report.sections.pre_inspection.optional.'
      } %>

    <% end %>


<% end %>
</div>
