<div class="epc-blue-bottom executive-summary" id="air_handling_systems">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.air_handling_systems.title') %>
  </h2>

  <% assessment[:airHandlingSystems].each_with_index do |system, index| %>
    <h3 class="govuk-heading-m">
      <%= t('ac_report.sections.air_handling_systems.sub_heading')%> <%= index + 1 %>
    </h3>

    <%== erb :component__summary_list, locals: {
      list: {
         unit: system[:equipment][:unit],
         component: system[:equipment][:component],
         areasServed: system[:equipment][:areasServed],
         discrepancy: system[:equipment][:discrepancy],
         location: system[:equipment][:location],
         manufacturer: system[:equipment][:manufacturer],
         systemsServed:system[:equipment][:systemsServed],
         yearInstalled: system[:equipment][:yearInstalled],
      },
      translation_prefix: 'ac_report.sections.air_handling_systems.equipment.',
      skip_null: true
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.fan_power.title') %>
    </h4>

    <p class="govuk-body"> <%= t('ac_report.sections.air_handling_systems.fan_power.estimate_power') %></p>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.fan_power.condition'),
      inspection: system[:inspection][:fanPower][:condition]
    } %>

    <p class="govuk-body">
      <%= t('ac_report.sections.air_handling_systems.fan_power.sfp', sfp_value: system[:inspection][:fanPower][:sfpCalculation]) %>
    </p>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.filters.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.filters.condition'),
      inspection: system[:inspection][:filters][:filterCondition]
    } %>
    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.filters.change_frequency'),
      inspection: system[:inspection][:filters][:changeFrequency]
    } %>
    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.filters.differential_pressure_gauge'),
      inspection: system[:inspection][:filters][:differentialPressureGauge]
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.heat_exchangers.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.heat_exchangers.condition'),
      inspection: system[:inspection][:heatExchangers][:condition]
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.refrigeration.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.refrigeration.leaks'),
      inspection: system[:inspection][:refrigeration][:leaks]
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.fan_rotation.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.fan_rotation.direction'),
      inspection: system[:inspection][:fanRotation][:direction]
    } %>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.fan_rotation.modulation'),
      inspection: system[:inspection][:fanRotation][:modulation]
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.fan_control.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.fan_control.setting'),
      inspection: system[:inspection][:fanControl][:setting]
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.heat_recovery.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.heat_recovery.energy_conservation'),
      inspection: system[:inspection][:heatRecovery][:energyConservation]
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.air_leakage.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.air_leakage.condition'),
      inspection: system[:inspection][:airLeakage][:condition]
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.outdoor_inlets.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.outdoor_inlets.condition'),
      inspection: system[:inspection][:outdoorInlets][:condition]
    } %>

    <% unless assessment[:airHandlingSystems].size - 1 == index  %>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="border-bottom-width: 3px;">
    <% end %>
<% end %>
</div>
