<div class="epc-blue-bottom cooling plants" id="cooling_plants">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.cooling_plants.title') %>
  </h2>

  <% cooling_plants.each do |cooling_plant| %>
    <h3 class="govuk-heading-m"><%= t('ac_report.sections.cooling_plants.cooling_plant.title') %></h3>
    <%== erb :component__summary_list, locals: {
      list: {
        system_number: cooling_plant[:systemNumber],
        identifier: cooling_plant[:identifier],
      },
      translation_prefix: 'ac_report.sections.cooling_plants.cooling_plant.details.',
      skip_null: true
    } %>

    <h4 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.equipment.title') %></h4>
    <%== erb :component__summary_list, locals: {
      list: {
        cooling_capacity: cooling_plant[:equipment][:coolingCapacity],
        description: cooling_plant[:equipment][:description],
        location: cooling_plant[:equipment][:location],
        manufacturer: cooling_plant[:equipment][:manufacturer],
        model_reference: cooling_plant[:equipment][:modelReference],
        refrigerant_charge: cooling_plant[:equipment][:refrigerantCharge],
        refrigerant_type: cooling_plant[:equipment][:refrigerantType][:type],
        serial_number: cooling_plant[:equipment][:serialNumber],
        year_installed: cooling_plant[:equipment][:yearInstalled],
        area_served: cooling_plant[:equipment][:areaServed],
      },
      translation_prefix: 'ac_report.sections.cooling_plants.cooling_plant.equipment.details.',
      skip_null: true
    } %>
    <% unless cooling_plant[:equipment][:discrepancyNote].nil? %>
      <h5 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.equipment.details.discrepancy_note') %></h5>
      <p class="govuk-body"><%= cooling_plant[:equipment][:discrepancyNote] %></p>
    <% end %>

    <h4 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.title') %></h4>
    <% cooling_plant[:inspection].each do |inspection_key, inspection_data| %>
      <h5 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + inspection_key.to_s) %></h5>
      <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + (inspection_data[:state] ? "positive": "negative")) %></p>
      <% unless inspection_data[:note].nil? %>
        <p class="govuk-body"><%= inspection_data[:note] %></p>
      <% end %>
    <% end %>

    <h4 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.sizing.title') %></h4>
    <%== erb :component__summary_list, locals: {
      list: {
        installed_capacity: cooling_plant[:sizing][:installedCapacity],
        occupant_density: cooling_plant[:sizing][:occupantDensity],
        total_floor_area: cooling_plant[:sizing][:totalFloorArea],
        total_occupants: cooling_plant[:sizing][:totalOccupants],
        upper_heat_gain: cooling_plant[:sizing][:upperHeatGain],
        acceptable_installed_size: t('ac_report.sections.cooling_plants.cooling_plant.sizing.details.acceptable_installed_size_section.' + (cooling_plant[:sizing][:acceptableInstalledSize].to_i + 1).to_s),
      },
      translation_prefix: 'ac_report.sections.cooling_plants.cooling_plant.sizing.details.',
      skip_null: true
    } %>

    <h5 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.sizing.recommendation_title') %></h5>
    <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.sizing.recommendation_intro_text') %></p>
    <% if cooling_plant[:sizing].key?(:guidance) && !cooling_plant[:sizing][:guidance].nil? %>
      <% cooling_plant[:sizing][:guidance].each do |guidance| %>
        <% next if guidance[:text].nil? %>
        <p class="govuk-body"><%= guidance[:text] %></p>
      <% end %>
    <% end %>

    <h4 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.refrigeration.title') %></h4>
    <%== erb :component__summary_list, locals: {
      list: {
        pre_compressor: cooling_plant[:refrigeration][:preCompressor],
        post_processor: cooling_plant[:refrigeration][:postProcessor],
        ambient: cooling_plant[:refrigeration][:ambient],
        acceptable_temperature: t('ac_report.sections.cooling_plants.cooling_plant.sizing.details.acceptable_installed_size_section.' + (cooling_plant[:refrigeration][:acceptableTemperature].to_i + 1).to_s),
        refrigerant_name: cooling_plant[:refrigeration][:refrigerantName],
        compressor_control: cooling_plant[:refrigeration][:compressorControl][:note],
      },
      translation_prefix: 'ac_report.sections.cooling_plants.cooling_plant.refrigeration.details.',
      skip_null: true
    } %>

    <h5 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.refrigeration.leak') %></h5>
    <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + (cooling_plant[:refrigeration][:refrigerantLeak][:state] ? "positive": "negative")) %></p>
    <% unless cooling_plant[:refrigeration][:refrigerantLeak][:note].nil? %>
      <p><%= cooling_plant[:refrigeration][:refrigerantLeak][:note] %></p>
    <% end %>

    <h5 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.refrigeration.f_gas_inspection') %></h5>
    <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + (cooling_plant[:refrigeration][:fGasInspection][:state] ? "positive": "negative")) %></p>
    <% unless cooling_plant[:refrigeration][:fGasInspection][:note].nil? %>
      <p><%= cooling_plant[:refrigeration][:fGasInspection][:note] %></p>
    <% end %>

    <h4 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.maintenance.title') %></h4>

    <h5 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t('ac_report.sections.cooling_plants.cooling_plant.maintenance.records_kept') %></h5>
    <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + (cooling_plant[:maintenance][:recordsKept][:state] ? "positive": "negative")) %></p>
    <% unless cooling_plant[:maintenance][:recordsKept][:note].nil? %>
      <p class="govuk-body"><%= cooling_plant[:maintenance][:recordsKept][:note] %></p>
    <% end %>

    <h5 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t('ac_report.sections.cooling_plants.cooling_plant.maintenance.competent_person') %></h5>
    <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + (cooling_plant[:maintenance][:competentPerson][:state] ? "positive": "negative")) %></p>
    <% unless cooling_plant[:maintenance][:competentPerson][:note].nil? %>
      <p class="govuk-body"><%= cooling_plant[:maintenance][:competentPerson][:note] %></p>
    <% end %>

    <h4 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.metering.title') %></h4>
    <% cooling_plant[:metering].each do |inspection_key, inspection_data| %>
      <h5 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t('ac_report.sections.cooling_plants.cooling_plant.metering.' + inspection_key.to_s) %></h5>
      <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + (inspection_data[:state] ? "positive": "negative")) %></p>
      <% unless inspection_data[:note].nil? %>
        <p class="govuk-body"><%= t("ac_report.sections.cooling_plants.cooling_plant.metering.reading", meter_reading: inspection_data[:note]) %></p>
      <% end %>
    <% end %>

    <% unless cooling_plant[:chillers].nil? %>
      <h4 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.chillers.title') %></h4>
      <% cooling_plant[:chillers].each do |inspection_key, inspection_data| %>
        <h5 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t('ac_report.sections.cooling_plants.cooling_plant.chillers.' + inspection_key.to_s) %></h5>
        <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + (inspection_data[:state] ? "positive": "negative")) %></p>
        <% unless inspection_data[:note].nil? %>
          <p class="govuk-body"><%= inspection_data[:note] %></p>
        <% end %>
      <% end %>
    <% end %>

    <h4 class="govuk-heading-s"><%= t('ac_report.sections.cooling_plants.cooling_plant.humidity_control.title') %></h4>
    <h5 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t('ac_report.sections.cooling_plants.cooling_plant.humidity_control.control') %></h5>
    <p class="govuk-body"><%= t('ac_report.sections.cooling_plants.cooling_plant.inspection.' + (cooling_plant[:humidityControl][:state] ? "positive": "negative")) %></p>
    <% unless cooling_plant[:humidityControl][:note].nil? %>
      <p class="govuk-body"><%= cooling_plant[:humidityControl][:note] %></p>
    <% end %>
<% end %>
</div>
