<div class="epc-blue-bottom executive-summary">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.air_handling_systems.title') %>
  </h2>

  <% assessment[:airHandlingSystems].each do |system| %>
    <h3 class="govuk-heading-m">
      <%= system[:equipment][:unit] %>: <%= system[:equipment][:component] %>
    </h3>

    <%== erb :component__summary_list, locals: {
      list: system[:equipment].reject{|k| [:unit, :component].include? k},
      translation_prefix: 'ac_report.sections.air_handling_systems.equipment.',
      skip_null: true
    } %>

    <h4 class="govuk-heading-s">
      <%= t('ac_report.sections.air_handling_systems.filters.title') %>
    </h4>

    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.filters.condition'),
      inspection: system[:inspection][:filters][:filterCondition]
    } %>
    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.filters.change_frequency'),
      inspection: system[:inspection][:filters][:changeFrequency]
    } %>
    <%== erb :ac_report__yes_no_flag, locals: {
      question: t('ac_report.sections.air_handling_systems.filters.differential_pressure_gauge'),
      inspection: system[:inspection][:filters][:differentialPressureGauge]
    } %>

<% end %>
</div>
