<h5 class="inspection_item govuk-heading-s govuk-!-margin-bottom-0">
  <%= question %>
</h5>

<p class="finding">
  <% unless inspection[:flag].nil? %>
    <% if inspection[:flag] %>
        <%= t('ac_report.flag.finding_yes') %>
    <% else %>
        <%= t('ac_report.flag.finding_no') %>
    <% end %>
  <% end %>
</p>

<% unless inspection[:note].nil? || inspection[:note].empty? %>
  <p class="govuk-body"><%= inspection[:note] %></p>
<% end %>

<% unless inspection[:recommendations].empty? %>
  <p class="govuk-body"><%=  t('ac_report.flag.recommendations')%></p>

  <ul class="govuk-list govuk-list--bullet">
    <% inspection[:recommendations]
         .sort{|a,b| a[:sequence].to_i <=> b[:sequence].to_i }
         .each do |r|%>
      <li><%= r[:text] %></li>

    <% end %>
  </ul>
<% end %>
