<div class="govuk-body epc-blue-bottom">
  <div class="epc-box govuk-!-margin-bottom-5">
    <div class="epc-rating-box">
      <% if defined?(rating_type) %>
        <p class="epc-rating-title govuk-body"><%= rating_type %></p>
      <% else %>
        <p class="epc-rating-title govuk-body"><%= t('component.epc_summary.title') %></p>
      <% end  %>
      <p class="epc-rating-result govuk-body"><%= energy_efficiency_band.upcase %></p>
    </div>

    <p class="epc-address govuk-body"><% unless occupier.nil? %><%= occupier %><br /><% end %><%==
      compact_address(
        [
          address[:addressLine1],
          address[:addressLine2],
          address[:addressLine3],
          address[:addressLine4]
        ],
        address[:town],
        address[:postcode]
      ).map{|e| CGI.escapeHTML(e)}.join('<br />') %>
    </p>
    <p class="govuk-body epc-extra-box">
      <label>
        <%= date_of_expiry < Date.today ?
             t('component.epc_summary_compact.certificate.expired')  :
              t('component.epc_summary_compact.certificate.valid_until')
        %></label>
      <b><%= date(date_of_expiry) %></b>
    </p>
    <p class="govuk-body epc-extra-box">
      <label><%= t('component.epc_summary.certificate_id') %></label>
      <b><%= assessment_id %></b>
    </p>
  </div>

  <% unless property_type.nil? || floor_area.nil? %>
    <%== erb :component__summary_list, locals: {
      list: {
        dwelling_type: property_type,
        total_floor_area: t('domestic_epc.summary.floor_area', total_floor_area: "%g" % floor_area) ,
      },
      translation_prefix: 'domestic_epc.sections.breakdown.list.',
      skip_null: true
    } %>
  <% end %>
</div>
