<% if (assessment[:dateOfExpiry] < Date.today && assessment[:supersededBy].nil?) && !print_view %>
  <div class="govuk-warning-text" >
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">
        <%= t('domestic_epc.expired_warning.title') %></span>
     <%= t('domestic_epc.expired_warning.message')%>
      <span class="govuk-!-display-none-print"><%= t('domestic_epc.expired_warning.link_prelude') %> <a class="govuk-link" href="<%=localised_url(set_subdomain_url("getting-new-energy-certificate"))%>">
        <%= t('domestic_epc.expired_warning.link_text') %></a>.</span>
    </strong>
  </div>
<% end %>
