<div class="govuk-body epc-blue-bottom">
  <div class="epc-box govuk-!-margin-bottom-5">
    <div class="epc-rating-box">
      <p class="epc-rating-title govuk-body"><%= t('component.epc_summary.title') %></p>
      <p class="epc-rating-result govuk-body"><%= energy_efficiency_band.upcase %></p>
    </div>
    <p class="epc-address govuk-body"><%== [address[:addressLine1],
                                            address[:addressLine2],
                                            address[:addressLine3],
                                            address[:addressLine4]].reject(&:nil?).reject(&:empty?).join('<br>') %><br><%= address[:town] %><br><%= address[:postcode] %></p>
    <p class="govuk-body epc-extra-box"><%= t('component.epc_summary.date_of_expiry', :date_of_expiry => Date.parse(date_of_expiry).strftime('%-d %B %Y')) %></p>
    <p class="govuk-body epc-extra-box">
      <label><%= t('component.epc_summary.certificate_id') %></label>
      <b><%= assessment_id %></b>
    </p>
  </div>
  <% unless property_type.nil? || floor_area.nil? %>
  <p class="govuk-body"><%=  t('component.epc_summary.property_info', property_type: property_type, total_floor_area: floor_area)  %></p>
  <%  end %>
</div>
