<div class="govuk-body epc-blue-bottom">
  <div class="epc-box-summary govuk-!-margin-bottom-5">
    <div class="epc-box-element epb-box-element-full-height govuk-body">
      <%==
        [
           assessment[:addressLine1],
           assessment[:addressLine2],
           assessment[:addressLine3],
           assessment[:addressLine4],
           assessment[:town],
           assessment[:postcode],
        ].compact.reject(&:empty?).map { |line| "<span>#{line}</span>" }.join("\n")
      %>
    </div>
    <div class="epc-box-element">
      <div class="govuk-body epc-extra-box">
        <label><%=
          t('non_domestic_epc.rr.summary.certificate_id')
        %></label>
        <b><%= assessment[:assessmentId] %></b>
      </div>

      <div class="govuk-body epc-extra-box">
        <label><%=
          t('non_domestic_epc.rr.summary.valid_until')
        %></label>
        <b><%= Date.parse(assessment[:dateOfExpiry]).strftime('%-d %B %Y') %></b>
      </div>
    </div>

  </div>

  <%== erb :component__print %>
</div>
