<div id="other_certificates_and_reports" class="epc-blue-bottom printable-area govuk-body">
  <h2 class="govuk-heading-l"><%= t('component.related.title', type: type).capitalize %></h2>
  <p class="govuk-body">
    <%== t('component.related.message', type: type, link: '<span style="white-space: nowrap;"><a class="govuk-link" href="' + t('component.related.link') + '">' + t('component.related.cta') + "</a></span>") %>
  </p>
  <% if related_assessments(assessment, assessment_type).empty? %>
    <p class="govuk-body"><%= t('component.related.no_related', type: type) %></p>
  <% else %>
    <dl class="govuk-summary-list">
      <% assessment[:relatedAssessments].each do |related_assessment| %>
        <% if related_assessment[:assessmentType] == assessment_type || (%w[RdSAP SAP].include?(assessment_type) && %w[RdSAP SAP].include?(related_assessment[:assessmentType])) %>
        <% next if related_assessment[:assessmentStatus] == "CANCELLED" || related_assessment[:assessmentStatus] == "NOT_FOR_ISSUE" %>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              <% if type == t('component.related.report') %>
                <%= t('component.related.reference_number_report') %>
                <% else %>
                <%= t('component.related.reference_number_certificate') %>
              <% end %>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <a class="govuk-link" href="<%= localised_url('/energy-certificate/' + related_assessment[:assessmentId]) %>"><%= related_assessment[:assessmentId] %></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              <% if related_assessment[:assessmentStatus] == "EXPIRED" %>
              <%= t('component.related.expired_on')  %>
                <% else %><%= t('component.related.valid_until')  %>
              <% end %>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <% if related_assessment[:assessmentStatus] == "EXPIRED" %>
                <div>
                  <span class="govuk-!-margin-right-2"> <%= date(related_assessment[:assessmentExpiryDate]) %></span>
                </div>
                <% else %><%=
              date(related_assessment[:assessmentExpiryDate])
            %><% end %></dd>
          </div>
        <% end %>
      <% end %>
    </dl>
  <% end %>
</div>
