<dl class="govuk-summary-list">

  <% list.each do |key, value| %>
    <%
      type = "string"
      print = true
      numerical = false
      link = ""
      prefix = nil
      suffix = nil

      if value.class == Hash
        type = value[:type]
        print = value.key?(:print) ? value[:print] : true
        link = value[:link]
        numerical = value[:numerical]
        prefix = value[:prefix]
        suffix = value[:suffix]
        value = value[:value]
      end

      if value.nil? && skip_null
        next
      end
      value = prefix + value.to_s unless prefix.nil?
      value = value.to_s + suffix unless suffix.nil?
    %>

    <div class="govuk-summary-list__row<%= print ? "" : " govuk-!-display-none-print" %>">
      <dt class="govuk-summary-list__key<% unless defined?(print_view) && print_view %> govuk-!-width-one-half<% end %>"><%= translation_prefix ? t(translation_prefix + key.to_s) : key.to_s %></dt>
      <dd class="govuk-summary-list__value<% unless defined?(print_view) && print_view %> govuk-!-width-one-half<% end %><%= numerical ? " govuk-table__cell--numeric" : "" %>">
        <%
          case type
          when "email"
            %>
              <a class="govuk-link" href="mailto:<%= value.downcase %>"><%= value.downcase %></a>
            <%
          when "details"
            %>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text"><%= value %></span>
                </summary>
                <div class="govuk-details__text" id="description">
                  <%= t("domestic_epc.sections.information.certificate.list.#{value.downcase}_description_first_part") %>
                  <br /><br />
                  <%= t("domestic_epc.sections.information.certificate.list.#{value.downcase}_description_second_part") %>
                </div>
              </details>
            <%
          when "link"
              %>
                <a class="govuk-link" href="<%= link %>"><%= value %></a>
              <%
          else
            %>
              <%= value %>
            <%
          end
        %>
      </dd>
    </div>
  <% end %>
</dl>
