<% if (assessment[:dateOfExpiry] < Date.today && assessment[:supersededBy].nil?) && print_view%>
  <div class="govuk-body epc-blue-bottom printable-area">
    <div class="govuk-warning-text" >
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden"><%= t("component.expired_warning.title") %></span>
        <p class="govuk-body"> <%= t("component.expired_print_version.#{defined?(type) ? type : 'certificate'}_title") %></p>
        <p class="govuk-body govuk-!-margin-top-6"><%= t("component.expired_print_version.#{defined?(type) ? type : 'certificate'}_link_text") %></p>
        <p class="govuk-body govuk-!-font-weight-bold"><%= t("component.expired_print_version.#{defined?(type) ? type : 'certificate'}_get_help_text") %></p>
        <p class="govuk-body"><%= t("component.expired_print_version.#{defined?(type) ? type : 'certificate'}_contact_text") %></p>
        <p class="govuk-body"><%= t("component.expired_print_version.email") %> <br>
          <%= t("component.expired_print_version.telephone") %> <%= t("component.expired_print_version.telephone_number") %></p><br>
      </strong>
    </div>
  </div>
<% end %>
