<div class="govuk-body epc-blue-bottom">
  <div class="epc-box-summary govuk-!-margin-bottom-5">
    <div class="epc-box-element epb-box-element-full-height govuk-body">
      <%==
        compact_address(
          [
            assessment[:address][:addressLine1],
            assessment[:address][:addressLine2],
            assessment[:address][:addressLine3],
            assessment[:address][:addressLine4]
          ],
          assessment[:address][:town],
          assessment[:address][:postcode],
        ).map { |line| "<span>#{line}</span>" }.join("\n")
      %>
    </div>
    <div class="epc-box-element">
      <div class="govuk-body epc-extra-box">
        <label><%= t("component.epc_summary_compact.#{type}.identifier") %></label>
        <span class="govuk-!-font-weight-bold"><%= assessment[:assessmentId] %></span>
      </div>

      <div class="govuk-body epc-extra-box">
        <label><%= assessment[:dateOfExpiry] < Date.today ?
                     t("component.epc_summary_compact.#{type}.expired") :
                     t("component.epc_summary_compact.#{type}.valid_until")
        %></label>
        <span class="govuk-!-font-weight-bold"><%= date(assessment[:dateOfExpiry]) %></span>
      </div>
    </div>
  </div>
</div>
