<div class="print-view print-summary">
  <span class="print-summary-address print-summary-section">
    <p class="print-summary-text"><%== [address[:addressLine1],
              address[:addressLine2],
              address[:addressLine3],
              address[:addressLine4]].reject(&:nil?).reject(&:empty?).join('<br>') %><br><%= address[:town] %><br><%= address[:postcode] %></p>
  </span>
  <span class="print-summary-rating print-summary-section">
      <p class="print-summary-text govuk-body"><%= t('component.epc_summary.title') %></p>
      <p class="print-summary-rating-band govuk-body"><%= energy_efficiency_band.upcase %></p>
  </span>
  <span class="print-summary-details print-summary-section">
        <div class="print-summary-details-row">
      <span class="govuk-body key">Certificate number:</span>
      <span class="govuk-body value"><%= assessment_id %></span>
    </div>
    <div class="print-summary-details-row">
      <span class="govuk-body key">Vaild until:</span>
      <span class="govuk-body value"><%= date_of_expiry %></span>
    </div>
    <div class="print-summary-details-row">
      <span class="govuk-body key">Total useful floor area:</span>
      <span class="govuk-body value"><%= floor_area %></span>
    </div>
  </span>
</div>
