<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("cookies.title") %></h1>
    <p class="govuk-body"><%= t("cookies.intro") %></p>

    <div class="govuk-inset-text">
      <p class="govuk-body"><%=t("cookies.dont_worry") %></p>
    </div>

    <h2 class="govuk-heading-m"><%= t("cookies.measure.title") %></h2>
    <p class="govuk-body"><%= t("cookies.measure.analytics") %></p>
    <p class="govuk-body"><%= t("cookies.measure.list.title") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t("cookies.measure.list.1") %></li>
      <li><%= t("cookies.measure.list.2") %></li>
      <li><%= t("cookies.measure.list.3") %></li>
    </ul>

    <p class="govuk-body"><%= t("cookies.dont_worry_again") %></p>

    <form action="/" onsubmit="if(document.getElementById('cookies-setting').checked === true) {cookies.create('cookie_consent',  'true');} return true;">
      <input type="hidden" name="lang" value="<%= I18n.locale %>" />
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="cookies-setting-fieldset" aria-required="true">
          <legend class="govuk-fieldset__legend govuk-visually-hidden"><%= t("cookies.form_title") %></legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cookies-setting" name="cookies-setting" type="radio" value="true" />
              <label class="govuk-label govuk-radios__label" id="cookies-setting-true-label" for="cookies-setting">
                <%= t("cookies.form_yes") %>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cookies-setting-false" name="cookies-setting" type="radio" value="false" />
              <label class="govuk-label govuk-radios__label" id="cookies-setting-false-label" for="cookies-setting-false">
                <%= t("cookies.form_no") %>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button name="cookies-setting-button" class="govuk-button button" data-module="govuk-button" id="cookies-setting-button">
        <%= t("cookies.form_save") %>
      </button>
    </form>
  </div>
</div>
