<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate/search-by-postcode')%>"
        onclick="if(document.referrer.indexOf(location.protocol+'//'+location.host)===0) {window.history.back(); return false;} else {return true;}"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('dec.top_heading') %></h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <hr class="epc-blue-top" />
    <%== erb :component__contents, locals: {
      title: t("dec.sections.contents.title"),
      sections: [
        {
          link: '#print_certificate',
          text: 'dec.sections.print_certificate.title'
        },
        {
          link: '#rating',
          text: 'dec.sections.rating.title'
        },
        {
          link: '#recommendation_report',
          text: 'dec.sections.recommendation_report.title'
        },
        {
          link: '#technical_information',
          text: 'dec.sections.technical_information.title'
        },
        {
          link: '#previous_energy_ratings',
          text: 'dec.sections.previous_energy_ratings.title'
        },
        {
          link: '#co2',
          text: 'dec.sections.co2.title'
        },
        {
          link: '#administrative_information',
          text: 'dec.sections.administrative_information.title'
        },
        {
          link: '#other_certificates',
          text: 'component.related.certificates.title'
        }
      ]
    } %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />

    <%== erb :component__epc_summary, locals: {
      energy_efficiency_band: assessment[:currentAssessment][:energyEfficiencyBand],
      address: assessment[:address],
      date_of_expiry: assessment[:dateOfExpiry],
      assessment_id: assessment[:assessmentId],
      property_type: nil,
      custom_print: true,
      rating_type: t('dec.sections.previous_energy_ratings.energy_rating')
    } %>

    <%== erb :dec__print_certificate %>

    <div class="column-l">
      <%== erb :dec__rating, locals: {
        assessment: assessment,
      } %>

      <%== erb :dec__recommendation_report, locals: {
        administrative_information: assessment[:administrativeInformation]
      } %>

      <%== erb :dec__technical_information, locals: {
        assessment: assessment,
      } %>
    </div>
    <div class="column-r">
      <%== erb :dec__previous_energy_ratings, locals: {
        current: assessment[:currentAssessment],
        year1: assessment[:year1Assessment],
        year2: assessment[:year2Assessment],
      } %>

      <%== erb :dec__co2, locals: {
        current: assessment[:currentAssessment],
        year1: assessment[:year1Assessment],
        year2: assessment[:year2Assessment],
      } %>

      <%== erb :dec__administrative_information, locals: {
        assessment: assessment,
        address: assessment[:address],
        assessor: assessment[:assessor],
        administrative_information: assessment[:administrativeInformation]
      } %>
    </div>
    <div id="other_certificates">
      <%== erb :component__related_assessments, locals: {
        assessment: assessment,
        type: 'certificate',
        assessment_type:  assessment[:typeOfAssessment],
      } %>
    </div>
  </div>
</div>
