<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate')%>"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('dec.top_heading') %></h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <hr class="epc-blue-top" />
    <%== erb :component__contents, locals: {
      title: t("dec.sections.contents.title"),
      sections: [
        {
          link: '#print_certificate',
          text: 'dec.sections.print_certificate.title'
        },
        {
          link: '#rating',
          text: 'dec.sections.rating.title'
        },
        {
          link: '#recommendation_report',
          text: 'dec.sections.recommendation_report.title'
        },
        {
          link: '#technical_information',
          text: 'dec.sections.technical_information.title'
        },
        {
          link: '#previous_energy_ratings',
          text: 'dec.sections.previous_energy_ratings.title'
        },
        {
          link: '#co2',
          text: 'dec.sections.co2.title'
        },
        {
          link: '#administrative_information',
          text: 'dec.sections.administrative_information.title'
        },
        {
          link: '#other_certificates',
          text: 'component.related.certificates.title'
        }
      ]
    } %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />

    <%== erb :component__epc_summary, locals: {
      energy_efficiency_band: assessment[:currentAssessment][:energyEfficiencyBand],
      address: assessment[:address],
      date_of_expiry: assessment[:dateOfExpiry],
      assessment_id: assessment[:assessmentId],
      property_type: nil,
      custom_print: true,
      rating_type: t('dec.sections.previous_energy_ratings.energy_rating')
    } %>

    <div id="print_certificate" class="govuk-body epc-blue-bottom">
      <h2 class="govuk-heading-l"><%= t('dec.sections.print_certificate.title') %></h2>
      <p class="govuk-body"><%= t('dec.sections.print_certificate.discription') %></p>
      <div class="component__print govuk-!-display-none-print">
        <a href="<%= request.path_info + (request.path_info.include?("?") ? "&" : "?") %>print=true" class="govuk-link govuk-!-margin-bottom-5" id="link"><%= t('dec.sections.print_certificate.open_print_version') %></a>
      </div>
    </div>

    <div class="column-l">
      <%== erb :dec__rating, locals: {
        assessment: assessment,
      } %>

      <% if  assessment[:administrativeInformation][:relatedRrn]%>
        <div id="recommendation_report" class="govuk-body epc-blue-bottom">
          <h2 class="govuk-heading-l"><%= t('dec.sections.recommendation_report.title') %></h2>
          <p class="govuk-body"><%==
            t('dec.sections.recommendation_report.text',
              link: '<a href="' + localised_url('/energy-performance-certificate/' + assessment[:administrativeInformation][:relatedRrn]) + '">' +
                t('dec.sections.recommendation_report.cta') + '</a>')
          %></p>
        </div>
      <% end %>

      <%== erb :dec__technical_information, locals: {
        assessment: assessment,
      } %>
    </div>
    <div class="column-r">
      <%== erb :dec__previous_energy_ratings, locals: {
        current: assessment[:currentAssessment],
        year1: assessment[:year1Assessment],
        year2: assessment[:year2Assessment],
      } %>

      <%== erb :dec__co2, locals: {
        current: assessment[:currentAssessment],
        year1: assessment[:year1Assessment],
        year2: assessment[:year2Assessment],
      } %>

      <%== erb :dec__administrative_information, locals: {
        assessment: assessment,
        address: assessment[:address],
        assessor: assessment[:assessor],
        administrative_information: assessment[:administrativeInformation]
      } %>
    </div>
    <div id="other_certificates">
      <%== erb :component__related_assessments, locals: {
        assessment: assessment,
        section_heading: t('component.related.title', type: assessment[:typeOfAssessment]),
        reminder: t('component.related.certificates.text', contact_centre_number: t('contact.help_desk_number')),
        no_related_text: t('component.related.certificates.no_related_certificates'),
        assessment_type: assessment[:typeOfAssessment],
        heading_report_reference: t('component.related.reference_number'),
        heading_valid_until: t('component.related.valid_until'),
        expired_text: t('component.related.expired'),
      } %>
    </div>
  </div>
</div>
