<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate')%>"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('dec.top_heading') %></h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <hr class="epc-blue-top" />
    <%== erb :component__contents, locals: {
      title: t("dec.sections.contents.title"),
      sections: [
        {
          link: '#rating',
          text: 'dec.sections.rating.title'
        },
        {
          link: '#previous_operational_ratings',
          text: 'dec.sections.previous_operational_ratings.title'
        },
        {
          link: '#co2',
          text: 'dec.sections.co2.title'
        },
        {
          link: '#technical_information',
          text: 'dec.sections.technical_information.title'
        }
      ]
    } %>
  </div>
  <div class="govuk-grid-column-two-thirds epc-blue-bottom">
    <hr class="epc-light-top" />
    <%== erb :component__epc_summary, locals: {
      energy_efficiency_band: assessment[:currentAssessment][:energyEfficiencyBand],
      address: assessment[:address],
      date_of_expiry: assessment[:dateOfExpiry],
      assessment_id: assessment[:assessmentId],
      property_type: nil,
    } %>

    <%== erb :dec__rating, locals: {
      assessment: assessment,
    } %>

    <%== erb :dec__previous_operational_ratings, locals: {
      current: assessment[:currentAssessment],
      year1: assessment[:year1Assessment],
      year2: assessment[:year2Assessment],
    } %>

    <%== erb :dec__co2, locals: {
      current: assessment[:currentAssessment],
      year1: assessment[:year1Assessment],
      year2: assessment[:year2Assessment],
    } %>

    <%== erb :dec__technical_information, locals: {
      assessment: assessment,
    } %>

    <%== erb :dec__administrative_information, locals: {
      assessment: assessment,
      address: assessment[:address],
      assessor: assessment[:assessor],
      administrative_information: assessment[:administrativeInformation]
    } %>

    <%== erb :component__related_assessments, locals: {
      relatedAssessments: assessment[:relatedAssessments],
      section_title: t('non_domestic_epc.sections.other_reports.title'),
      heading_certificate_reference: t('non_domestic_epc.sections.other_reports.certificate_reference'),
      heading_valid_until: t('non_domestic_epc.sections.other_reports.valid_until'),
      expired_text: t('non_domestic_epc.sections.other_reports.expired'),
      no_related_assessments: t('non_domestic_epc.sections.other_reports.no_related')
    } %>
  </div>
</div>
