<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate')%>"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('dec.top_heading') %></h1>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%== erb :component__epc_summary, locals: {
      energy_efficiency_band: assessment[:energyEfficiencyBand],
      address: assessment[:address],
      date_of_expiry: assessment[:dateOfExpiry],
      assessment_id: assessment[:assessmentId],
      property_type: nil,

    }
    %>

    <%== erb :dec__rating, locals: {
      assessment: assessment,
    } %>
  </div>
</div>
