<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <h1 class="govuk-heading-xl printable-area"><%= t('dec_rr.top_heading') %></h1>
    </div>
  </div>


  <div class="govuk-grid-column-one-third govuk-!-display-none-print">
    <hr class="epc-blue-top" />
    <%== erb :component__contents, locals: {
      title: t("dec_rr.sections.contents.title"),
      sections: [
        {
          link: '#rating',
          text: 'dec_rr.sections.rating.title',
          hidden: assessment[:relatedRrn].nil? || assessment[:relatedRrn].empty? || assessment[:energyBandFromRelatedCertificate].nil?
        },
        {
          link: '#recommendations',
          text: 'component.recommendations.title'
        },
        {
          link: '#building',
          text: 'dec_rr.sections.building.title'
        },
        {
          link: '#assessor',
          text: 'dec_rr.sections.assessor.title'
        },
        {
          link: '#other_certificates_and_reports',
          text: 'component.related.reports.title'
        }
      ]
    } %>

    <%== erb :component__share_certificate, locals: {
      type: 'report',
      top_heading: 'dec_rr',
      assessment: assessment,
      dec: false ,
    } %>
  </div>
  <div class="govuk-grid-column-two-thirds epc-dec-rr-sections">
    <hr class="epc-blue-top" />
    <%== erb :component__epc_expired, locals: {
      assessment: assessment,
      print_view: print_view,
      type: "report"
    } %>

    <%== erb :component__expired_print_version, locals: {
      type: 'report',
      assessment: assessment,
      print_view: print_view,
    } %>

    <%== erb :component__epc_superseded, locals: {
      assessment: assessment,
      print_view: print_view,
      type: "report"
    } %>

    <%== erb :component__epc_superseded_print_version, locals: {
      assessment: assessment,
      print_view: print_view,
      type: "report",
    } %>

    <%== erb :component__epc_summary_compact, locals: {
      assessment: assessment,
      type: 'report',
    } %>

    <% unless assessment[:relatedRrn].nil? || assessment[:relatedRrn].empty? || assessment[:energyBandFromRelatedCertificate].nil? %>
      <%== erb :dec_recommendation_report__rating, locals: {
        assessment: assessment,
      } %>
    <% end %>

    <%== erb :component__non_domestic_recommendations, locals: {
      assessment: assessment,
    } %>

    <%== erb :dec_recommendation_report__building_report_details, locals: {
      assessment: assessment,
    } %>

    <%== erb :dec_recommendation_report__assessor_details, locals: {
      assessment: assessment,
    } %>

    <% unless print_view %>
    <%== erb :component__related_assessments, locals: {
      assessment: assessment,
      type: t('component.related.report'),
      assessment_type:  assessment[:typeOfAssessment],
    } %>
    <% end %>

  </div>
</div>
</div>
<% if print_view %>
  <%== erb :partial__print_view_js %>
<% end %>
