<div id="administrative_information" class="epc-blue-bottom">
  <h2 class="govuk-heading-l"><%=
    t('dec.sections.administrative_information.title')
  %></h2>
  <p class="govuk-body"><%=
    t('dec.sections.administrative_information.description')
  %></p>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.assessment_software')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        administrative_information[:calculationTool]
      %></dd>
    </div>

    <% if address[:addressId] %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
          t('dec.sections.administrative_information.property_reference')
        %></dt>
        <dd class="govuk-summary-list__value"><%=
          address[:addressId]
        %></dd>
      </div>
    <% end %>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.assessor_name')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        assessor[:name]
      %></dd>
    </div>

    <% if assessor[:contactDetails].key?(:telephoneNumber) && !assessor[:contactDetails][:telephoneNumber].empty? %>
      <div class="govuk-summary-list__row" id="phone">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.information.assessor.list.telephone') %></dt>
        <dd class="govuk-summary-list__value"><%= assessor[:contactDetails][:telephoneNumber] %></dd>
      </div>
    <% end %>
    <% if assessor[:contactDetails].key?(:email) && !assessor[:contactDetails][:email].empty? %>
      <div class="govuk-summary-list__row" id="email">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.information.assessor.list.email') %></dt>
        <dd class="govuk-summary-list__value"><a href="mailto:<%= assessor[:contactDetails][:email] %>"><%= assessor[:contactDetails][:email] %></a></dd>
      </div>
    <% end %>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.assessor_number')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        assessor[:schemeAssessorId]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.scheme_name')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        assessor[:registeredBy][:name]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.company_name')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        assessor[:companyDetails][:name]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.company_address')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        assessor[:companyDetails][:address]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.issue_date')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        date(administrative_information[:issueDate])
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.nominated_date')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        date(assessment[:currentAssessment][:date])
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.valid_until')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        date(assessment[:dateOfExpiry])
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.related_party_disclosure')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        party_disclosure(
          administrative_information[:relatedPartyDisclosure].nil? ?
            "8" :
            administrative_information[:relatedPartyDisclosure], "", "dec_disclosure_code", "dec"
        )
      %></dd>
    </div>
  </dl>
  <p><%==
    t('dec.sections.administrative_information.related_report.text',
      link: "<a href=\"../energy-performance-certificate/#{administrative_information[:relatedRrn]}\">" +
        t('dec.sections.administrative_information.related_report.cta') + '</a>')
  %></p>
</div>
