<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      <a href="<%= localised_url('/find-a-non-domestic-certificate')%>"
         class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
    </div>
  </div>
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('dec_rr.top_heading') %></h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />
    <%== erb :component__epc_summary_compact,
             locals: {
               assessment: assessment,
             }
    %>
    <%== erb :non_domestic_energy_performance_certificate_recommendation_report__recommendations,
             locals: {
               assessment: assessment,
             }
    %>
  </div>
</div>
