<div class="epc-blue-bottom">
  <h2 class="govuk-heading-l"><%=
    t('dec.sections.co2.heading')
  %></h2>

  <p class="govuk-body"><%=
    t('dec.sections.co2.explanation')
  %></p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%=
        t('dec.sections.co2.col.date')
      %></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"><%=
        t('dec.sections.co2.col.electricity')
      %></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"><%=
        t('dec.sections.co2.col.heating')
      %></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"><%=
        t('dec.sections.co2.col.renewables')
      %></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%== erb :dec__co2__row, locals: {
        year: current,
      }
      %>

      <% unless year1.values.include?(nil) %>
        <%== erb :dec__co2__row, locals: {
          year: year1,
        }
        %>
      <% end %>

      <% unless year2.values.include?(nil) %>
        <%== erb :dec__co2__row, locals: {
          year: year2,
        }
        %>
      <% end %>
    </tbody>
  </table>
</div>
