<h2 class="govuk-heading-l"><%=
  t('dec.sections.administrative_information.title')
%></h2>
<p class="govuk-body"><%=
  t('dec.sections.administrative_information.description')
%></p>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
      t('dec.sections.administrative_information.assessment_software')
    %></dt>
    <dd class="govuk-summary-list__value"><%=
      assessment[:administrativeInformation][:calculationTool]
    %></dd>
  </div>

  <% if assessment[:address][:addressId] %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('dec.sections.administrative_information.property_reference')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        assessment[:address][:addressId]
      %></dd>
    </div>
  <% end %>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
      t('dec.sections.administrative_information.assessor_name')
    %></dt>
    <dd class="govuk-summary-list__value"><%=
      assessment[:assessor][:name]
    %></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
      t('dec.sections.administrative_information.assessor_number')
    %></dt>
    <dd class="govuk-summary-list__value"><%=
      assessment[:assessor][:schemeAssessorId]
    %></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
      t('dec.sections.administrative_information.scheme_name')
    %></dt>
    <dd class="govuk-summary-list__value"><%=
      assessment[:assessor][:registeredBy][:name]
    %></dd>
  </div>
</dl>
