<div id="rating" class="govuk-body epc-blue-bottom">
  <h2 class="govuk-heading-l"><%= t('dec.sections.rating.title') %></h2>
  <p class="govuk-body"><%= t('dec.sections.rating.emissions_text') %></p>
  <p class="govuk-body"><%= t('dec.sections.rating.text') %></p>
  <p class="govuk-body"><%= t('dec.sections.rating.typical_text') %></p>

  <%== erb :dec__svg_rating, locals: {
    title: t('dec.sections.rating.svg_title', energy_efficiency_band: assessment[:energyEfficiencyBand], energy_efficiency_rating: assessment[:energyEfficiencyRating]),
    energy_efficiency_band: assessment[:currentAssessment][:energyEfficiencyBand],
    energy_efficiency_rating: assessment[:currentAssessment][:energyEfficiencyRating]
  } %>
  <%== erb :dec__print__svg_rating, locals: {
    title: t('dec.sections.rating.svg_title', energy_efficiency_band: assessment[:energyEfficiencyBand], energy_efficiency_rating: assessment[:energyEfficiencyRating]),
    energy_efficiency_band: assessment[:currentAssessment][:energyEfficiencyBand],
    energy_efficiency_rating: assessment[:currentAssessment][:energyEfficiencyRating]
  } %>

  <p class="govuk-body govuk-!-display-none-print"><%== t('dec.sections.rating.guidance_text', :link => '<a href="' + t('dec.sections.rating.url') + '">' + t('dec.sections.rating.cta') + '</a>') %></p>
</div>
