<%# port of nunjucks macro to ERB for the gov.uk design system accordion component, @see https://design-system.service.gov.uk/components/accordion/ %>
<%# NB. there is an additional supported parameter defined here: a heading on an item can have a `prefix` %>
<div class="<%= ['govuk-accordion', defined?(classes) ? h(classes) : nil].compact.join(' ') %>" data-module="govuk-accordion" id="<%= h(id) %>"
<% if defined?(hideAllSectionsText) %>
  data-i18n.hide-all-sections="<%= h(hideAllSectionsText) %>"
<% end -%>
<% if defined?(hideSectionText) %>
  data-i18n.hide-section="<%= h(hideSectionText) %>"
<% end -%>
<% if defined?(hideSectionAriaLabelText) %>
  data-i18n.hide-section-aria-label="<%= h(hideSectionAriaLabelText) %>"
<% end -%>
<% if defined?(showAllSectionsText) %>
  data-i18n.show-all-sections="<%= h(showAllSectionsText) %>"
<% end -%>
<% if defined?(showSectionText) %>
  data-i18n.show-section="<%= h(showSectionText) %>"
<% end -%>
<% if defined?(showSectionAriaLabelText) %>
  data-i18n.show-section-aria-label="<%= h(showSectionAriaLabelText) %>"
<% end -%>
<% if defined?(rememberExpanded) %>
  data-remember-expanded="<%= rememberExpanded ? "true" : "false" %>"
<% end -%>
<% if defined?(attributes) %>
  <%== attributes.map { |attr, val| '%s="%s"' % [attr, h(val)] }.join(' ') %>
<% end -%>
>
<% items.each_with_index do |item, index| %><% if item && item.to_s.length > 1 %>
    <div class="<%= ['govuk-accordion__section', item[:expanded] ? 'govuk-accordion__section--expanded' : nil].compact.join(' ') %>">
      <div class="govuk-accordion__section-header">
        <h<%= (defined?(headingLevel) ? headingLevel : nil) || "2" %> class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="<%= h(id) %>-heading-<%= index+1 %>">
            <% if item[:heading][:prefix] %><span class="govuk-visually-hidden"><%= item[:heading][:prefix] %></span><% end %>
            <% if item[:heading][:html] %><%== item[:heading][:html] %><% else %><%= item[:heading][:text] ? h(item[:heading][:text]) : '' %><% end %>
          </span>
        </h<%= (defined?(headingLevel) ? headingLevel : nil) || "2" %>>
        <% if item[:summary] && (item[:summary][:html] || item[:summary][:text]) %>
        <div class="govuk-accordion__section-summary govuk-body" id="<%= h(id) %>-summary-<%= index+1 %>">
          <% if item[:summary][:html] %><%== item[:summary][:html] %><% else %><%= h(item[:summary][:text]) %><% end %>
        </div>
        <% end %>
      </div>
      <div id="<%= h(id) %>-content-<%= index+1 %>" class="govuk-accordion__section-content">
        <% if item[:content] %><% if item[:content][:html] %><%== item[:content][:html] %><% else %><%== item[:content][:text] ? "<p class=\"govuk-body\">#{h(item[:content][:text])}</p>" : '' %><% end %><% end %>
      </div>
    </div>
<% end %><% end %>
</div>
