<% successBanner = defined?(type) && type == 'success' -%>
<% typeClass = successBanner ? "govuk-notification-banner--#{type}" : nil -%>
<% resolved_role =  if defined?(role) && role
                      role
                    else
                      successBanner ? 'alert' : 'region'
                    end -%>
<% title = if defined?(titleHtml) && titleHtml
             titleHtml
           elsif defined?(titleText) && titleText
             titleText
           else
             successBanner ? 'Success' : 'Important'
           end
-%>
<% titleAsText = !(defined?(titleHtml) && titleHtml) && defined?(titleText) && titleText %>
<% headingLevel = (defined?(titleHeadingLevel) && titleHeadingLevel) ? titleHeadingLevel.to_s : '2'
-%>

<div class="govuk-notification-banner<% if typeClass %> <%= typeClass %><% end %><% if defined?(classes) && classes %> <%= classes %><% end %>" role="<%= resolved_role %>"
     aria-labelledby="<%= (defined?(titleId) && titleId) ? titleId : 'govuk-notification-banner-title' %>"
     data-module="govuk-notification-banner"
     <%- if defined?(disableAutoFocus) %> data-disable-auto-focus="<%= disableAutoFocus ? 'true' : 'false' %>"<% end -%>
     <%- unless !defined?(attributes) || attributes.nil? || attributes.empty? %> <%== attributes.map { |attr, val| '%s="%s"' % [attr, CGI.escape_html(val.to_s)] }.join(' ') %><% end %>>
    <div class="govuk-notification-banner__header">
      <h<%= headingLevel %> id="<%= (defined?(titleId) && titleId) ? titleId : 'govuk-notification-banner-title' %>" class="govuk-notification-banner__title">
        <% if titleAsText %><%= title %><% else %><%== title %><% end %>
      </h<%= headingLevel %>>
    </div>
    <div class="govuk-notification-banner__content">
      <% if defined?(html) && html -%>
      <%== html %>
      <% elsif defined?(text) && text %>
      <p class="govuk-notification-banner__heading"><%= text %></p>
      <% end %>
    </div>
</div>
