<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">
      <%= assessment[:address_summary] %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= t('domestic_epc.top_heading') %>
    </h1>

    <div class="govuk-grid-row govuk-!-margin-bottom-8">
      <div class="govuk-grid-column-one-half govuk-!-margin-left-4";>
        <div class="epc-box epc-box-two-third-width govuk-!-padding-left-1 govuk-!-padding-top-6"  style="height: 170px;">
          68 Primrose Hill<br />
          The delight town<br />
          County<br />
        </div>
        <div class="epc-box epc-box-one-third-width epc-box-single-line-height">
          Energy Rating
        </div>
        <div class="epc-box epc-box-one-third-width" style="line-height: 112px;">
          <div class="epc-band-rating">A</div>
        </div>
        <div class="epc-box epc-box-single-line-height">
          <div class="epc-date-of-expiry">Valid until 05/01/2022 </div>
        </div>
        <div class="epc-box epc-box-single-line-height">
          Certificate Number
        </div>
        <div class="epc-box epc-box-single-line-height">
          1234-6789-1234-14244
        </div>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-8">
      <h1 class="govuk-heading-l">
        Why does this certificate exists?
      </h1>

      <p class="govuk-body">
        Helping the occupant save money on their energy bills
      </p>

      <p class="govuk-body">
        Reducing illness caused by energy inefficient dwellings
      </p>

      <p class="govuk-body">
        Helping the UK tackle climate change
      </p>
    </div>

    <%= erb :energy_rating, locals: {
      current_energy_efficiency_rating: assessment[:current_energy_efficiency_rating],
      potential_energy_efficiency_rating: assessment[:potential_energy_efficiency_rating],
      current_energy_efficiency_band: assessment[:current_energy_efficiency_band],
      potential_energy_efficiency_band: assessment[:potential_energy_efficiency_band] } %>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('domestic_epc.labels.certificate_number') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= assessment[:assessment_id] %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('domestic_epc.labels.type_of_assessment') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= assessment[:type_of_assessment] %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('domestic_epc.labels.date_of_assessment') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= assessment[:date_of_assessment] %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('domestic_epc.labels.date_of_certificate') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= assessment[:date_registered] %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('domestic_epc.labels.total_floor_area') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= assessment[:total_floor_area] %> m<sup>2</sup>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('domestic_epc.labels.dwelling_type') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= assessment[:dwelling_type] %>
        </dd>
      </div>
    </dl>
  </div>
</div>
