<div class="govuk-grid-column-one-third"><br></div>
<div class="govuk-grid-column-two-thirds">
  <a id="related_asssesments"></a>
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.related_assessments.title')%></h2>

  <% assessment[:relatedAssessments].each do |related_assessment| %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-!-font-weight-bold"><%= t('domestic_epc.sections.related_assessments.certificate_number_col')%></p>
      </div>
      <div class="govuk-grid-column-one-half govuk-body">
        <a href="<%=localised_url('/energy-performance-certificate/' + related_assessment[:assessmentId])%>"><%=related_assessment[:assessmentId]%></a>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-!-font-weight-bold"><%= t('domestic_epc.sections.related_assessments.valid_until')%></p>
      </div>
      <div class="govuk-grid-column-one-half govuk-body">
        <% if related_assessment[:assessmentStatus] == "EXPIRED" %>
          <b class="expired-text"><%= date(related_assessment[:assessmentExpiryDate]) %> (<%= t('domestic_epc.sections.related_assessments.expired')%>)</b>
        <% else %>
          <b><%= t('domestic_epc.sections.related_assessments.valid_until')%> <%= date(related_assessment[:assessmentExpiryDate]) %></b>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
