<div class="govuk-body epc-blue-bottom">
  <a id="summary"></a>
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.breakdown.title') %></h2>

  <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.intro') %></p>
  <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.assessment_rating_explaination') %></p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.very_good') %></li>
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.good') %></li>
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.average') %></li>
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.poor') %></li>
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.very_poor') %></li>
  </ul>
  <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.not_inspected') %></p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Feature</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Rating</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
      <% assessment[:propertySummary]&.each do |property_item| %>
        <% if property_item[:energyEfficiencyRating].to_i > 0 %>
          <th class="govuk-table__cell govuk-!-font-weight-regular"><%= t("property_summary.type." + property_item[:name])%></th>
          <td class="govuk-table__cell"><%=property_item[:description]%></td>
          <td class="govuk-table__cell"><%=t('energy_performance_rating.' + property_item[:energyEfficiencyRating].to_s + '.energy_performance')%></td>
        <% end %>
      </tr>
    </tbody>
    <% end %>
  </table>

  <h2 class="govuk-heading-m"><%= t('domestic_epc.sections.breakdown.primary_energy_use') %></h2>
  <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.primary_energy_use_description', :primary_energy => assessment[:primaryEnergyUse]) %></p>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text"><%= t('domestic_epc.sections.breakdown.primary_energy_use_dropdown.what_is_primary_energy_use_title') %></span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.primary_energy_use_dropdown.what_is_primary_energy_use_details') %></p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
        <li><%= t('domestic_epc.sections.breakdown.primary_energy_use_dropdown.efficiency_of_heating') %></li>
        <li><%= t('domestic_epc.sections.breakdown.primary_energy_use_dropdown.efficiency_of_electricity') %></li>
        <li><%= t('domestic_epc.sections.breakdown.primary_energy_use_dropdown.fuel_for_property') %></li>
      </ul>
    </div>
  </details>
</div>
