<div id="energy" class="govuk-body epc-page-break epc-blue-bottom printable-area epc-environmental-impact">
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.environmental_impact.title') %></h2>
  <p class="govuk-body"><%== t('domestic_epc.sections.environmental_impact.eir_rating',
                               :current_environmental_impact_rating => eir_rating_band(assessment[:environmentalImpactCurrent].to_i).upcase,
                               :potential_environmental_impact_rating => eir_rating_band(assessment[:environmentalImpactPotential].to_i).upcase) %></p>
  <p class="govuk-body"><%== t('domestic_epc.sections.environmental_impact.rating_scale') %></p>
  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.environmental_impact.heading') %></h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" >
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.environmental_impact.average_household.text') %></dt>
      <dd id="eir-average-household-produces" class="govuk-summary-list__value"><%= t('domestic_epc.sections.environmental_impact.average_household.carbon') %><%== t('domestic_epc.sections.environmental_impact.tonnes_of_carbon_emission', carbon: 'CO2') %></dd>
    </div>
    <div class="govuk-summary-list__row" >
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.environmental_impact.property_produces') %></dt>
      <dd id="eir-property-produces" class="govuk-summary-list__value"><%= BigDecimal(assessment[:currentCarbonEmission]).to_f.round(1) %><%== t('domestic_epc.sections.environmental_impact.tonnes_of_carbon_emission', carbon: 'CO2') %></dd>
    </div>
    <div class="govuk-summary-list__row"  >
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.environmental_impact.potential') %></dt>
      <dd id="eir-potential-production" class="govuk-summary-list__value"><%= BigDecimal(assessment[:potentialCarbonEmission]).to_f.round(1) %><%== t('domestic_epc.sections.environmental_impact.tonnes_of_carbon_emission', carbon: 'CO2') %></dd>
    </div>
  </dl>
  <p class="govuk-body"><%== t('domestic_epc.sections.environmental_impact.making_changes') %></p>
  <p class="govuk-body"><%== t('domestic_epc.sections.environmental_impact.environmental_impact_rating') %></p>
</div>
