<div class="govuk-grid-column-two-thirds epc-blue-bottom">
  <a id="green_deal"></a>
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.green_deal.title') %></h2>
  <p class="govuk-body"><%== t('domestic_epc.sections.green_deal.info', :link => '<a href="' + t('domestic_epc.sections.green_deal.url') + '">' + t('domestic_epc.sections.green_deal.title') + '</a>') %></p>
  <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.copy_of_plan') %></p>
  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.green_deal.cost_of_plan') %></h3>

  <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.plan_charges.title') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
    <li><%== t('domestic_epc.sections.green_deal.plan_charges.point_one') %></li>
    <li><%== t('domestic_epc.sections.green_deal.plan_charges.point_two') %></li>
  </ul>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.current_charge') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half">£<%= calculate_yearly_charges(assessment) %> per year</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.estimated_saving') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half">£<%= assessment[:greenDealPlan][:estimatedSavings] %> per year</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.payment_period_start') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= Date.parse(assessment[:greenDealPlan][:startDate]).strftime("%d %B %Y") %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.payment_period_end') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= Date.parse(assessment[:greenDealPlan][:endDate]).strftime("%d %B %Y") %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.interest_rate_payable') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half"><% interest_rate = assessment[:greenDealPlan][:interest][:fixed] ? 'fixed' : 'variable' %><%= interest_rate %> at <%= assessment[:greenDealPlan][:interest][:rate] %>% APR</dd>
    </div>
  </dl>

    <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.charge_overtime') %></p>
    <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.estimated_savings.title') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.assessment') %></li>
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.improvements_made') %></li>
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.typical_energy_use') %></li>
    </ul>
    <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.green_deal.improvements_header') %></th>
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.green_deal.paid_off_header') %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% assessment[:greenDealPlan][:measures].each do |green_deal_product| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= green_deal_product[:product] %></td>
        <td class="govuk-table__cell"><%= green_deal_product[:repaidDate].empty? ? "" : Date.parse(green_deal_product[:repaidDate]).strftime("%d %B %Y") %></td>
        <td class="govuk-table__header"></td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.green_deal.plan_and_provider_details') %></h3>

  <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.plan_number') %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= assessment[:greenDealPlan][:greenDealPlanId] %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.provider_name') %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= assessment[:greenDealPlan][:providerDetails][:name] %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.provider_telephone') %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= assessment[:greenDealPlan][:providerDetails][:telephone] %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.provider_email') %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half"><a href="mailto:<%= assessment[:greenDealPlan][:providerDetails][:email] %>"><%= assessment[:greenDealPlan][:providerDetails][:email] %></a></dd>
      </div>
  </dl>
</div>
