<div class="epc-blue-bottom">
  <a id="heat-demand"></a>
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.heat-demand.title') %></h2>
  <% unless assessment[:estimatedEnergyCost].nil? && assessment[:potentialEnergySaving].nil? %>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
          t('domestic_epc.sections.heat-demand.estimated_cost')
        %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">&pound;<%=
          assessment[:estimatedEnergyCost].chomp(".00")
        %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
          t('domestic_epc.sections.heat-demand.three_year_saving')
        %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">&pound;<%=
          assessment[:potentialEnergySaving].chomp(".00")
        %></dd>
      </div>
    </dl>

    <p class="govuk-body"><%= t('domestic_epc.sections.heat-demand.costs_and_savings') %></p>
    <p class="govuk-body"><%== t('domestic_epc.sections.heat-demand.based_on', :link => '<a href="' + t('domestic_epc.sections.heat-demand.based_on_url') + '">' + t('domestic_epc.sections.heat-demand.based_on_cta') + '</a>') %></p>
    <p class="govuk-body"><%== t('domestic_epc.sections.heat-demand.more_advice', :link => '<a href="' + t('domestic_epc.sections.heat-demand.more_advice_url') + '">' + t('domestic_epc.sections.heat-demand.more_advice_cta') + '</a>') %></p>
  <% end %>

  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.heat-demand.heating_in_property') %></h3>
  <p class="govuk-body"><%= t('domestic_epc.sections.heat-demand.energy_costs') %></p>
  <p class="govuk-body"><%= t('domestic_epc.sections.heat-demand.energy_use_table_description') %></p>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('domestic_epc.sections.heat-demand.space_heating')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        assessment[:heatDemand][:currentWaterHeatingDemand] %> <%= t('domestic_epc.sections.heat-demand.kwh_per_year')
      %></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('domestic_epc.sections.heat-demand.water_heating')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        assessment[:heatDemand][:currentSpaceHeatingDemand] %> <%= t('domestic_epc.sections.heat-demand.kwh_per_year')
      %></dd>
    </div>
  </dl>

  <% unless assessment[:heatDemand][:impactOfLoftInsulation].nil? && assessment[:heatDemand][:impactOfCavityInsulation].nil? && assessment[:heatDemand][:impactOfSolidWallInsulation].nil? %>
    <p class="govuk-body"><%= t('domestic_epc.sections.heat-demand.savings_table_description') %></p>
    <table class="govuk-table">
      <caption class="govuk-table__caption"><%= t('domestic_epc.sections.heat-demand.potential_saving') %></caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.heat-demand.type_of_insulation') %></th>
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.heat-demand.amount_saved') %></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('domestic_epc.sections.heat-demand.loft_insulation') %></th>
        <td class="govuk-table__cell" id="loft-insulation"><%
          if assessment[:heatDemand][:impactOfLoftInsulation]
        %><%= assessment[:heatDemand][:impactOfLoftInsulation] %> <%= t('domestic_epc.sections.heat-demand.kwh_per_year') %><%
          else
        %><%= t('domestic_epc.sections.heat-demand.not_applicable') %><%
          end
        %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('domestic_epc.sections.heat-demand.cavity_insulation') %></th>
        <td class="govuk-table__cell" id="cavity-insulation"><%
          if assessment[:heatDemand][:impactOfCavityInsulation]
        %><%= assessment[:heatDemand][:impactOfCavityInsulation] %> <%= t('domestic_epc.sections.heat-demand.kwh_per_year') %><%
          else
        %><%= t('domestic_epc.sections.heat-demand.not_applicable') %><%
          end
        %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('domestic_epc.sections.heat-demand.solid_wall_insulation') %></th>
        <td class="govuk-table__cell" id="solid-wall-insulation"><%
          if assessment[:heatDemand][:impactOfSolidWallInsulation]
        %><%= assessment[:heatDemand][:impactOfSolidWallInsulation] %> <%= t('domestic_epc.sections.heat-demand.kwh_per_year') %><%
          else
        %><%= t('domestic_epc.sections.heat-demand.not_applicable') %><%
          end
        %></td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <p class="govuk-body"><%== t('domestic_epc.sections.heat-demand.renewable_heat_incentive.body', :link=>'<a href="' + t('domestic_epc.sections.heat-demand.renewable_heat_incentive.url') + '">' + t('domestic_epc.sections.heat-demand.renewable_heat_incentive.cta') + '</a>') %></p>
</div>
