<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <%= t('domestic_epc.top_heading') %>
    </h1>
    <h2 class="govuk-heading-l">
      <%= assessment[:address_summary] %>
    </h2>
  </div>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t('domestic_epc.labels.certificate_number') %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= assessment[:assessment_id] %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t('domestic_epc.labels.date_of_certificate') %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= assessment[:date_registered] %>
      </dd>
    </div>
  </dl>
</div>
