<svg width="615" height="376" viewBox="0 0 615 376" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
  <title id="svg-title"><%= title %></title>
  <desc id="svg-desc"><%= description %></desc>
  <%

    bands = {
      'a': {
        'range': '92+',
        'position': 0,
        'color': '#008054'
      },
      'b': {
        'range': '81-91',
        'position': 1,
        'color': '#19b459'
      },
      'c': {
        'range': '69-80',
        'position': 2,
        'color': '#8dce46'
      },
      'd': {
        'range': '55-68',
        'position': 3,
        'color': '#ffd500'
      },
      'e': {
        'range': '39-54',
        'position': 4,
        'color': '#fcaa65'
      },
      'f': {
        'range': '21-38',
        'position': 5,
        color: '#ef8023'
      },
      'g': {
        'range': '1-20',
        'position': 6,
        'color': '#e9153b'
      }
    }

    score_bands = {
      'a-score': {
        'position': 0,
        'color': '#67A687'
      },
      'b-score': {
        'position': 1,
        'color': '#72CA8B'
      },
      'c-score': {
        'position': 2,
        'color': '#b4df86'
      },
      'd-score': {
        'position': 3,
        'color': '#ffe666'
      },
      'e-score': {
        'position': 4,
        'color': '#fdc79b'
      },
      'f-score': {
        'position': 5,
        'color': '#f4ac71'
      },
      'g-score': {
        'position': 6,
        'color': '#f2738a'
      }
    }

  %>

  <style>
    .letter {
      font-size: 40px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      font-weight: bold;
    }

    .current-potential-number {
      font-size: 22px;
      font-family: sans-serif;
      fill: #000;
      line-height: 50px;
      margin-top: 100px;
    }

    .small-letter {
      font-size: 19px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      font-weight: bold;
      text-align: center;
    }

    .small {
      font-size: 20px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      line-height: 50px;
      margin-top: 100px;
      font-weight: bold;
    }

    <% bands.each do |key, settings| %>
      .band-<%= key %>{
        fill: <%= settings[:color] %>
      }
    <% end %>
    <% score_bands.each do |key, settings| %>
    .band-<%= key %>{
      fill: <%= settings[:color] %>
    }
    <% end %>
  </style>

  <line x1="72" y1="0" x2="72" y2="376" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="410" y1="0" x2="410" y2="376" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="510" y1="0" x2="510" y2="376" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="0" y1="25" x2="615" y2="25" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="0" y1="0" x2="615" y2="0" style="stroke:#b1b4b6;stroke-width:1"></line>

  <line x1="0" y1="0" x2="615" y2="0" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="0" y1="0" x2="0" y2="376" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="615" y1="376" x2="615" y2="0" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="615" y1="376" x2="0" y2="376" style="stroke:#b1b4b6;stroke-width:1"></line>

  <% bands.each do |key, settings| %>
    <rect width="<%= 78+settings[:position]*40 %>" height="50" x="72" y="<%= 25+settings[:position]*50%>" class="band-<%= key %>">
    </rect>
  <% end %>

  <% score_bands.each do |key, settings| %>
    <rect width="72" height="50" x="0" y="<%= 25+settings[:position]*50%>" class="band-<%= key %>">
    </rect>
  <% end %>

  <text role="presentation" aria-hidden="true" x="0" y="0" class="letter">
    <% bands.each do |key, settings| %>
      <tspan x="<%= 95+(40*settings[:position])+12 %>" y="<%= 75+(50*settings[:position])-11 %>"><%= key.upcase %></tspan>
    <% end %>
  </text>

  <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
    <% bands.each do |key, settings| %>
      <tspan x="8" y="<%= 50+(50*settings[:position])+5 %>"><%= settings[:range] %></tspan>
    <% end %>
  </text>

  <text role="presentation" aria-hidden="true" x="8" y="15" class="small" dominant-baseline="middle">
    <%=t("rating.score") %>
  </text>

  <text role="presentation" aria-hidden="true" x="85" y="15" class="small" dominant-baseline="middle">
    <%=t("rating.energy_rating") %>
  </text>

  <text role="presentation" aria-hidden="true" x="460" y="15" class="small" text-anchor="middle" dominant-baseline="middle">
    <%=t("rating.current") %>
  </text>

  <text role="presentation" aria-hidden="true" x="565" y="15" class="small" text-anchor="middle" dominant-baseline="middle">
    <%=t("rating.potential") %>
  </text>

  <svg role="img" aria-hidden="true" x="415" y="<%= 25+bands[current_energy_efficiency_band.to_sym][:position]*50 %>" width="90" height="50" class="rating-current">
    <polygon points="0,25 25,50 100,50 100,0 25,0 0,25" class="band-<%= current_energy_efficiency_band %>"></polygon>
    <text x="18" y="32" class="current-potential-number"><%= current_energy_efficiency_rating %> |</text>
    <text x="67" y="32" class="small-letter"><%= current_energy_efficiency_band.upcase %></text>
  </svg>

  <svg role="img" aria-hidden="true" x="515" y="<%= 25+bands[potential_energy_efficiency_band.to_sym][:position]*50 %>" width="90" height="50" class="rating-potential">
    <polygon points="0,25 25,50 100,50 100,0 25,0 0,25" class="band-<%= potential_energy_efficiency_band %>"></polygon>
    <text x="18" y="32" class="current-potential-number"><%= potential_energy_efficiency_rating %> |</text>
    <text x="67" y="32" class="small-letter"><%= potential_energy_efficiency_band.upcase %></text>
  </svg>
</svg>
