<div id="summary" class="govuk-body epc-blue-bottom printable-area epc-energy-perf-breakdown">
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.breakdown.title') %></h2>

  <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.intro') %></p>
  <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.assessment_rating_explanation') %></p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.very_good') %></li>
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.good') %></li>
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.average') %></li>
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.poor') %></li>
    <li><%== t('domestic_epc.sections.breakdown.assessment_ratings.very_poor') %></li>
  </ul>
  <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.not_inspected') %></p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.breakdown.heading_feature') %></th>
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.breakdown.heading_description') %></th>
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.breakdown.heading_rating') %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% assessment[:propertySummary]&.each do |property_item| %>
        <% if property_item[:energyEfficiencyRating].to_i > 0 %>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular"><%= t("property_summary.type." + property_item[:name])%></th>
            <td class="govuk-table__cell"><%=property_item[:description]%></td>
            <td class="govuk-table__cell"><%=t('energy_performance_rating.' + property_item[:energyEfficiencyRating].to_s + '.energy_performance')%></td>
          </tr>
        <% end %>
      <% end %>
    <% assessment[:propertySummary]&.each do |property_item| %>
      <% if property_item[:energyEfficiencyRating].zero? %>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-!-font-weight-regular"><%= t("property_summary.type." + property_item[:name])%></th>
          <td class="govuk-table__cell"><%=property_item[:description]%></td>
          <td class="govuk-table__cell"><%=t('energy_performance_rating.' + property_item[:energyEfficiencyRating].to_s + '.energy_performance')%></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <% unless assessment[:lzcEnergySources].nil?%>
    <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.breakdown.low_zero_carbon_energy_sources.title') %></h3>
    <p class="govuk-body">
      <%= t('domestic_epc.sections.breakdown.low_zero_carbon_energy_sources.summary') %>
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
      <% assessment[:lzcEnergySources].each do |number| %>
        <li>
          <%= t("domestic_epc.sections.breakdown.low_zero_carbon_energy_sources.lzc_energy_source_#{number}") %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.breakdown.primary_energy_use') %></h3>
  <p class="govuk-body"><%= t('domestic_epc.sections.breakdown.primary_energy_use_description', :primary_energy => (assessment[:primaryEnergyUse].nil? ? nil : assessment[:primaryEnergyUse].to_f.round.to_s)) %></p>
  <%== erb :__primary_energy_use_dropdown %>

  <% unless assessment[:addendum].nil? %>
    <%== erb :__additional_information, locals: {
      addendum: assessment[:addendum]
    } %>
  <% end %>
</div>
