<% if recommendation[:improvementCode].nil? || recommendation[:improvementCode].empty? %>
  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.recommendations.list.title')%> <%= index + 1 %>: <%= recommendation[:improvementTitle] %></h3>
  <p class="govuk-body"><%= recommendation[:improvementDescription] %></p>
<% else %>
  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.recommendations.list.title')%> <%= index + 1 %>: <%= t('improvement_code.' + recommendation[:improvementCode].downcase + '.title')%> </h3>
  <p class="govuk-body"><%= t('improvement_code.' + recommendation[:improvementCode].downcase + '.description')%> </p>
<% end %>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
      t('domestic_epc.sections.recommendations.list.installation_cost')
    %></dt>
    <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
      <% if recommendation[:indicativeCost].nil? || recommendation[:indicativeCost].empty? ? (indicative_cost_result = 'Information unavailable') : (indicative_cost_result = recommendation[:indicativeCost]) %>
        <%= remove_special_characters(indicative_cost_result) %>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
      t('domestic_epc.sections.recommendations.list.yearly_saving')
    %></dt>
    <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
      <% typical_saving = number_to_currency(recommendation[:typicalSaving])
        if typical_saving
      %><%= typical_saving %><%
        else
      %><%= t('domestic_epc.sections.recommendations.list.na') %><%
        end
      %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half" style="vertical-align: top"><%==
      potential_rating_text(index + 1)
    %></dt>
    <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%
        if recommendation[:energyPerformanceRatingImprovement]
          %><svg width="90" height="50" style="vertical-align: middle">
              <%= band = "band-#{recommendation[:energyPerformanceBandImprovement]}" %>
              <rect width="75" height="50" class=<%= band %> x="25"></rect>
              <polygon points="0,25 25,50 25,0 0,25" class=<%= band %>></polygon>
              <text x="30" y="30"><%= recommendation[:energyPerformanceRatingImprovement] %> | <%= recommendation[:energyPerformanceBandImprovement].upcase %></text>
            </svg><%
        else
      %><%=
        t('domestic_epc.sections.recommendations.list.na')
      %><%
        end
      %></dd>
  </div>
</dl>
