<% header = recommendation_header(recommendation) %>
<h3 class="govuk-heading-m"><%= t('domestic_epc.sections.recommendations.list.title')%> <%= index + 1 %>: <%= header.title %></h3>
<% unless header.title.downcase.include? header.description.downcase %>
<p class="govuk-body"><%=  header.description  %></p>
<%  end %>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
      t('domestic_epc.sections.recommendations.list.installation_cost')
    %></dt>
    <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
      <% if recommendation[:indicativeCost].nil? || recommendation[:indicativeCost].empty? ? (indicative_cost_result = t('domestic_epc.sections.recommendations.list.information_unavailable')) : (indicative_cost_result = recommendation[:indicativeCost]) %>
        <%= resolve_bad_encoding_chars(indicative_cost_result) %>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
      t('domestic_epc.sections.recommendations.list.yearly_saving')
    %></dt>
    <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
      <% typical_saving = number_to_currency(recommendation[:typicalSaving])
        if typical_saving
      %><%= typical_saving %><%
        else
      %><%= t('domestic_epc.sections.recommendations.list.na') %><%
        end
      %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half" style="vertical-align: top"><%==
      potential_rating_text(index + 1)
    %></dt>
    <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%
        if recommendation[:energyPerformanceRatingImprovement] && recommendation[:energyPerformanceRatingImprovement].to_i > 0
          %><svg width="90" height="50" style="vertical-align: middle">
              <% band = "band-#{recommendation[:energyPerformanceBandImprovement]}" %>
              <polygon points="0,25 25,50 100,50 100,0 25,0 0,25" class="<%= band %>"></polygon>
              <text x="30" y="30"><%= recommendation[:energyPerformanceRatingImprovement] %> | <%= recommendation[:energyPerformanceBandImprovement].upcase %></text>
            </svg><%
        elsif recommendation[:energyPerformanceRatingImprovement].to_i == 0
      %><%=
        t('domestic_epc.sections.recommendations.list.information_unavailable')
      %><%
        else
      %><%=
        t('domestic_epc.sections.recommendations.list.na')
      %><%
        end
      %></dd>
  </div>
</dl>
