<div class="govuk-body epc-page-break epc-blue-bottom">
  <a id="energy"></a>
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.environmental_impact.title') %></h2>
  <p class="govuk-body"><%== t('domestic_epc.sections.environmental_impact.summary') %></p>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" id="type">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.environmental_impact.average_household.text') %></dt>
      <dd class="govuk-summary-list__value" id="average-household-produces" style="text-align: right"><%= t('domestic_epc.sections.environmental_impact.average_household.carbon') %><%== t('domestic_epc.sections.environmental_impact.tonnes_of_carbon_emission', carbon: 'CO2') %></dd>
    </div>
    <div class="govuk-summary-list__row" id="type">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.environmental_impact.property_produces') %></dt>
      <dd class="govuk-summary-list__value" id="property-produces" style="text-align: right"><%= BigDecimal(assessment[:currentCarbonEmission]).to_f.round(1) %><%== t('domestic_epc.sections.environmental_impact.tonnes_of_carbon_emission', carbon: 'CO2') %></dd>
    </div>
    <div class="govuk-summary-list__row" id="type">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.environmental_impact.potential') %></dt>
      <dd class="govuk-summary-list__value" id="potential-production" style="text-align: right"><%= BigDecimal(assessment[:potentialCarbonEmission]).to_f.round(1) %><%== t('domestic_epc.sections.environmental_impact.tonnes_of_carbon_emission', carbon: 'CO2') %></dd>
    </div>
  </dl>
  <p class="govuk-body">
    <%== t('domestic_epc.sections.environmental_impact.making_changes', reduction: (BigDecimal(assessment[:currentCarbonEmission]).to_f - BigDecimal(assessment[:potentialCarbonEmission])).to_f.round(2), :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.environmental_impact.making_changes_url') + '">' + t('domestic_epc.sections.environmental_impact.making_changes_cta') + '</a>') %>
  </p>
  <p class="govuk-body"><%== t('domestic_epc.sections.environmental_impact.environmental_impact_rating') %></p>
</div>
