<div class="govuk-grid-row">
  <div class="govuk-!-padding-left-3">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-certificate/search-by-postcode')%>"
        onclick="if(document.referrer.indexOf(location.protocol+'//'+location.host)===0) {window.history.back(); return false;} else {return true;}"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl">
        <%= t('domestic_epc.top_heading') %>
      </h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="related-links govuk-!-display-none-print">
      <hr class="epc-blue-top"/>
      <h3 class="govuk-heading-m" id="contents"><%= t('domestic_epc.sidebar.title') %></h3>
      <div class="dashed-p">
        <% unless assessment[:postcode][0..1] == "BT" %>
          <p class="govuk-body"><a class="govuk-link" href="#renting"><%= t('domestic_epc.sidebar.sections.renting') %></a></p>
        <% end %>
        <p class="govuk-body"><a class="govuk-link" href="#epc"><%= t('domestic_epc.sidebar.sections.epc') %></a></p>
        <p class="govuk-body"><a class="govuk-link" href="#summary"><%= t('domestic_epc.sidebar.sections.summary') %></a></p>
        <p class="govuk-body"><a class="govuk-link" href="#energy"><%= t('domestic_epc.sidebar.sections.energy') %></a></p>
        <p class="govuk-body"><a class="govuk-link" href="#recommendations"><%= t('domestic_epc.sidebar.sections.recommendations') %></a></p>
        <p class="govuk-body"><a class="govuk-link" href="#heat-demand"><%= t('domestic_epc.sidebar.sections.heat-demand') %></a></p>
        <p class="govuk-body"><a class="govuk-link" href="#information"><%= t('domestic_epc.sidebar.sections.information') %></a></p>
        <% if assessment.has_key?(:greenDealPlan) && !assessment[:greenDealPlan].empty? %>
          <p class="govuk-body"><a class="govuk-link" href="#green_deal"><%= t('domestic_epc.sidebar.sections.green_deal') %></a></p>
        <% end %>
        <% unless assessment[:relatedAssessments] == [] || assessment[:relatedAssessments].nil? %>
          <p class="govuk-body"><a class="govuk-link" href="#related_asssesments"><%= t('domestic_epc.sidebar.sections.related_asssesments') %></a></p>
        <% end %>
        <!-- <p class="govuk-body"><a class="govuk-link" href="#previous"><%= t('domestic_epc.sidebar.sections.previous') %></a></p> -->
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />
    <div class="govuk-body epc-blue-bottom">
      <div class="epc-box govuk-!-margin-bottom-5">
        <div class="epc-rating-box">
          <p class="epc-rating-title govuk-body">
            <%= t('domestic_epc.summary.energy_rating_title') %>
          </p>
          <p class="epc-rating-result govuk-body">
            <%= assessment[:currentEnergyEfficiencyBand].upcase %>
          </p>
        </div>
        <p class="epc-address govuk-body">
          <%== [assessment[:addressLine1], assessment[:addressLine2], assessment[:addressLine3], assessment[:addressLine4], assessment[:town], assessment[:postcode]].compact.reject(&:empty?).map{|e| CGI.escape_html(e)}.join('<br />') %>
        </p>
        <p class="govuk-body epc-extra-box"><%= t('domestic_epc.summary.date_of_expiry', :date_of_expiry => date(assessment[:dateOfExpiry])) %></p>
        <p class="govuk-body epc-extra-box">
          <label><%= t('domestic_epc.summary.certificate_id') %></label>
          <b><%= assessment[:assessmentId] %></b>
        </p>
      </div>

      <%== erb :component__print, locals: {
        type: t('component.print.type.certificate')
      } %>

      <%== erb :component__summary_list, locals: {
        list: {
         dwelling_type: assessment[:dwellingType],
         total_floor_area: t('domestic_epc.summary.floor_area', total_floor_area: "%g" % assessment[:totalFloorArea]) ,
        },
        translation_prefix: 'domestic_epc.sections.breakdown.list.',
        skip_null: true
      } %>

    </div>
  </div>
  <div class="govuk-grid-column-one-third"><br></div>

  <% unless assessment[:postcode][0..1] == "BT" %>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body epc-blue-bottom">
      <a id="renting"></a>
      <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.renting.title') %></h2>
      <% minimum_energy_rating_for_rentals = 'e' %>
      <% if assessment[:currentEnergyEfficiencyBand] > minimum_energy_rating_for_rentals %>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <div class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"><%= t('domestic_epc.sections.renting.landlord_warning.hidden_text') %></span>
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              <%= t('domestic_epc.sections.renting.landlord_warning.subtitle') %>
            </h2>
            <div class="govuk-error-summary__body">
              <p class="govuk-body">
                <%== t('domestic_epc.sections.renting.landlord_warning.body.text', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase) %>
                <%== t('domestic_epc.sections.renting.rental_info.guidance_text', :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.renting.rental_info.url') + '">' + t('domestic_epc.sections.renting.rental_info.cta') + '</a>') %>
              </p>
              <p class="govuk-body">
                <%== t('domestic_epc.sections.renting.landlord_warning.body.text_2') %>
                <%== t('domestic_epc.sections.renting.landlord_warning.body.recommendations_text', :recommendations_link => '<a class="govuk-link" href="' + t('domestic_epc.sections.renting.landlord_warning.body.recommendations_url') + '">' + t('domestic_epc.sections.renting.landlord_warning.body.recommendations_cta') + '</a>') %>
              </p>
            </div>
          </div>
        </div>
      <% else %>
        <p class="govuk-body">
          <%== t('domestic_epc.sections.renting.rental_info.body_1') %>
        </p>
        <p class="govuk-body">
          <%== t('domestic_epc.sections.renting.rental_info.body_2') + t('domestic_epc.sections.renting.rental_info.guidance_text', :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.renting.rental_info.url') + '">' + t('domestic_epc.sections.renting.rental_info.cta') + '</a>' ) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="govuk-grid-column-one-third"><br></div>
  <% end %>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body epc-blue-bottom">
      <a id="epc"></a>
      <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.epc.title') %></h2>
      <p class="govuk-body govuk-!-margin-bottom-6">
        <%== t('domestic_epc.sections.epc.intro.text', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase, :potential_energy_efficiency_band => assessment[:potentialEnergyEfficiencyBand].upcase) %>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">
        <a class="govuk-link" href=" <%= t('domestic_epc.sections.epc.intro.url') %>"><%= t('domestic_epc.sections.epc.intro.cta') %></a>
      </p>

      <%== erb :domestic_energy_performance_certificate__energy_rating, locals: {
        current_energy_efficiency_rating: assessment[:currentEnergyEfficiencyRating],
        potential_energy_efficiency_rating: assessment[:potentialEnergyEfficiencyRating],
        current_energy_efficiency_band: assessment[:currentEnergyEfficiencyBand],
        potential_energy_efficiency_band: assessment[:potentialEnergyEfficiencyBand],
        title: t('domestic_epc.sections.epc.aria-label', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase, :current_energy_efficiency_rating => assessment[:currentEnergyEfficiencyRating], :potential_energy_efficiency_band => assessment[:potentialEnergyEfficiencyBand].upcase, :potential_energy_efficiency_rating => assessment[:potentialEnergyEfficiencyRating] )} %>
      <p class="govuk-body govuk-!-margin-top-6"><%= t('domestic_epc.sections.epc.body1') %></p>
      <p class="govuk-body govuk-!-margin-top-6"><%= t('domestic_epc.sections.epc.body2') %></p>
      <p class="govuk-body govuk-!-margin-top-6"><%= t('domestic_epc.sections.epc.body3') %></p>
      <p class="govuk-body govuk-!-margin-top-6"><%= t('domestic_epc.sections.epc.body4') %></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third"><br></div>
  <div class="govuk-grid-column-two-thirds">
    <%== erb :domestic_energy_performance_certificate__energy_performance_breakdown,
             locals: { assessment: assessment }
    %>
  </div>
  <div class="govuk-grid-column-one-third"><br></div>
  <div class="govuk-grid-column-two-thirds">
    <%== erb :domestic_energy_performance_certificate__environmental_impact,
             locals: { assessment: assessment }
    %>
  </div>
  <div class="govuk-grid-column-one-third"><br></div>
  <div class="govuk-grid-column-two-thirds">
    <a id="recommendations"></a>
    <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.recommendations.title') %></h2>
    <div class=<%=assessment[:recommendedImprovements].empty? ? 'epc-blue-bottom' : ''%>>
      <div class="epc-rating-box">
        <p class="epc-rating-title govuk-body">
          <%= t('domestic_epc.sections.recommendations.box.energy_rating_title') %>
        </p>
        <p class="epc-rating-result govuk-body">
          <%= assessment[:potentialEnergyEfficiencyBand].upcase %>
        </p>
      </div>
      <% if assessment[:recommendedImprovements].empty? %>
        <p class="govuk-body "><%= t('domestic_epc.sections.recommendations.summary.no_recommendations_summary') %></p>
        <a class="govuk-body" href=" <%= t('domestic_epc.sections.recommendations.summary.simple_energy_link') %>"><%= t('domestic_epc.sections.recommendations.summary.simple_energy_text') %></a>
      <% else %>
        <p class="govuk-body"><%= t('domestic_epc.sections.recommendations.summary.make_changes_text') %></p>
        <p class="govuk-body">
          <%= t('domestic_epc.sections.recommendations.summary.improve_rating_text', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase, :current_energy_efficiency_rating => assessment[:currentEnergyEfficiencyRating], :potential_energy_efficiency_band => assessment[:potentialEnergyEfficiencyBand].upcase, :potential_energy_efficiency_rating => assessment[:potentialEnergyEfficiencyRating] ) %>
        </p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text"><%= t('domestic_epc.sections.recommendations.summary.what_is_energy_rating') %></span>
          </summary>
          <div class="govuk-details__text">
            <%= t('domestic_epc.sections.recommendations.summary.energy_rating_description1') %>
            <br /><br />
            <%= t('domestic_epc.sections.recommendations.summary.energy_rating_description2') %>
            <br /><br />
            <%= t('domestic_epc.sections.recommendations.summary.energy_rating_description3') %>
          </div>
        </details>
      <% end %>
    </div>
  </div>
  <% unless assessment[:recommendedImprovements].empty? %>
    <div class="govuk-grid-column-one-third"><br></div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body">
        <hr class="epc-light-top"/>
        <% assessment[:recommendedImprovements].each_with_index do |recommendation, index| %>
          <%== erb :domestic_energy_performance_certificate__recommended_improvement, locals: { recommendation: recommendation, index: index } %>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="govuk-grid-column-one-third"><br></div>
  <div class="govuk-grid-column-two-thirds">
    <div class="epc-blue-bottom">
      <h3 class="govuk-heading-m">
        <%= t('domestic_epc.sections.recommendations.paying_for_energy_improvements.title') %>
      </h3>
      <p class="govuk-body">
        <a class="govuk-link" href="<%= t('domestic_epc.sections.recommendations.paying_for_energy_improvements.link') %>">
          <%= t('domestic_epc.sections.recommendations.paying_for_energy_improvements.text') %>
        </a>
      </p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third"><br></div>
  <div class="govuk-grid-column-two-thirds">
    <%== erb :domestic_energy_performance_certificate__estimated_energy_use, locals: { assessment: assessment } %>
  </div>
  <div class="govuk-grid-column-one-third"><br></div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body epc-blue-bottom">
      <a id="information"></a>
      <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.information.title') %></h2>
      <p class="govuk-body"><%== t('domestic_epc.sections.information.intro') %></p>
      <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.information.assessor.title') %></h3>

      <%== erb :component__summary_list, locals: {
        list: {
          "name": assessment[:assessor][:firstName] + " " + assessment[:assessor][:lastName],
          "telephone": assessment[:assessor][:contactDetails][:telephoneNumber],
          "email": {"type": "email", "value": assessment[:assessor][:contactDetails][:email]}
        },
        translation_prefix: 'domestic_epc.sections.information.assessor.list.',
        skip_null: true
      } %>

      <h3 class="govuk-heading-m govuk-!-margin-top-9"><%= t('domestic_epc.sections.information.scheme.title') %></h3>

      <%== erb :component__summary_list, locals: {
        list: {
          "scheme.list.name": assessment[:assessor][:registeredBy][:name],
          "scheme.list.scheme_assessor_id": assessment[:assessor][:schemeAssessorId],
          "assessor.list.telephone": scheme_details(assessment[:assessor], 'phone').include?('missing') ? nil : scheme_details(assessment[:assessor], "phone"),
          "assessor.list.email": {
            "type": "email",
            "value": scheme_details(assessment[:assessor], 'email').include?('missing') ? nil : scheme_details(assessment[:assessor], 'email') }
        },
        translation_prefix: 'domestic_epc.sections.information.',
        skip_null: true
      } %>

      <h3 class="govuk-heading-m govuk-!-margin-top-9"><%= t('domestic_epc.sections.information.certificate.title') %></h3>

      <%== erb :component__summary_list, locals: {
        list: {
          "disclosure": party_disclosure(assessment[:relatedPartyDisclosureNumber], assessment[:relatedPartyDisclosureText]),
          "date_of_assessment": assessment[:dateOfAssessment],
          "date_of_certificate": assessment[:dateRegistered],
          "type_of_assessment": { type: "details", value: assessment[:typeOfAssessment] }
        },
        translation_prefix: 'domestic_epc.sections.information.certificate.list.',
        skip_null: true
      } %>

    </div>
      <% if assessment.has_key?(:greenDealPlan) %>
        <% assessment[:greenDealPlan].each do |plan| %>
          <%== erb :domestic_energy_performance_certificate__green_deal_plan, locals: { assessment: assessment, green_deal_plan: plan } %>
        <% end %>
      <% end %>

    <%== erb :component__related_assessments, locals: {
      assessment: assessment,
      type: 'certificate',
      assessment_type:  assessment[:typeOfAssessment],
    } %>
  </div>
</div>
