<% should_display_green_deal = assessment.has_key?(:greenDealPlan) &&
   !assessment[:greenDealPlan].empty? &&
   (!request.referrer ||
     (request.referrer &&
      !@exclude_green_deal_referrer_paths.any? { |path| request.referrer.include?(path) }
     )
   )
%>
<script type="text/javascript" src="<%= assets_path('/javascript/certificate.js') %>" nonce="<%= script_nonce %>"></script>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <h1 class="govuk-heading-xl printable-area">
        <%= t('domestic_epc.top_heading') %>
      </h1>
    </div>
  </div>

  <%
    hide_bills_text = assessment[:heatingCostCurrent] == 0 ||
      assessment[:heatingCostCurrent].nil? ||
      assessment[:heatingCostPotential].chomp(".00") == "0" ||
      assessment[:heatingCostPotential].nil? ||
      assessment[:hotWaterCostCurrent].chomp(".00") == "0" ||
      assessment[:hotWaterCostCurrent].nil? ||
      assessment[:hotWaterCostPotential].chomp(".00") == "0" ||
      assessment[:hotWaterCostPotential].nil? ||
      assessment[:lightingCostCurrent].chomp(".00") == "0" ||
      assessment[:lightingCostCurrent].nil? ||
      assessment[:lightingCostPotential].chomp(".00") == "0" ||
      assessment[:lightingCostPotential].nil? ||
      assessment[:estimatedEnergyCost].nil? ||
      assessment[:potentialEnergySaving].nil?

    hide_heating_demand = (assessment[:heatDemand][:currentWaterHeatingDemand].nil? && assessment[:heatDemand][:currentSpaceHeatingDemand].nil?)

    hide_insulation_impact = (assessment[:heatDemand][:impactOfLoftInsulation].nil? && assessment[:heatDemand][:impactOfCavityInsulation].nil? && assessment[:heatDemand][:impactOfSolidWallInsulation].nil?)
  %>

  <div class="govuk-grid-column-one-third govuk-!-display-none-print">
    <hr class="epc-blue-top" />

    <%== erb :component__contents, locals: {
      title: t("domestic_epc.sidebar.title"),
      sections: [
        {
          link: '#renting',
          text: 'domestic_epc.sidebar.sections.renting',
          hidden: assessment[:postcode][0..1] == "BT"
        },
        {
          link: '#epc',
          text: 'domestic_epc.sidebar.sections.epc'
        },
        {
          link: '#summary',
          text: 'domestic_epc.sidebar.sections.summary'
        },
        {
          link: '#bills-affected',
          text: 'domestic_epc.sidebar.sections.bills_affected',
          hidden: (hide_bills_text && hide_heating_demand && hide_insulation_impact)
        },
        {
          link: '#energy',
          text: 'domestic_epc.sidebar.sections.energy'
        },
        {
          link: '#recommendations',
          text: 'domestic_epc.sidebar.sections.recommendations'
        },
        {
          link: '#information',
          text: 'domestic_epc.sidebar.sections.information'
        },
        {
          link: '#green_deal',
          text: 'domestic_epc.sidebar.sections.green_deal',
          hidden: (true unless should_display_green_deal)
        },
        {
          link: '#other_certificates_and_reports',
          text: 'component.related.certificates.title'
        },
      ]
    } %>
    <%== erb :component__share_certificate, locals: {
      type: 'certificate',
      top_heading: 'domestic_epc',
      assessment: assessment,
      dec: false,
    } %>
  </div>
  <div class="govuk-grid-column-two-thirds epc-domestic-sections">
    <hr class="epc-blue-top" />

    <%== erb :component__epc_expired, locals: {
      assessment: assessment,
      print_view: print_view,
    } %>

    <%== erb :component__expired_print_version, locals: {
      type: 'certificate',
      assessment: assessment,
      print_view: print_view,
    } %>

    <%== erb :component__epc_superseded, locals: {
      assessment: assessment,
      print_view: print_view,
    } %>

    <%== erb :component__epc_superseded_print_version, locals: {
      assessment: assessment,
      print_view: print_view,
    } %>

    <div class="govuk-body epc-blue-bottom printable-area epc-box-container">
      <div class="epc-box<% unless print_view %> govuk-!-margin-bottom-5<% end %>">
          <p class="epc-address govuk-body">
          <%==
            compact_address(
              [
                assessment[:addressLine1],
                assessment[:addressLine2],
                assessment[:addressLine3],
                assessment[:addressLine4]
              ],
              assessment[:town],
              assessment[:postcode]
            ).map{|e| CGI.escape_html(e)}.join('<br />') %>
          </p>
        <div class="epc-rating-box">
          <p class="epc-rating-title govuk-body">
            <%= t('domestic_epc.summary.energy_rating_title') %>
          </p>
          <p class="epc-rating-result govuk-body">
            <%= assessment[:currentEnergyEfficiencyBand].upcase %>
          </p>
        </div>
        <div class="epc-extra-boxes">
          <div class="epc-extra-box">
            <label>
              <%= assessment[:dateOfExpiry] < Date.today ?
                    t('component.epc_summary_compact.certificate.expired') :
                    t('component.epc_summary_compact.certificate.valid_until')
              %></label>
            <p class="govuk-body govuk-!-font-weight-bold"><%= date(assessment[:dateOfExpiry]) %></p>
          </div>
          <div class="epc-extra-box">
            <label><%= t('domestic_epc.summary.certificate_id') %></label>
            <p class="govuk-body govuk-!-font-weight-bold"><%= assessment[:assessmentId] %></p>
          </div>
        </div>
      </div>

      <%== erb :component__summary_list, locals: {
        list: {
         dwelling_type: assessment[:dwellingType],
         total_floor_area: (assessment[:totalFloorArea].nil? || assessment[:totalFloorArea].empty? || assessment[:totalFloorArea].to_s == "0.0" ) ? t('data_missing.not_recorded') : t('domestic_epc.summary.floor_area', total_floor_area: number_to_delimited("%g" % assessment[:totalFloorArea])),
        },
        translation_prefix: 'domestic_epc.sections.breakdown.list.',
        skip_null: true
      } %>
    </div>

    <% unless assessment[:postcode][0..1] == "BT" %>
      <div id="renting" class="govuk-body epc-blue-bottom printable-area">
        <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.renting.title') %></h2>
        <% minimum_energy_rating_for_rentals = 'e' %>
        <% if assessment[:currentEnergyEfficiencyBand] > minimum_energy_rating_for_rentals %>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <div class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive"><%= t('domestic_epc.sections.renting.landlord_warning.hidden_text') %></span>
              <h2 id="error-summary-title" class="govuk-error-summary__title">
                <%= t('domestic_epc.sections.renting.landlord_warning.subtitle') %>
              </h2>
              <div class="govuk-error-summary__body">
                <p class="govuk-body">
                  <%== t('domestic_epc.sections.renting.landlord_warning.body.text', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase) %>
                  <%== t('domestic_epc.sections.renting.rental_info.guidance_text', :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.renting.rental_info.url') + '">' + t('domestic_epc.sections.renting.rental_info.cta') + '</a>') %>
                </p>
                <p class="govuk-body">
                  <%== t('domestic_epc.sections.renting.landlord_warning.body.text_2') %>
                  <%== t('domestic_epc.sections.renting.landlord_warning.body.recommendations_text', :recommendations_link => '<a class="govuk-link" href="#recommendations">' + t('domestic_epc.sections.renting.landlord_warning.body.recommendations_cta') + '</a>') %>
                </p>
              </div>
            </div>
          </div>
        <% else %>
          <p class="govuk-body">
            <%== t('domestic_epc.sections.renting.rental_info.body_1') %>
          </p>
          <p class="govuk-body">
            <%== t('domestic_epc.sections.renting.rental_info.guidance_text', :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.renting.rental_info.url') + '">' + t('domestic_epc.sections.renting.rental_info.cta') + '</a>' ) %>
          </p>
        <% end %>
      </div>
    <% end %>

    <div id="epc" class="govuk-body epc-blue-bottom printable-area epc-rating-graph-section">
      <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.epc.title') %></h2>
      <p class="govuk-body govuk-!-margin-bottom-6">
        <%== t('domestic_epc.sections.epc.intro.text', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase, :potential_energy_efficiency_band => assessment[:potentialEnergyEfficiencyBand].upcase) %>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">
        <a class="govuk-link" href="#recommendations"><%= t('domestic_epc.sections.epc.intro.cta') %></a>.
      </p>

      <%== erb :domestic_energy_performance_certificate__energy_rating, locals: {
        current_energy_efficiency_rating: assessment[:currentEnergyEfficiencyRating],
        potential_energy_efficiency_rating: assessment[:potentialEnergyEfficiencyRating],
        current_energy_efficiency_band: assessment[:currentEnergyEfficiencyBand],
        potential_energy_efficiency_band: assessment[:potentialEnergyEfficiencyBand],
        title: t('domestic_epc.sections.epc.chart_title'),
        description: t('domestic_epc.sections.epc.chart_description', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase, :current_energy_efficiency_rating => assessment[:currentEnergyEfficiencyRating], :potential_energy_efficiency_band => assessment[:potentialEnergyEfficiencyBand].upcase, :potential_energy_efficiency_rating => assessment[:potentialEnergyEfficiencyRating] )} %>
      <p class="govuk-body govuk-!-margin-top-6"><%= t('domestic_epc.sections.epc.body1') %></p>
      <p class="govuk-body govuk-!-margin-top-6"><span class="govuk-!-font-weight-bold"><%= t('domestic_epc.sections.epc.body2') %></span> <%= t('domestic_epc.sections.epc.body3') %></p>

      <% if assessment[:postcode][0..1] == "BT" %>
        <p class="govuk-body govuk-!-margin-top-6"><%=  t('domestic_epc.sections.epc.ni_average_rating')  %></p>
        <ul>
          <li><%=  t('domestic_epc.sections.epc.body5')  %></li>
          <li><%=  t('domestic_epc.sections.epc.body6')  %></li>
        </ul>
      <%  else  %>
        <p class="govuk-body govuk-!-margin-top-6"><%=  t('domestic_epc.sections.epc.body4')  %></p>
        <ul>
          <li><%=  t('domestic_epc.sections.epc.body5')  %></li>
          <li><%=  t('domestic_epc.sections.epc.body6')  %></li>
        </ul>
      <%  end %>
    </div>

    <%== erb :domestic_energy_performance_certificate__energy_performance_breakdown, locals: {
      assessment: assessment
    } %>

    <% unless hide_bills_text && hide_heating_demand && hide_insulation_impact%>
      <%== erb :domestic_energy_performance_certificate__effect_on_bills, locals: {
        assessment: assessment, print_view: print_view, hide_bills_text: hide_bills_text, hide_heating_demand: hide_heating_demand, hide_insulation_impact: hide_insulation_impact
      } %>
    <% end %>

    <%== erb :domestic_energy_performance_certificate__environmental_impact, locals: {
      assessment: assessment }
    %>

    <div id="recommendations" class="govuk-body printable-area epc-recommendations">
      <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.recommendations.title') %></h2>
      <div class="allow-break <%= assessment[:recommendedImprovements].empty? ? 'epc-blue-bottom' : ''%>">
        <% if assessment[:recommendedImprovements].empty? %>
          <p class="govuk-body "><%= t('domestic_epc.sections.recommendations.summary.no_recommendations_summary') %></p>

          <% unless assessment[:postcode][0..1] == "BT" %>
            <a class="govuk-link" href="<%= t('domestic_epc.sections.recommendations.summary.simple_energy_link') %>"><%= t('domestic_epc.sections.recommendations.summary.simple_energy_text') %></a>
          <% end %>
        <% else %>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text"><%= t('domestic_epc.sections.recommendations.summary.steps_in_order_question') %></span>
            </summary>
            <div class="govuk-details__text">
              <p><%= t('domestic_epc.sections.recommendations.summary.steps_in_order_answer1') %></p>
              <p><%= t('domestic_epc.sections.recommendations.summary.steps_in_order_answer2') %></p>
            </div>
          </details>
        <% end %>
      </div>
    </div>

    <% unless print_view %>
    <%== erb :domestic_energy_performance_certificate__recommended_improvements, locals: { recommendations: assessment[:recommendedImprovements] } %>
    <% else %>
    <%== erb :domestic_energy_performance_certificate__recommended_improvements_tabulated, locals: { recommendations: assessment[:recommendedImprovements] } %>
    <% end %>

    <div class="govuk-body epc-blue-bottom allow-break printable-area">
      <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.recommendations.paying_for_energy_improvements.title') %></h3>
      <p class="govuk-body">
        <%== t('domestic_epc.sections.recommendations.paying_for_energy_improvements.bus_text', :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.recommendations.paying_for_energy_improvements.bus_url') + '">' + t('domestic_epc.sections.recommendations.paying_for_energy_improvements.bus_link_text') + '</a>' ) %>
      </p>

    </div>

    <div id="information" class="govuk-body epc-blue-bottom printable-area epc-contact-assessor">
      <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.information.title') %></h2>
      <p class="govuk-body"><%== t('domestic_epc.sections.information.intro') %></p>
      <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.information.assessor.title') %></h3>

      <%== erb :component__summary_list, locals: {
        list: {
          "name": assessment[:assessor][:firstName] + " " + assessment[:assessor][:lastName],
          "telephone": assessment[:assessor][:contactDetails][:telephoneNumber],
          "email": {"type": "email", "value": assessment[:assessor][:contactDetails][:email]}
        },
        translation_prefix: 'domestic_epc.sections.information.assessor.list.',
        skip_null: true
      } %>

      <h3 class="govuk-heading-m<% unless print_view %> govuk-!-margin-top-9<% end %>"><%= t('domestic_epc.sections.information.scheme.title') %></h3>

      <%== erb :component__summary_list, locals: {
        list: {
          "scheme.list.name": assessment[:assessor][:registeredBy][:name],
          "scheme.list.scheme_assessor_id": assessment[:assessor][:schemeAssessorId],
          "assessor.list.telephone": scheme_details(assessment[:assessor], 'phone').nil? ? nil : scheme_details(assessment[:assessor], "phone"),
          "assessor.list.email": {
            "type": "email",
            "value": scheme_details(assessment[:assessor], 'email').nil? ? nil : scheme_details(assessment[:assessor], 'email') }
        },
        translation_prefix: 'domestic_epc.sections.information.',
        skip_null: true
      } %>

      <h3 class="govuk-heading-m<% unless print_view %> govuk-!-margin-top-9<% end %>"><%= t('domestic_epc.sections.information.certificate.title') %></h3>

      <%== erb :component__summary_list, locals: {
        list: {
          "disclosure": party_disclosure(assessment[:relatedPartyDisclosureNumber], assessment[:relatedPartyDisclosureText]),
          "date_of_assessment": date(assessment[:dateOfAssessment]),
          "date_of_certificate": date(assessment[:dateRegistered]),
          "type_of_assessment": { type: "details", value: assessment[:typeOfAssessment] }
        },
        translation_prefix: 'domestic_epc.sections.information.certificate.list.',
        skip_null: true,
        print_view: print_view
      } %>
    </div>

    <% if should_display_green_deal %>
      <% assessment[:greenDealPlan].each do |plan| %>
        <%== erb :domestic_energy_performance_certificate__green_deal_plan, locals: { assessment: assessment, green_deal_plan: plan } %>
      <% end %>
    <% end %>

    <% unless print_view %>
    <%== erb :component__related_assessments, locals: {
      assessment: assessment,
      type: t('component.related.certificate'),
      assessment_type:  assessment[:typeOfAssessment],
    } %>
    <% end %>
  </div>
</div>
<% if print_view %>
<%== erb :partial__print_view_js %>
<% end %>
