<div class="govuk-body epc-blue-bottom printable-area epc-estimated-energy-use">
  <a id="heat-demand"></a>
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.heat_demand.title') %></h2>
  <% unless assessment[:estimatedEnergyCost].nil? && assessment[:potentialEnergySaving].nil? %>
    <%== erb :component__summary_list, locals: {
      list: {
        "estimated_cost": {
          numerical: true,
          prefix: "£",
          value: assessment[:estimatedEnergyCost].chomp(".00"),
        },
        "three_year_saving": {
          numerical: true,
          prefix: "£",
          value: assessment[:potentialEnergySaving].chomp(".00"),
        }
      },
      translation_prefix: 'domestic_epc.sections.heat_demand.',
      skip_null: true,
    } %>

    <p class="govuk-body"><%= t('domestic_epc.sections.heat_demand.costs_and_savings') %></p>
    <p class="govuk-body"><%== t('domestic_epc.sections.heat_demand.based_on', :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.heat_demand.based_on_url') + '">' + t('domestic_epc.sections.heat_demand.based_on_cta') + '</a>') %></p>

    <% unless assessment[:postcode][0..1] == "BT" %>
      <p class="govuk-body"><%== t('domestic_epc.sections.heat_demand.more_advice', :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.heat_demand.more_advice_url') + '">' + t('domestic_epc.sections.heat_demand.more_advice_cta') + '</a>') %></p>
    <% end %>
  <% end %>

  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.heat_demand.heating_in_property') %></h3>
  <p class="govuk-body"><%= t('domestic_epc.sections.heat_demand.energy_costs') %></p>

  <% unless assessment[:heatDemand][:currentWaterHeatingDemand].nil? && assessment[:heatDemand][:currentSpaceHeatingDemand].nil? %>
    <h4 class="govuk-heading-s"><%= t('domestic_epc.sections.heat_demand.estimated_energy') %></h4>
    <%== erb :component__summary_list, locals: {
      list: {
        "space_heating": {
          numerical: true,
          value: assessment[:heatDemand][:currentSpaceHeatingDemand],
          suffix: " " + t('domestic_epc.sections.heat_demand.kwh_per_year'),
        },
        "water_heating": {
          numerical: true,
          value: assessment[:heatDemand][:currentWaterHeatingDemand],
          suffix: " " + t('domestic_epc.sections.heat_demand.kwh_per_year'),
        }
      },
      translation_prefix: 'domestic_epc.sections.heat_demand.',
      skip_null: true,
    } %>
  <% end %>

  <% if assessment[:heatDemand][:impactOfLoftInsulation].nil? && assessment[:heatDemand][:impactOfCavityInsulation].nil? && assessment[:heatDemand][:impactOfSolidWallInsulation].nil? %>
    <h4 class="govuk-heading-s"><%= t('domestic_epc.sections.heat_demand.potential_saving') %></h4>
    <p class="govuk-body">
      <%= t('domestic_epc.sections.heat_demand.no_potential_saving') %>
    </p>
  <% else %>
    <table class="govuk-table">
      <caption class="govuk-table__caption"><%= t('domestic_epc.sections.heat_demand.potential_saving') %></caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.heat_demand.type_of_insulation') %></th>
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.heat_demand.amount_saved') %></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% if assessment[:heatDemand][:impactOfLoftInsulation] && assessment[:heatDemand][:impactOfLoftInsulation] < 0 %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= t('domestic_epc.sections.heat_demand.loft_insulation') %></th>
          <td class="govuk-table__cell" id="loft-insulation">
            <%= assessment[:heatDemand][:impactOfLoftInsulation].abs %> <%= t('domestic_epc.sections.heat_demand.kwh_per_year') %>
          </td>
        </tr>
      <% end %>
      <% if assessment[:heatDemand][:impactOfCavityInsulation] && assessment[:heatDemand][:impactOfCavityInsulation] < 0  %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= t('domestic_epc.sections.heat_demand.cavity_insulation') %></th>
          <td class="govuk-table__cell" id="cavity-insulation">
            <%= assessment[:heatDemand][:impactOfCavityInsulation].abs %> <%= t('domestic_epc.sections.heat_demand.kwh_per_year') %>
          </td>
        </tr>
      <% end %>
      <% if assessment[:heatDemand][:impactOfSolidWallInsulation] && assessment[:heatDemand][:impactOfSolidWallInsulation] < 0  %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= t('domestic_epc.sections.heat_demand.solid_wall_insulation') %></th>
        <td class="govuk-table__cell" id="solid-wall-insulation">
          <%= assessment[:heatDemand][:impactOfSolidWallInsulation].abs %> <%= t('domestic_epc.sections.heat_demand.kwh_per_year') %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <% unless assessment[:postcode][0..1] == "BT" %>
    <p class="govuk-body"><%==
      t('domestic_epc.sections.heat_demand.renewable_heat_incentive.body', :link=>'<a class="govuk-link" href="' + t('domestic_epc.sections.heat_demand.renewable_heat_incentive.url') + '">' + t('domestic_epc.sections.heat_demand.renewable_heat_incentive.cta') + '</a>')
    %></p>
  <% end %>
</div>
