<div id="green_deal" class="govuk-body epc-blue-bottom printable-area">
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.green_deal.title') %></h2>
  <p class="govuk-body"><%== t('domestic_epc.sections.green_deal.info', :link => '<a class="govuk-link" href="' + t('domestic_epc.sections.green_deal.url') + '">' + t('domestic_epc.sections.green_deal.title') + '</a>') %></p>
  <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.copy_of_plan') %></p>
  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.green_deal.cost_of_plan') %></h3>

  <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.plan_charges.title') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
    <li><%== t('domestic_epc.sections.green_deal.plan_charges.point_one') %></li>
    <li><%== t('domestic_epc.sections.green_deal.plan_charges.point_two') %></li>
  </ul>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.current_charge') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half">£<%= calculate_yearly_charges(green_deal_plan) %> per year</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.estimated_saving') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half">£<%= green_deal_plan[:estimatedSavings] %> per year</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.payment_period_start') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= date(green_deal_plan[:startDate]) %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.payment_period_end') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= date(green_deal_plan[:endDate]) %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.interest_rate_payable') %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half"><% interest_rate = green_deal_plan[:interest][:fixed] ? 'fixed' : 'variable' %><%= interest_rate %> at <%= green_deal_plan[:interest][:rate] %>% APR</dd>
    </div>
  </dl>

    <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.charge_overtime') %></p>
    <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.estimated_savings.title') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.assessment') %></li>
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.improvements_made') %></li>
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.typical_energy_use') %></li>
    </ul>

  <dl class="govuk-summary-list">
    <% green_deal_plan[:measures].each do |green_deal_product| %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= green_deal_product[:product] %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= ((green_deal_product[:repaidDate] == nil) or green_deal_product[:repaidDate].empty?) ? "" : "#{t('domestic_epc.sections.green_deal.paid_off_header')} #{date(green_deal_product[:repaidDate])}" %></dd>
      </div>
    <% end %>
  </dl>

  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.green_deal.plan_and_provider_details') %></h3>

  <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.plan_number') %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= green_deal_plan[:greenDealPlanId] %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.provider_name') %></dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half"><%= green_deal_plan[:providerDetails][:name] %></dd>
      </div>
      <% unless green_deal_plan[:providerDetails][:telephone].to_s.empty? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=  t('domestic_epc.sections.green_deal.provider_telephone')  %></dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half"><%=  green_deal_plan[:providerDetails][:telephone]  %></dd>
        </div>
      <% end %>
      <% unless green_deal_plan[:providerDetails][:email].to_s.empty? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half"><%= t('domestic_epc.sections.green_deal.provider_email') %></dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half"><a class="govuk-link" href="mailto:<%= green_deal_plan[:providerDetails][:email] %>"><%= green_deal_plan[:providerDetails][:email] %></a></dd>
        </div>
      <% end %>
  </dl>
</div>
