<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= t('find_non_dom_certificate_results.table.address') %></th>
      <th scope="col" class="govuk-table__header"><%= t('find_non_dom_certificate_results.table.type') %></th>
      <th scope="col" class="govuk-table__header"><%= t('find_non_dom_certificate_results.table.expiry') %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% certificate.each do |_address_id, results| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= [results[:addressLine1], results[:addressLine2], results[:town], results[:postcode]].reject { |a| a.to_s.empty? }.join(", ") %></th>
        <td class="govuk-table__cell govuk-!-border-bottom-none">
          <% results[:certificates].each do |result| %>
            <a class="govuk-link" href="/energy-certificate/<%= result[:assessmentId] %>"><%= result[:typeOfAssessment].upcase %></a><br /><br />
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% results[:certificates].each do |result| %>
            <% expire = Date.parse(result[:dateOfExpiry]) < Date.today %>
            <span class="<%== ( expire ? 'govuk-!-font-weight-bold expired-text' : "") %>">
              <%= date(result[:dateOfExpiry]) %> <%= expire ? t('find_certificate_results.expired') : '' %>
            </span>
            <br /><br />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
