<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('find_certificate_by_postcode.top_heading') %>
    </h1>
    <form method="GET" action="<%=localised_url('/find-a-certificate/search')%>" >
      <% if I18n.locale != I18n.available_locales[0] %>
        <input type="hidden" name="lang" value="<%= I18n.locale.to_s %>">
      <% end %>
      <fieldset class="govuk-fieldset fieldset-background">
        <div class="govuk-form-group<% if errors[:query] %> govuk-form-group--error<% end %>">
          <label class="govuk-label" for="query">
            <%= t('find_certificate_by_postcode.question') %>
          </label>
          <% if errors[:query] %>
          <span id="query-error" class="govuk-error-message">
            <span class="govuk-visually-hidden"><%= t('error.error') %></span><%= errors[:query] %>
          </span>
          <% end %>
          <input id="query" name="query" type="text"
                 class="govuk-input<% if errors[:query] %> govuk-input--error<% end %>"
                 aria-describedby="query-hint<% if errors[:query] %> query-error<% end %>"
                 autocomplete="postal-code"
                 spellcheck="false"
                 <% if params['query'] %>value="<%= params['query'] %>"<% end %>
          >
        </div>

        <button class="govuk-button" data-module="govuk-button"><%= t('find_certificate_by_postcode.button_text') %></button>
      </fieldset>
    </form>
  </div>
</div>
