<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('find_assessor_by_postcode.top_heading') %>
    </h1>

    <form method="GET" action="<%=localised_url('/find-an-assessor/search')%>" >
      <% if I18n.locale != I18n.available_locales[0] %>
        <input type="hidden" name="lang" value="<%= I18n.locale.to_s %>">
      <% end %>
      <fieldset class="govuk-fieldset fieldset-background">
        <div class="govuk-form-group<% if errors[:postcode] %> govuk-form-group--error<% end %>">
          <label class="govuk-label" for="postcode">
            <%= t('find_assessor_by_postcode.question') %>
          </label>
          <span id="postcode-hint" class="govuk-hint">
            <%= t('find_assessor_by_postcode.hint') %>
          </span>
          <% if errors[:postcode] %>
          <span id="postcode-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span><%= errors[:postcode] %>
          </span>
          <% end %>
          <input id="postcode" name="postcode" type="text"
                 class="govuk-input<% if errors[:postcode] %> govuk-input--error<% end %>"
                 aria-describedby="postcode-hint<% if errors[:postcode] %> postcode-error<% end %>"
                 autocomplete="postal-code"
                 spellcheck="false"
                 <% if params['postcode'] %>value="<%= params['postcode'] %>"<% end %>
          >
        </div>

        <button class="govuk-button" data-module="govuk-button"><%= t('find_assessor_by_postcode.button_text') %></button>
      </fieldset>
    </form>

    <% if results.size > 0 %>
      <p class="govuk-body">
        <%= t('find_assessor_results.description') %>
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('find_assessor_results.accreditation_summary_title') %>
          </span>
        </summary>
        <div class="govuk-details__text">
          <%= t('find_assessor_results.accreditation_summary_text') %>
        </div>
      </details>

      <ul class="govuk-list">
          <% results.each do |result| %>
          <% assessor = result[:assessor] %>
            <li>
              <div>
                <h2 class="govuk-heading-m"><%= "#{assessor[:firstName]} #{assessor[:lastName]}" %></h2>
                <div>
                  <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key"><%= t('find_assessor_results.distance.heading') %></dt>
                      <dd class="govuk-summary-list__value">
                        <% if result[:distance]<1 %>
                          <%= t('find_assessor_results.distance.default_miles_away_text') %>
                        <% else %>
                        <%= result[:distance].round(1) %> <%= t('find_assessor_results.distance.miles_away_text') %>
                        <% end %>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key"><%= t('find_assessor_results.contact_details_text') %></dt>
                      <dd class="govuk-summary-list__value">
                        <p>
                          <a href="tel:<%= assessor[:contactDetails][:telephoneNumber] %>"><%= assessor[:contactDetails][:telephoneNumber] %></a>
                        </p>
                        <p>
                          <a href="mailto:<%= assessor[:contactDetails][:email] %>"><%= assessor[:contactDetails][:email] %></a>
                        </p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key"><%= t('find_assessor_results.accredited_by_text') %></dt>
                      <dd class="govuk-summary-list__value"><%= assessor[:registeredBy][:name] %></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key"><%= t('find_assessor_results.assessor_id_text') %></dt>
                      <dd class="govuk-summary-list__value"><%= assessor[:registeredBy][:schemeId] %></dd>
                    </div>
                  </dl>
                </div>
              </div>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
          <% end %>
      </ul>
    <% else %>
      <p class="govuk-body">
        <%= t('find_assessor_results.no_assessors') %>
      </p>
    <% end %>
  </div>
</div>
