<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <% if results.size > 0 %>
        <%= t('find_non_dom_certificate_by_street_name_and_town_results.list', :length => count_certificates(results), :query => "#{params['street_name']} #{params['town']}" ) %>
      <% else %>
       <%= t('find_non_dom_certificate_by_street_name_and_town_results.top_heading') %>
      <% end %>
    </h1>

    <p class="govuk-body">
      <%= t('find_non_dom_certificate_by_street_name_and_town_results.no_epc.get_a_new_one_with_results') %>
      <a class="govuk-link" href="<%=localised_url(set_subdomain_url("getting-new-energy-certificate"))%>">
        <%= t('find_non_dom_certificate_by_street_name_and_town_results.no_epc.get_a_new_one_link') %></a>.
    </p>

    <% if results.size > 0 %>
      <%== erb :find_non_dom_certificate_list_certificate, locals: {
        certificate: results } %>
    <% else %>
      <p class="govuk-body">
        <%= t('find_non_dom_certificate_by_street_name_and_town_results.no_certificates') %>
      </p>
    <% end %>
  </div>
</div>
