<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half"><%= t('find_non_dom_certificate_results.table.address') %></th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t('find_non_dom_certificate_results.table.type') %></th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t('find_non_dom_certificate_results.table.expiry') %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% certificate.each do |_address_id, results| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" rowspan="<%= results[:certificates].count %>">
          <%=
            compact_address(
              [
                results[:addressLine1],
                results[:addressLine2],
                results[:addressLine3],
                results[:addressLine4]
              ],
              results[:town],
              results[:postcode]
            ).join(", ") %>
        </th>

        <% results[:certificates].sort_by { |h| h[:typeOfAssessment] }.each do |result| %>
          <td class="govuk-table__cell govuk-!-border-bottom-none">
              <a class="govuk-link" href="<%=localised_url("/energy-certificate/" + result[:assessmentId]) %>"><%= result[:typeOfAssessment].upcase %></a><br /><br />
          </td>
          <td class="govuk-table__cell">
            <span>
                <%= date(result[:dateOfExpiry]) %>
            </span>
              <% if Date.parse(result[:dateOfExpiry]) < Date.today %>
                <strong class="govuk-tag--red govuk-!-padding-left-2 govuk-!-padding-right-2"><%= t('find_non_dom_certificate_results.expired').upcase%></strong>
              <% end %>
            </td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
