<% error_form_ids = ["domestic"] %>
<% unless errors.empty? %>
  <%== erb :error_summary, locals: {errors:errors, error_form_ids:error_form_ids}  %>
<% end %>


<form method="post">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        <%= t('find_an_assessor.property_type.question_title') %>
      </h1>
    </legend>
    <div class="govuk-form-group<% if errors[:property_type] %> govuk-form-group--error<% end %>">
    <input type="hidden" name="lang" value="<%= I18n.locale.to_s %>" />
      <% if errors[:property_type] %>
          <span id='property_type-error' class="govuk-error-message">
            <span class="govuk-visually-hidden"><%= t('error.error') %></span><%== errors[:property_type] %>
          </span>
      <% end %>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="<%= error_form_ids[0] %>" name="property_type" type="radio" value="<%= error_form_ids[0] %>" aria-describedby="domestic-item-hint">
          <label id="label-domestic" class="govuk-label govuk-radios__label" for="<%= error_form_ids[0] %>">
            <%= t('find_an_assessor.property_type.options.domestic.title') %>
          </label>
          <div id="domestic-item-hint" class="govuk-hint govuk-radios__hint">
            <%= t('find_an_assessor.property_type.options.domestic.hint') %>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="non_domestic" name="property_type" type="radio" value="non_domestic" aria-describedby="non_domestic-item-hint">
          <label id="label-non-domestic" class="govuk-label govuk-radios__label" for="non_domestic">
            <%= t('find_an_assessor.property_type.options.non_domestic.title') %>
          </label>
          <div id="non_domestic-item-hint" class="govuk-hint govuk-radios__hint">
            <%= t('find_an_assessor.property_type.options.non_domestic.hint') %>
          </div>
        </div>
      </div>
    </div>
    <button class="govuk-button" data-module="govuk-button" type="submit">
      <%= t('find_an_assessor.property_type.cta') %>
    </button>
  </fieldset>
</form>
