<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if results.size > 0 %>
      <h1 class="govuk-heading-xl"><%= t('find_certificate_by_postcode_results.list', :count => count_certificates(results), :postcode => CGI.escapeHTML(params['postcode'].upcase)) %></h1>

      <p class="govuk-body">
        <%= t('find_certificate_by_postcode_results.epcs_only') %>.
      </p>

      <p class="govuk-body">
        <%= t('find_certificate_by_postcode_results.no_epc.get_a_new_one_with_results') %>
        <a class="govuk-link" href="<%=localised_url(get_subdomain_host("getting-new-energy-certificate"))%>"><%= t('find_certificate_by_postcode_results.no_epc.get_a_new_one_link') %></a>.
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <%== erb :find_certificate_list_certificate, locals: {
        certificate: results } %>
    <% else %>
      <h1 class="govuk-heading-xl"><%= t('find_certificate_by_postcode_results.no_results.no_postcode', :postcode => CGI.escapeHTML(params['postcode'].upcase) ) %></h1>

      <p class="govuk-body">
        <%= t('find_certificate_by_postcode_results.epcs_only')%>. <%= t('find_certificate_by_postcode_results.no_results.no_certificates') %>
      </p>

      <p class="govuk-body">
        <%= t('find_certificate_by_postcode_results.no_results.search_again.text') %>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
          <li><a class="govuk-link" href="<%=localised_url('/find-a-certificate/search-by-postcode')%>"><span class="govuk-visually-hidden"><%= t('find_certificate_by_postcode_results.no_results.search_again.visually_hidden') %></span> <%= t('find_certificate_by_postcode_results.no_results.search_again.postcode') %></a></li>
          <li><a class="govuk-link" href="<%=localised_url('/find-a-certificate/search-by-street-name-and-town')%>"><span class="govuk-visually-hidden"><%= t('find_certificate_by_postcode_results.no_results.search_again.visually_hidden') %></span> <%= t('find_certificate_by_postcode_results.no_results.search_again.street_and_town') %></a></li>
          <li><a class="govuk-link" href="<%=localised_url('/find-a-certificate/search-by-reference-number')%>"><span class="govuk-visually-hidden"><%= t('find_certificate_by_postcode_results.no_results.search_again.visually_hidden') %></span> <%= t('find_certificate_by_postcode_results.no_results.search_again.certificate_number') %></a></li>
        </ul>
      </p>

      <p class="govuk-body">
        <%= t('find_certificate_by_postcode_results.no_epc.get_a_new_one_no_results') %>
        <a class="govuk-link" href="<%=localised_url(get_subdomain_host("getting-new-energy-certificate"))%>"><%= t('find_certificate_by_postcode_results.no_epc.get_a_new_one_link') %></a>.
      </p>
    <% end %>
  </div>
</div>
