<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if results.size > 0 %>
      <% result_content = results.size == 1 ? 'find_certificate_by_street_name_and_town_results.list.one_result' : 'find_certificate_by_street_name_and_town_results.list.more_than_one_result' %>
      <h1 class="govuk-heading-xl"><%= t(result_content,:length => count_certificates(results), :query => params['street_name'] + ', ' + params['town'] ) %></h1>
      <p class="govuk-body">
        <%= t('find_certificate_by_street_name_and_town_results.epcs_only') %>.
      </p>
      <p class="govuk-body">
        <%= t('find_certificate_by_street_name_and_town_results.no_epc.get_a_new_one_with_results') %>
        <a class="govuk-link" href="<%=localised_url(set_subdomain_url("getting-new-energy-certificate"))%>">
          <%= t('find_certificate_by_street_name_and_town_results.no_epc.get_a_new_one_link') %></a>.
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <%== erb :find_certificate_list_certificate, locals: {
        certificate: results } %>
    <% else %>
      <h1 class="govuk-body">
        <%= t('find_certificate_by_street_name_and_town_results.no_certificates') %>
      </h1>
    <% end %>
  </div>
</div>
