<% error_form_ids = ["street_name", "town"] %>

<% unless errors.empty? || errors[:generic] %>
   <%==erb :error_summary, locals: {errors: errors },  error_form_ids: error_form_ids %>
<% end %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="GET" action="<%=localised_url('/find-a-certificate/search-by-street-name-and-town')%>" >
      <% if I18n.locale != I18n.available_locales[0] %>
        <input type="hidden" name="lang" value="<%= I18n.locale.to_s %>">
      <% end %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-xl">
            <%= t('find_certificate_by_street_name_and_town.top_heading') %>
          </h1>
        </legend>

        <div class="govuk-form-group<% if errors[:street_name] %> govuk-form-group--error<% end %>">
          <label class="govuk-label" for="street_name">
            <%= t('find_certificate_by_street_name_and_town.street_name_question') %>
          </label>
          <div id="street-name-hint" class="govuk-hint">
            <%= t('find_certificate_by_street_name_and_town.street_name_hint') %>
          </div>
          <% if errors[:street_name] %>
          <p id="street_name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden"><%= t('error.error') %></span><%== errors[:street_name] %>
          </p>
          <% end %>
          <input id="street_name" name="street_name" type="text"
                 class="govuk-input<% if errors[:street_name] %> govuk-input--error<% end %>"
                 aria-describedby="street-name-hint<% if errors[:street_name] %> street-name-error<% end %>"
                 spellcheck="false"
                 <% if params['street_name'] %>value="<%= params['street_name'] %>"<% end %>
          >
        </div>

        <div class="govuk-form-group<% if errors[:town] %> govuk-form-group--error<% end %>">
          <label class="govuk-label" for="town">
            <%= t('find_certificate_by_street_name_and_town.town_question') %>
          </label>
          <div id="town-hint" class="govuk-hint">
            <%= t('find_certificate_by_street_name_and_town.town_hint') %>
          </div>
          <% if errors[:town] %>
          <p id="town-error" class="govuk-error-message">
            <span class="govuk-visually-hidden"><%= t('error.error') %></span><%== errors[:town] %>
          </p>
          <% end %>
          <input id="town" name="town" type="text"
                 class="govuk-input<% if errors[:town] %> govuk-input--error<% end %>"
                 aria-describedby="town-hint<% if errors[:town] %> town-error<% end %>"
                 spellcheck="false"
                 <% if params['town'] %>value="<%= params['town'] %>"<% end %>
          >
        </div>

        <button class="govuk-button" data-module="govuk-button"><%= t('find_certificate_by_street_name_and_town.button_text') %></button>
      </fieldset>

      <% if errors[:generic] %>
          <p class="govuk-error-message govuk-!-margin-top-9">
            <span class="govuk-visually-hidden"><%= t('error.error') %></span><%== t(errors[:generic][:error]) %>
          </p>

        <p class="govuk-body">
          <%= t('find_certificate_by_street_name_and_town.no_such_address.epcs_only') %>.
        </p>

        <p class="govuk-body">
          <%= t('find_certificate_by_street_name_and_town.no_such_address.get_a_new_one_no_results') %>
          <a class="govuk-link" href="<%=localised_url(set_subdomain_url("getting-new-energy-certificate"))%>"><%= t('find_certificate_by_street_name_and_town.no_such_address.get_a_new_one_link') %></a>.
        </p>
      <% end %>
    </form>
  </div>
</div>
