<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a
      href="<%= localised_url('/find-a-non-domestic-certificate/search-by-street-name-and-town')%>"
      class="govuk-back-link">
      <%=t('layout.body.breadcrumb.back')%>
    </a>

    <h1 class="govuk-heading-xl">
      <%= t('find_non_dom_certificate_by_street_name_and_town_results.top_heading') %>
    </h1>

    <p class="govuk-body">
      <%= t('find_non_dom_certificate_by_street_name_and_town_results.no_epc.get_a_new_one_with_results') %>
      <a href= <%=localised_url(set_subdomain_url("getting-new-energy-certificate"))%>>
        <%= t('find_non_dom_certificate_by_street_name_and_town_results.no_epc.get_a_new_one_link') %></a>.
    </p>

    <% if results.size > 0 %>
      <h2 class="govuk-heading-m"><%= t('find_non_dom_certificate_by_street_name_and_town_results.list', :length => count_certificates(results), :query => "#{params['street_name']} #{params['town']}" ) %></h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <%== erb :find_non_dom_certificate_list_certificate, locals: {
        certificate: results } %>
    <% else %>
      <p class="govuk-body">
        <%= t('find_non_dom_certificate_by_street_name_and_town_results.no_certificates') %>
      </p>
    <% end %>
  </div>
</div>
