<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a
      href="<%= localised_url('/find-an-assessor')%>"
      class="govuk-back-link">
      <%=t('layout.body.breadcrumb.back')%>
    </a>

    <h1 class="govuk-heading-xl">
      <%= t('find_assessor_by_postcode_results.top_heading') %>
    </h1>

    <form method="GET" action="<%=localised_url('/find-an-assessor/search-by-postcode')%>" >
      <% if I18n.locale != I18n.available_locales[0] %>
        <input type="hidden" name="lang" value="<%= I18n.locale.to_s %>">
      <% end %>
      <fieldset class="epc-search-fieldset">
        <div class="epc-search-bar-holder">
          <input id="postcode" name="postcode" type="text"
                 class="govuk-input epc-search-bar"
                 aria-describedby="postcode-hint"
                 autocomplete="postal-code"
                 spellcheck="false"
                 value="<%= params['postcode'].upcase %>"
          />
        </div>
        <button class="epc-search-button" data-module="govuk-button" aria-label="<%= t('find_assessor_by_postcode.button_text') %>"></button>
      </fieldset>
    </form>

    <% if results.size > 0 %>
      <p class="govuk-body">
        <%= t('find_assessor_by_postcode_results.description') %>
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('find_assessor_by_postcode_results.accreditation_summary_title') %>
          </span>
        </summary>
        <div class="govuk-details__text">
          <%== t('find_assessor_by_postcode_results.accreditation_summary_text') %>
        </div>
      </details>

      <h2 class="govuk-heading-m"><%= t('find_assessor_by_postcode_results.results', :quantity=>results.length, :postcode=>params['postcode'].upcase) %></h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <ul class="govuk-list">
          <% results.each do |result| %>
          <%== erb :find_assessor_list_assessor, locals: {
            assessor: result } %>
          <% end %>
      </ul>
    <% else %>
      <p class="govuk-body">
        <%= t('find_assessor_by_postcode_results.no_assessors') %>
      </p>
    <% end %>
  </div>
</div>
