<li>
  <div>
    <h2 class="govuk-heading-m"><%= "#{assessor[:firstName]} #{assessor[:lastName]}" %></h2>

    <div>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><%= t('find_non_domestic_assessor_by_postcode_results.qualification.title') %></dt>
          <dd class="govuk-summary-list__value">
            <%
              qualifications = []
              assessor[:qualifications].each do |qualification, qualification_status|
                if qualification_status == 'ACTIVE'
                  qualifications.push(t('find_non_domestic_assessor_by_postcode_results.qualification.' + qualification.to_s))
                end
              end
            %>

            <%= qualifications.join(", ") %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><%= t('find_non_domestic_assessor_by_postcode_results.accreditation.title') %></dt>
          <dd class="govuk-summary-list__value">
            <%=  t('find_non_domestic_assessor_by_postcode_results.accreditation.accredited_id') %>  <%= assessor[:schemeAssessorId] %> </br>
            <%=  t('find_non_domestic_assessor_by_postcode_results.accreditation.accredited_scheme') %>  <%= assessor[:registeredBy][:name] %>
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
          <dt class="govuk-summary-list__key govuk-!-padding-bottom-0 govuk-!-margin-bottom-0"><%= t('find_non_domestic_assessor_by_postcode_results.contact_details.title') %></dt>
          <dd class="govuk-summary-list__value govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
            <%= t('find_non_domestic_assessor_by_postcode_results.contact_details.email') %>  <a href="mailto:<%= assessor[:contactDetails][:email] %>"><%= assessor[:contactDetails][:email] %></a></br>
            <%= t('find_non_domestic_assessor_by_postcode_results.contact_details.telephone') %>  <%= assessor[:contactDetails][:telephoneNumber] %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</li>
