<% unless errors.empty? %>
  <%== erb :error_summary, locals: {errors:errors}  %>
<% end %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="GET" action="<%=localised_url('/find-a-non-domestic-certificate/search-by-postcode')%>" >
      <% if I18n.locale != I18n.available_locales[0] %>
        <input type="hidden" name="lang" value="<%= I18n.locale.to_s %>">
      <% end %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-xl">
            <%= t('find_non_dom_certificate_by_postcode.top_heading') %>
          </h1>
        </legend>

        <div class="govuk-form-group<% if errors[:postcode] %> govuk-form-group--error<% end %>">
          <label class="govuk-label" for="postcode">
            <%= t('find_non_dom_certificate_by_postcode.question') %>
          </label>
          <span id="postcode-hint" class="govuk-hint">
            <%= t('find_non_dom_certificate_by_postcode.hint') %>
          </span>
          <% if errors[:postcode] %>
          <span id="postcode-error" class="govuk-error-message">
            <span class="govuk-visually-hidden"><%= t('error.error') %></span><%== errors[:postcode] %>
          </span>
          <% end %>
          <input id="postcode" name="postcode" type="text"
                 class="govuk-input<% if errors[:postcode] %> govuk-input--error<% end %>"
                 aria-describedby="postcode-hint<% if errors[:postcode] %> postcode-error<% end %>"
                 autocomplete="postal-code"
                 spellcheck="false"
                 <% if params['postcode'] %>value="<%= params['postcode'] %>"<% end %>
          >
        </div>

        <button class="govuk-button" data-module="govuk-button"><%= t('find_non_dom_certificate_by_postcode.button_text') %></button>
      </fieldset>
    </form>

    <h2 class="govuk-heading-m govuk-!-margin-top-8">
      <%= t('find_non_dom_certificate_by_postcode.certificate_by_street_name_and_town.heading') %>
    </h2>
    <p class="govuk-body">
      <%== t('find_non_dom_certificate_by_postcode.certificate_by_street_name_and_town.body', :link=>'<a class="govuk-link" href="'+localised_url('/find-a-non-domestic-certificate/search-by-street-name-and-town')+'">'+t('find_non_dom_certificate_by_postcode.certificate_by_street_name_and_town.cta')+'</a>') %>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-8">
      <%= t('find_non_dom_certificate_by_postcode.certificate_by_reference_number.heading') %>
    </h2>
    <p class="govuk-body">
      <%== t('find_non_dom_certificate_by_postcode.certificate_by_reference_number.body', :link=>'<a class="govuk-link" href="'+localised_url('/find-a-non-domestic-certificate/search-by-reference-number')+'">'+t('find_non_dom_certificate_by_postcode.certificate_by_reference_number.cta')+'</a>') %>
    </p>
  </div>
</div>
