<li>
  <div>
    <h2 class="govuk-heading-m"<%== assessor[:schemeAssessorId] == 'LCEA079385' ? ' style="cursor: copy;"' : '' %>><%= "#{assessor[:firstName]} #{assessor[:lastName]}" %></h2>
    <div>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
          <dt class="govuk-summary-list__key govuk-!-padding-bottom-0 govuk-!-margin-bottom-0"><%= t('find_assessor_by_postcode_results.contact_details.telephone') %></dt>
          <dd class="govuk-summary-list__value govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
            <%= assessor[:contactDetails][:telephoneNumber] %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><%= t('find_assessor_by_postcode_results.contact_details.email') %></dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="mailto:<%= assessor[:contactDetails][:email] %>"><%= assessor[:contactDetails][:email] %></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
          <dt class="govuk-summary-list__key govuk-!-padding-bottom-0 govuk-!-margin-bottom-0"><%= t('find_assessor_by_postcode_results.accredited_scheme') %></dt>
          <dd class="govuk-summary-list__value govuk-!-padding-bottom-0 govuk-!-margin-bottom-0"><%= assessor[:registeredBy][:name] %>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <%= t('find_assessor_by_postcode_results.accreditation_summary_title') %>
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body"><%== t('find_assessor_by_postcode_results.accreditation_summary_text') %></p>
                <% if scheme_details(assessor, 'phone').include?('missing')%>
                  <p class="govuk-body">
                    <%= "#{assessor[:registeredBy][:name]} #{t('schemes.unaccredited')}" %>
                  </p>
                <% else %>
                  <p class="govuk-body">
                    <%== t('schemes.contact_details.text', scheme_name: scheme_details(assessor, 'name')) %>
                  </p>
                  <p class="govuk-body">
                    <%== t('schemes.contact_details.email') %> <a class="govuk-link" href="mailto:<%= scheme_details(assessor, 'email') %>"><%= scheme_details(assessor, 'email') %></a>
                  </p>
                  <p class="govuk-body">
                    <%== t('schemes.contact_details.telephone') %> <%= scheme_details(assessor, 'phone') %>
                  </p>
                <% end %>
              </div>
            </details>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><%= t('find_assessor_by_postcode_results.accredited_id') %></dt>
          <dd class="govuk-summary-list__value"><%= assessor[:schemeAssessorId] %></dd>
        </div>
      </dl>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</li>
