<li>
  <div>
    <h2 class="govuk-heading-m"<%== assessor[:schemeAssessorId] == 'LCEA079385' ? ' style="cursor: copy;"' : '' %>><%= "#{assessor[:firstName]} #{assessor[:lastName]}" %></h2>
    <div>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
          <dt class="govuk-summary-list__key govuk-!-padding-bottom-0 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><%= t('find_assessor_by_postcode_results.contact_details.telephone') %></dt>
          <dd class="govuk-summary-list__value govuk-!-padding-bottom-0 govuk-!-margin-bottom-0 govuk-!-font-weight-bold">
              <%= assessor[:contactDetails][:telephoneNumber] %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular"><%= t('find_assessor_by_postcode_results.contact_details.email') %></dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
              <a href="mailto:<%= assessor[:contactDetails][:email] %>"><%= assessor[:contactDetails][:email] %></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
          <dt class="govuk-summary-list__key govuk-!-padding-bottom-0 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><%= t('find_assessor_by_postcode_results.accredited_scheme') %></dt>
          <dd class="govuk-summary-list__value govuk-!-padding-bottom-0 govuk-!-margin-bottom-0 govuk-!-font-weight-bold"><%= assessor[:registeredBy][:name] %>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('find_assessor_by_postcode_results.accreditation_summary_title') %>
          </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body"><%== t('find_assessor_by_postcode_results.accreditation_summary_text') %></p>

              <% if t('schemes.list.'+ assessor[:registeredBy][:name].split.first.downcase).include?('missing')%>
                <p class="govuk-body">
                  <%= "#{assessor[:registeredBy][:name]} #{t('schemes.unaccredited')}" %>
                </p>
              <% else %>
                <p class="govuk-body">
                  <%== t('find_assessor_by_postcode_results.contact_details.text') %> <%= t('schemes.list.'+ assessor[:registeredBy][:name].split.first.downcase + '.name' ) %>:
                </p>
                <p class="govuk-body">
                  <%== t('find_assessor_by_postcode_results.contact_details.email') %>:  <a href="mailto:<%= t('schemes.list.'+ assessor[:registeredBy][:name].split.first.downcase + '.email' ) %>"><%= t('schemes.list.'+ assessor[:registeredBy][:name].split.first.downcase + '.email' ) %></a>
                </p>
                <p class="govuk-body">
                  <%== t('find_assessor_by_postcode_results.contact_details.telephone') %>: <%= t('schemes.list.'+ assessor[:registeredBy][:name].split.first.downcase + '.phone' ) %>
                </p>
              <% end %>
            </div>
          </details>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular"><%= t('find_assessor_by_postcode_results.accredited_id') %></dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold"><%= assessor[:schemeAssessorId] %></dd>
        </div>
      </dl>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</li>
