<div class="govuk-grid-column-two-thirds epc-blue-bottom">
  <a id="green_deal"></a>
  <h2 class="govuk-heading-l"><%= t('domestic_epc.sections.green_deal.title') %></h2>
  <p class="govuk-body"><%== t('domestic_epc.sections.green_deal.info', :link => '<a href="' + t('domestic_epc.sections.green_deal.url') + '">' + t('domestic_epc.sections.green_deal.title') + '</a>') %></p>
  <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.copy_of_plan') %></p>
  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.green_deal.cost_of_plan') %></h3>

  <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.plan_charges.title') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
    <li><%== t('domestic_epc.sections.green_deal.plan_charges.point_one') %></li>
    <li><%== t('domestic_epc.sections.green_deal.plan_charges.point_two') %></li>
  </ul>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('domestic_epc.sections.green_deal.current_charge') %></td>
        <td class="govuk-table__cell">£<%= calculate_yearly_charges(assessment) %> per year</td>
        <td class="govuk-table__header"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('domestic_epc.sections.green_deal.payment_period_start') %></td>
        <td class="govuk-table__cell"><%= Date.parse(assessment[:greenDealPlan][:startDate]).strftime("%d %B %Y") %></td>
        <td class="govuk-table__header"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('domestic_epc.sections.green_deal.payment_period_end') %></td>
        <td class="govuk-table__cell"><%= Date.parse(assessment[:greenDealPlan][:endDate]).strftime("%d %B %Y") %></td>
        <td class="govuk-table__header"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('domestic_epc.sections.green_deal.interest_rate_payable') %></td>
        <% interest_rate = assessment[:greenDealPlan][:interest][:fixed] ? 'fixed' : 'variable' %>
        <td class="govuk-table__cell"><%= interest_rate %> at <%= assessment[:greenDealPlan][:interest][:rate] %>% APR</td>
        <td class="govuk-table__header"></td>
      </tr>
    </tbody>
  </table>
    <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.charge_overtime') %></p>
    <p class="govuk-body"><%= t('domestic_epc.sections.green_deal.estimated_savings.title') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.assessment') %></li>
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.improvements_made') %></li>
      <li><%== t('domestic_epc.sections.green_deal.estimated_savings.typical_energy_use') %></li>
    </ul>
    <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.green_deal.improvements_header') %></th>
        <th scope="col" class="govuk-table__header"><%= t('domestic_epc.sections.green_deal.paid_off_header') %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% assessment[:greenDealPlan][:measures].each do |green_deal_product| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= green_deal_product[:product] %></td>
        <td class="govuk-table__cell"><%= green_deal_product[:repaidDate].empty? ? "" : Date.parse(green_deal_product[:repaidDate]).strftime("%d %B %Y") %></td>
        <td class="govuk-table__header"></td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <h3 class="govuk-heading-m"><%= t('domestic_epc.sections.green_deal.plan_and_provider_details') %></h3>
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('domestic_epc.sections.green_deal.plan_number') %></td>
        <td class="govuk-table__cell"><%= assessment[:greenDealPlan][:greenDealPlanId] %></td>
        <td class="govuk-table__header"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('domestic_epc.sections.green_deal.provider_name') %></td>
        <td class="govuk-table__cell"><%= assessment[:greenDealPlan][:providerDetails][:name] %></td>
        <td class="govuk-table__header"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('domestic_epc.sections.green_deal.provider_telephone') %></td>
        <td class="govuk-table__cell"><%= assessment[:greenDealPlan][:providerDetails][:telephone] %></td>
        <td class="govuk-table__header"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('domestic_epc.sections.green_deal.provider_email') %></td>
        <td class="govuk-table__cell">
          <a href="mailto:<%= assessment[:greenDealPlan][:providerDetails][:email] %>">
            <%= assessment[:greenDealPlan][:providerDetails][:email] %>
          </a>
        </td>
        <td class="govuk-table__header"></td>
      </tr>
    </tbody>
  </table>
</div>
