<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      <%= t("#{locals_node}.top_heading") %>
    </h1>


      <p class="govuk-body">
        <%== t("#{locals_node}.intro") %>
      </p>

      <div class="govuk-body">
        <a href="mailto:dluhc.digital-services@levellingup.gov.uk">dluhc.digital-services@levellingup.gov.uk</a><br/>
         <%= t('help_page.tel') %>: 020 3829 0748<br/>
         <%= t('help_page.opening_times') %><br/>
        <a href="https://www.gov.uk/call-charges"><%= t('help_page.find_out_more') %></a><br/>
      </div>
    </div>
</div>
