<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('index.top_heading') %>
    </h1>
    <p class="govuk-body">
      <%= t('index.introduction') %>
    </p>

    <p class="govuk-body">
      <%= t('index.find_an_assessor.body', :link => '<a href="' + t('index.find_an_assessor.url') + '">' + t('index.find_an_assessor.cta') + '</a>' ) %>
    </p>

    <p class="govuk-body">
      <%= t('index.find_a_certificate.body', :link => '<a href="' + t('index.find_a_certificate.url') + '">' + t('index.find_a_certificate.cta') + '</a>' ) %>
    </p>

    <p class="govuk-body">
      <%= t('index.caution') %>
    </p>
  </div>
</div>
