<div class="govuk-body epc-blue-bottom">
  <a id="contact"></a>
  <h2 class="govuk-heading-l"><%=
    t('non_domestic_epc.contact.heading')
  %></h2>

  <p class="govuk-body"><%= t('non_domestic_epc.contact.p1') %></p>
  <p class="govuk-body"><%= t('non_domestic_epc.contact.p2') %></p>
  <p class="govuk-body"><%= t('non_domestic_epc.contact.p3') %></p>
  <p class="govuk-body"><%= t('non_domestic_epc.contact.p4') %></p>

  <h3 class="govuk-heading-m"><%=
    t('non_domestic_epc.contact.assessor.heading')
  %></h3>

  <%== erb :component__summary_list, locals: {
    list: {
      "name": assessor[:name],
      "phone": assessor[:contactDetails][:telephone],
      "email": { type: "email", value: assessor[:contactDetails][:email] },
    },
    translation_prefix: 'non_domestic_epc.contact.assessor.',
    skip_null: true
  } %>

  <h3 class="govuk-heading-m"><%=
    t('non_domestic_epc.contact.scheme.heading')
  %></h3>

  <%== erb :component__summary_list, locals: {
    list: {
      "scheme.name": scheme_details(assessor, 'name'),
      "assessor.id": assessor[:schemeAssessorId],
      "scheme.phone": scheme_details(assessor, 'phone'),
      "scheme.email":  { tpye: "email", value: scheme_details(assessor, 'email') },
    },
    translation_prefix: 'non_domestic_epc.contact.',
    skip_null: true
  } %>

  <h3 class="govuk-heading-m"><%=
    t('non_domestic_epc.contact.assessment.heading')
  %></h3>

  <%== erb :component__summary_list, locals: {
    list: {
      "date_assessed": date(assessment_date),
      "date_certificate": date(registration_date),
      "employer": assessor[:companyDetails][:name],
      "employer_address":  assessor[:companyDetails][:address],
      "declaration": party_disclosure(related_party_disclosure.nil? ? "13" : related_party_disclosure, "", "non_domestic_disclosure_code", "non_domestic_epc"),
    },
    translation_prefix: 'non_domestic_epc.contact.assessment.',
    skip_null: true
  } %>
</div>
