<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate')%>"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
    </div>
  </div>

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('non_domestic_epc.top_heading') %></h1>
  </div>

  <div class="govuk-grid-column-one-third">
    <hr class="epc-blue-top" />
    <% content_sections = [
      {
        link: '#renting',
        text: 'non_domestic_epc.sections.renting.title'
      },
      {
        link: '#energy_rating_section',
        text: 'non_domestic_epc.energy_rating_section.title'
      },
      {
        link: '#how_this_building_compares',
        text: 'non_domestic_epc.how_this_building_compares.heading'
      },
      {
        link: '#energy_peformance_breakdown',
        text: 'non_domestic_epc.energy_peformance_breakdown.heading'
      },
      {
        link: '#related_report',
        text: 'non_domestic_epc.related_report.heading'
      },
      {
        link: '#contact',
        text: 'non_domestic_epc.contact.heading'
      },
      {
        link: '#other_reports',
        text: 'component.related.certificates.title'
      }
    ]
       if assessment[:relatedCepcReport]
         content_sections.unshift link: '#rating',
                                  text: 'non_domestic_epc.rr.rating.title'
       end
    %>
    <%== erb :component__contents, locals: {
      title: t("non_domestic_epc.contents.title"),
      sections: content_sections
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />

    <%== erb :component__epc_summary, locals: {
      energy_efficiency_band: assessment[:currentEnergyEfficiencyBand],
      address: assessment[:address],
      date_of_expiry: assessment[:dateOfExpiry],
      assessment_id: assessment[:assessmentId],
      property_type: assessment[:propertyType],
      floor_area: assessment[:technicalInformation][:floorArea]
    } %>

    <div class="govuk-body epc-blue-bottom">
      <a id="renting"></a>
      <h2 class="govuk-heading-l"><%= t('non_domestic_epc.sections.renting.title') %></h2>
      <% minimum_energy_band = 'e' %>
      <% if assessment[:currentEnergyEfficiencyBand] > minimum_energy_band %>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive"><%= t('non_domestic_epc.sections.renting.warning.assistive_text') %></span><%= t('non_domestic_epc.sections.renting.warning.text') %></strong>
        </div>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.warning.body', current_energy_efficiency_band: assessment[:currentEnergyEfficiencyBand].upcase) %></p>
      <% else %>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.body_1') %></p>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.body_2') %></p>
      <% end %>
      <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.summary') %></p>
      <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.guidance_text', :link => '<a href="' + t('non_domestic_epc.sections.renting.rental_info.url') + '">' + t('non_domestic_epc.sections.renting.rental_info.cta') + '</a>') %></p>
      <% if assessment[:currentEnergyEfficiencyBand] > minimum_energy_band %>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.recommendation', link: '<a href="' + t('non_domestic_epc.sections.renting.url') + '">' + t('non_domestic_epc.sections.renting.cta') + '</a>') %></p>
      <% end %>
    </div>
    <div class="govuk-body epc-blue-bottom">
      <a id="energy_rating_section"></a>
      <h2 class="govuk-heading-l"><%= t('non_domestic_epc.energy_rating_section.title') %></h2>
      <p class="govuk-body"><%== t('non_domestic_epc.energy_rating_section.current_rating_text', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase) %></p>
      <%== erb :non_domestic_energy_rating, locals: {
        current_energy_efficiency_rating: assessment[:energyEfficiencyRating],
        current_energy_efficiency_band: assessment[:currentEnergyEfficiencyBand],
        title: t('non_domestic_epc.energy_rating_section.svg.aria-label', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase, :current_energy_efficiency_rating => assessment[:energyEfficiencyRating])} %>
      <p class="govuk-body govuk-!-margin-top-3"><%= t('non_domestic_epc.energy_rating_section.rating_desc') %></p>
      <p class="govuk-body"><%= t('non_domestic_epc.energy_rating_section.score_desc') %></p>
    </div>

    <%== erb :non_domestic_energy_performance_certificate__how_building_compares,
    locals: {
      existing_build_rating: assessment[:existingBuildRating],
      existing_build_band: assessment[:existingBuildBand],
      new_build_rating: assessment[:newBuildRating],
      new_build_band: assessment[:newBuildBand],
    } %>

    <%== erb :non_domestic_energy_performance_certificate__energy_performance_breakdown, locals: {
      main_heating_fuel: assessment[:technicalInformation][:mainHeatingFuel],
      building_environment: assessment[:technicalInformation][:buildingEnvironment],
      floor_area: assessment[:technicalInformation][:floorArea],
      assessment_level: assessment[:technicalInformation][:buildingLevel],
      emission_rate: assessment[:buildingEmissionRate],
      primary_energy_use: assessment[:primaryEnergyUse]
    } %>

    <%== erb :non_domestic_energy_performance_certificate__related_report, locals: {
      related_rrn: assessment[:relatedRrn]
    } %>

    <%== erb :non_domestic_energy_performance_certificate__contact, locals: {
      assessor: assessment[:assessor],
      assessment_date: assessment[:dateOfAssessment],
      registration_date: assessment[:dateOfRegistration],
      related_party_disclosure: assessment[:relatedPartyDisclosure]
    } %>

    <a id="other_reports"></a>
    <%== erb :component__related_assessments, locals: {
      assessment: assessment,
      section_heading: t('component.related.title', type: assessment[:typeOfAssessment]),
      reminder: t('component.related.certificates.text', contact_centre_number: t('contact.help_desk_number')),
      no_related_text: t('component.related.certificates.no_related_certificates'),
      assessment_type: assessment[:typeOfAssessment],
      heading_report_reference: t('component.related.reference_number'),
      heading_valid_until: t('component.related.valid_until'),
      expired_text: t('component.related.expired'),
    } %>
  </div>
</div>
