<div id="how_this_building_compares" class="govuk-body printable-area">
  <h2 class="govuk-heading-l">
    <%= t('non_domestic_epc.how_this_building_compares.heading') %>
  </h2>
  <p class="govuk-body">
    <%= t('non_domestic_epc.how_this_building_compares.explanation') %>
  </p>
  <dl class="govuk-summary-list epc-how-compares">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" style="vertical-align: top"><%=
        t('non_domestic_epc.how_this_building_compares.if_newly_built')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
        <svg width="90" height="50" viewBox="0 0 90 50" style="vertical-align: middle">
          <polygon points="0,25 25,50 100,50 100,0 25,0 0,25" class="band-<%= new_build_band %>"></polygon>
          <text x="30" y="30" aria-hidden="true"><%= new_build_rating %> | <%= new_build_band.upcase %></text>
          <text class="govuk-visually-hidden" x="30" y="30"><%= new_build_rating %> <%= new_build_band.upcase %></text>
        </svg>
     </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" style="vertical-align: top"><%=
        t('non_domestic_epc.how_this_building_compares.if_typical_existing_stock')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
        <svg width="90" height="50" viewBox="0 0 90 50" style="vertical-align: middle">
          <polygon points="0,25 25,50 100,50 100,0 25,0 0,25" class="band-<%= existing_build_band %>"></polygon>
          <text x="30" y="30" aria-hidden="true"><%= existing_build_rating %> | <%= existing_build_band.upcase %></text>
          <text class="govuk-visually-hidden" x="30" y="30"><%= existing_build_rating %> <%= existing_build_band.upcase %></text>
        </svg>
      </dd>
    </div>
  </dl>
</div>
