<div class="govuk-body epc-blue-bottom">
  <h2 class="govuk-heading-l">
    <%= t('non_domestic_epc.how_this_building_compares.heading') %>
  </h2>
  <p>
    <%= t('non_domestic_epc.how_this_building_compares.explanation') %>
  </p>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" style="vertical-align: top"><%=
        t('non_domestic_epc.how_this_building_compares.if_newly_built')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
        <svg width="90" height="50" style="vertical-align: middle">
          <rect width="75" height="50" class="band-<%= new_build_band %>" x="25"></rect>
          <polygon points="0,25 25,50 25,0 0,25" class="band-<%= new_build_band %>"></polygon>
          <text x="30" y="30"><%= new_build_rating %> | <%= new_build_band.upcase %></text>
        </svg>
     </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" style="vertical-align: top"><%=
        t('non_domestic_epc.how_this_building_compares.if_typical_existing_stock')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
        <svg width="90" height="50" style="vertical-align: middle">
          <rect width="75" height="50" class="band-<%= existing_build_band %>" x="25"></rect>
          <polygon points="0,25 25,50 25,0 0,25" class="band-<%= existing_build_band %>"></polygon>
          <text x="30" y="30"><%= existing_build_rating %> | <%= existing_build_band.upcase %></text>
        </svg>
      </dd>
    </div>
  </dl>
</div>
