<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-certificate')%>"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('non_domestic_epc.top_heading') %></h1>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />
    <div class="govuk-body epc-blue-bottom">
      <div class="epc-box">
        <div class="epc-rating-box">
          <p class="epc-rating-title govuk-body"><%= t('domestic_epc.box.energy_rating_title') %></p>
          <p class="epc-rating-result govuk-body"><%= assessment[:currentEnergyEfficiencyBand].upcase %></p>
        </div>
        <p class="epc-address govuk-body"><%== [assessment[:addressLine1],
                                                assessment[:addressLine2],
                                                assessment[:addressLine3],
                                                assessment[:addressLine4]].reject!(&:empty?).join('<br>') %><br><%= assessment[:town] %><br><%= assessment[:postcode] %></p>
        <p class="govuk-body epc-extra-box"><%= t('domestic_epc.box.date_of_expiry', :date_of_expiry => Date.parse(assessment[:dateOfExpiry]).strftime('%-d %B %Y')) %></p>
      </div>
    </div>
  </div>
</div>
