<div class="govuk-body epc-blue-bottom">
  <a id="contact"></a>
  <h2 class="govuk-heading-l"><%=
    t('non_domestic_epc.contact.heading')
  %></h2>

  <p class="govuk-body"><%= t('non_domestic_epc.contact.p1') %></p>
  <p class="govuk-body"><%= t('non_domestic_epc.contact.p2') %></p>
  <p class="govuk-body"><%= t('non_domestic_epc.contact.p3') %></p>
  <p class="govuk-body"><%= t('non_domestic_epc.contact.p4') %></p>

  <h3 class="govuk-heading-m"><%=
    t('non_domestic_epc.contact.assessor.heading')
  %></h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessor.name')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        assessor[:name]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessor.phone')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        assessor[:contactDetails][:telephone]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessor.email')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        assessor[:contactDetails][:email]
      %></dd>
    </div>
  </dl>

  <h3 class="govuk-heading-m"><%=
    t('non_domestic_epc.contact.scheme.heading')
  %></h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.scheme.name')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        scheme_details(assessor, 'name')
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessor.id')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        assessor[:schemeAssessorId]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.scheme.phone')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        scheme_details(assessor, 'phone')
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.scheme.email')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        scheme_details(assessor, 'email')
      %></dd>
    </div>
  </dl>

  <h3 class="govuk-heading-m"><%=
    t('non_domestic_epc.contact.assessment.heading')
  %></h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessment.date_assessed')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        Date.parse(assessment_date).strftime('%-d %B %Y')
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessment.date_certificate')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        Date.parse(registration_date).strftime('%-d %B %Y')
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessment.employer')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        assessor[:companyDetails][:name]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessment.employer_address')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right"><%=
        assessor[:companyDetails][:address]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half" ><%=
        t('non_domestic_epc.contact.assessment.declaration')
      %></dt>
      <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
        <%= party_disclosure(related_party_disclosure.nil? ? "13" : related_party_disclosure, "", "non_domestic_disclosure_code", "non_domestic_epc") %>
      </dd>
    </div>
  </dl>
</div>
