<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      <a
        href="<%= localised_url('/find-a-non-domestic-certificate')%>"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
      <h1 class="govuk-heading-xl"><%= t('non_domestic_epc.top_heading') %></h1>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />
    <div class="govuk-body epc-blue-bottom">
      <div class="epc-box">
        <div class="epc-rating-box">
          <p class="epc-rating-title govuk-body"><%= t('domestic_epc.box.energy_rating_title') %></p>
          <p class="epc-rating-result govuk-body"><%= assessment[:currentEnergyEfficiencyBand].upcase %></p>
        </div>
        <p class="epc-address govuk-body"><%== [assessment[:addressLine1],
                                                assessment[:addressLine2],
                                                assessment[:addressLine3],
                                                assessment[:addressLine4]].reject!(&:empty?).join('<br>') %><br><%= assessment[:town] %><br><%= assessment[:postcode] %></p>
        <p class="govuk-body epc-extra-box"><%= t('domestic_epc.box.date_of_expiry', :date_of_expiry => Date.parse(assessment[:dateOfExpiry]).strftime('%-d %B %Y')) %></p>
        <p class="govuk-body epc-extra-box">
          <label><%= t('domestic_epc.box.certificate_id') %></label>
          <b><%= assessment[:assessmentId] %></b>
        </p>
      </div>
    </div>
    <div class="govuk-body epc-blue-bottom">
      <h2 class="govuk-heading-l"><%= t('non_domestic_epc.sections.renting.title') %></h2>
      <% minimum_energy_band = 'e' %>
      <% if assessment[:currentEnergyEfficiencyBand] > minimum_energy_band %>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive"><%= t('non_domestic_epc.sections.renting.warning.assistive_text') %></span><%= t('non_domestic_epc.sections.renting.warning.text') %></strong>
        </div>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.warning.body', current_energy_efficiency_band: assessment[:currentEnergyEfficiencyBand].upcase) %></p>
    <% else %>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.body_1') %></p>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.body_2') %></p>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.summary') %></p>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.guidance_text', :link => '<a href="' + t('non_domestic_epc.sections.renting.rental_info.url') + '">' + t('non_domestic_epc.sections.renting.rental_info.cta') + '</a>' ) %></p>
      <% end %>
    </div>
    <div class="govuk-body epc-blue-bottom">
      <h2 class="govuk-heading-l"><%= t('non_domestic_epc.energy_rating_section.title') %></h2>
      <p class="govuk-body"><%== t('non_domestic_epc.energy_rating_section.current_rating_text', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase) %></p>
      <%== erb :non_domestic_energy_rating, locals: {
        current_energy_efficiency_rating: assessment[:currentEnergyEfficiencyRating],
        current_energy_efficiency_band: assessment[:currentEnergyEfficiencyBand],
        title: t('non_domestic_epc.energy_rating_section.svg.aria-label', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase, :current_energy_efficiency_rating => assessment[:currentEnergyEfficiencyRating])} %>
      <p class="govuk-body govuk-!-margin-top-3"><%= t('non_domestic_epc.energy_rating_section.rating_desc') %></p>
      <p class="govuk-body"><%= t('non_domestic_epc.energy_rating_section.score_desc') %></p>
    </div>
  </div>
</div>
