<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      <a href="<%= localised_url('/find-a-non-domestic-certificate/search-by-postcode')%>"
         class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>
    </div>
  </div>
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('non_domestic_epc.rr.top_heading') %></h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <hr class="epc-blue-top" />
    <% content_sections = [
      {
        link: '#recommendations',
        text: 'component.recommendations.title'
      },
      {
        link: '#property_details',
        text: 'non_domestic_epc.rr.property_details.title'
      },
      {
        link: '#assessor_details',
        text: 'non_domestic_epc.rr.assessor_details.title'
      },
      {
        link: '#other_reports',
        text: 'component.related.reports.title'
      }
    ]
       if assessment[:energyBandFromRelatedCertificate]
         content_sections.unshift link: '#rating',
                                  text: 'non_domestic_epc.rr.rating.title'
       end
    %>
    <%== erb :component__contents, locals: {
      title: t("non_domestic_epc.rr.contents.title"),
      sections: content_sections
    } %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <hr class="epc-light-top" />
      <%== erb :component__epc_summary_compact, locals: {
        assessment: assessment,
        type: t('component.print.type.report'),
      } %>

    <% if assessment[:relatedCertificate] && assessment[:energyBandFromRelatedCertificate] %>
      <%== erb :non_domestic_energy_performance_certificate_recommendation_report__rating,
               locals: {
                 related_cepc: assessment[:relatedCertificate],
                 related_band: assessment[:energyBandFromRelatedCertificate]
               }
      %>
    <% end %>

    <%== erb :component__non_domestic_recommendations,
             locals: {
               assessment: assessment,
             }
    %>

    <%== erb :non_domestic_energy_performance_certificate_recommendation_report__property_details,
             locals: {
               assessment: assessment,
             }
    %>

    <%== erb :non_domestic_energy_performance_certificate_recommendation_report__assessor_details,
             locals: {
               assessment: assessment,
             }
    %>

    <div id="other_reports">
      <%== erb :component__related_assessments, locals: {
        assessment: assessment,
        type: 'report',
        assessment_type:  assessment[:typeOfAssessment],
      } %>
    </div>
  </div>
</div>
