<svg width="615" height="426" viewBox="0 0 615 426" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" role="img">
  <title id="svg-title"><%= title %></title>
  <%

    bands = {
      'a+': {
        'range': 'Under 0',
        'position': -0.4,
      },
      'a': {
        'range': '0-25',
        'position': 1,
        'color': '#008054'
      },
      'b': {
        'range': '26-50',
        'position': 2,
        'color': '#19b459'
      },
      'c': {
        'range': '51-75',
        'position': 3,
        'color': '#8dce46'
      },
      'd': {
        'range': '76-100',
        'position': 4,
        'color': '#ffd500'
      },
      'e': {
        'range': '101-125',
        'position': 5,
        'color': '#fcaa65'
      },
      'f': {
        'range': '126-150',
        'position': 6,
        color: '#ef8023'
      },
      'g': {
        'range': 'Over 150',
        'position': 7,
        'color': '#e9153b'
      }
    }

    score_bands = {
      'a-plus-score': {
        'position': -0.4,
        'color': '#008054'
      },
      'a-score': {
        'position': 1,
        'color': '#008054'
      },
      'b-score': {
        'position': 2,
        'color': '#19b459'
      },
      'c-score': {
        'position': 3,
        'color': '#8dce46'
      },
      'd-score': {
        'position': 4,
        'color': '#ffd500'
      },
      'e-score': {
        'position': 5,
        'color': '#fcaa65'
      },
      'f-score': {
        'position': 6,
        'color': '#ef8023'
      },
      'g-score': {
        'position': 7,
        'color': '#e9153b'
      }
    }

  %>

  <style>
    .letter {
      font-size: 40px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      font-weight: bold;
    }

    .current-potential-number {
      font-size: 22px;
      font-family: sans-serif;
      fill: #000;
      line-height: 50px;
      margin-top: 100px;
    }

    .small-letter {
      font-size: 19px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      font-weight: bold;
      text-align: center;
    }

    .small {
      font-size: 20px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      line-height: 50px;
      margin-top: 100px;
      font-weight: bold;
    }

    .c02-line {
      stroke: lightblue;
      stroke-width: 4;
    }

    <% bands.each do |key, settings| %>
      .band-<%= key %>{
        fill: <%= settings[:color] %>
      }
    <% end %>

    <% score_bands.each do |key, settings| %>
    .band-<%= key %>{
      fill: <%= settings[:color] %>
    }
    <% end %>

    .band-a-plus-score {
      stroke-width: 5;
      stroke: #008054;
      fill: white;
    }

    .band-a\+ {
      fill: #008054;
    }
  </style>

  <line x1="0" y1="65" x2="415" y2="65" class="c02-line"></line>
  <text x="420" y="65" class="small">Net zero CO2</text>

  <% score_bands.each_with_index do |(key, settings), index| %>
    <% if index == 0 %>
      <rect width="<%= 175 + index * 30 %>" height="50" x="4" y="<%= 25 + settings[:position] * 50 %>" class="band-<%= key %>">
      </rect>
    <% else %>
      <rect width="<%= 175 + index * 30 %>" height="50" x="0" y="<%= 25 + settings[:position] * 50 %>" class="band-<%= key %>">
      </rect>
    <% end %>
  <% end %>

  <text x="0" y="0" class="letter">
    <% bands.each do |key, settings| %>
      <tspan x="<%= 115 + (30 * settings[:position]) + 12 %>" y="<%= 75 + (50 * settings[:position]) - 11 %>"><%= key.upcase %></tspan>
    <% end %>
  </text>

  <text x="0" y="0" class="small">
    <% bands.each_value do |settings| %>
      <tspan x="8" y="<%= 50 + (50 * settings[:position]) + 5 %>"><%= settings[:range] %></tspan>
    <% end %>
  </text>

  <svg x="415" y="<%= 25 + bands[current_energy_efficiency_band.to_sym][:position] * 50 %>" width="110" height="50">
    <rect width="75" height="50" class="band-<%= current_energy_efficiency_band %>" x="25"></rect>
    <polygon points="0,25 25,50 25,0 0,25" class="band-<%= current_energy_efficiency_band %>"></polygon>
    <text x="25" y="32" class="current-potential-number"><%= current_energy_efficiency_rating %> |</text>
    <text x="75" y="32" class="small-letter"><%= current_energy_efficiency_band.upcase %></text>
  </svg>
</svg>
