<script type="text/javascript" src="<%= assets_path('/javascript/certificate.js') %>"></script>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <h1 class="govuk-heading-xl main-heading printable-area"><%= t('non_domestic_epc.top_heading') %></h1>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <hr class="epc-blue-top" />
    <% content_sections = [
      {
        link: '#renting',
        text: 'non_domestic_epc.sections.renting.title'
      },
      {
        link: '#energy_rating_section',
        text: 'non_domestic_epc.energy_rating_section.title'
      },
      {
        link: '#how_this_building_compares',
        text: 'non_domestic_epc.how_this_building_compares.heading'
      },
      {
        link: '#energy_peformance_breakdown',
        text: 'non_domestic_epc.energy_peformance_breakdown.heading'
      },
      {
        link: '#related_report',
        text: 'non_domestic_epc.related_report.heading'
      },
      {
        link: '#contact',
        text: 'non_domestic_epc.contact.heading'
      },
      {
        link: '#other_certificates_and_reports',
        text: 'component.related.certificates.title'
      }
    ]
       if assessment[:relatedCepcReport]
         content_sections.unshift link: '#rating',
                                  text: 'non_domestic_epc.rr.rating.title'
       end

       if assessment[:address][:postcode][0..1] == "BT"
         content_sections.delete_if { |h| h[:link] == "#renting" }
       end
    %>
    <%== erb :component__contents, locals: {
      title: t("non_domestic_epc.contents.title"),
      sections: content_sections
    } %>

    <%== erb :component__share_certificate, locals: {
      type: 'certificate',
      top_heading: 'non_domestic_epc',
      assessment: assessment,
      dec: false,
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">


    <hr class="epc-blue-top" />

    <%== erb :component__epc_summary, locals: {
      energy_efficiency_band: assessment[:currentEnergyEfficiencyBand],
      address: assessment[:address],
      occupier: nil,
      date_of_expiry: assessment[:dateOfExpiry],
      assessment_id: assessment[:assessmentId],
      property_type: assessment[:propertyType],
      floor_area: assessment[:technicalInformation][:floorArea]
    } %>

    <% unless assessment[:address][:postcode][0..1] == "BT" %>
      <div class="govuk-body epc-blue-bottom printable-area">
        <a id="renting"></a>
        <h2 class="govuk-heading-l"><%= t('non_domestic_epc.sections.renting.title') %></h2>
        <% minimum_energy_band = 'e' %>
        <% if assessment[:currentEnergyEfficiencyBand] > minimum_energy_band %>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive"><%= t('non_domestic_epc.sections.renting.warning.assistive_text') %></span><%= t('non_domestic_epc.sections.renting.warning.text') %></strong>
          </div>
          <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.warning.body', current_energy_efficiency_band: assessment[:currentEnergyEfficiencyBand].upcase) %></p>
        <% else %>
          <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.body_1') %></p>
          <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.body_2') %></p>
        <% end %>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.summary') %></p>
        <% unless defined?(print_view) && print_view %>
        <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.rental_info.guidance_text', :link => '<a class="govuk-link" href="' + t('non_domestic_epc.sections.renting.rental_info.url') + '">' + t('non_domestic_epc.sections.renting.rental_info.cta') + '</a>') %></p>
        <% end %>
        <% if assessment[:currentEnergyEfficiencyBand] > minimum_energy_band %>
          <p class="govuk-body"><%== t('non_domestic_epc.sections.renting.recommendation', link: '<a class="govuk-link" href="' + t('non_domestic_epc.sections.renting.url') + '">' + t('non_domestic_epc.sections.renting.cta') + '</a>') %></p>
        <% end %>
      </div>
    <% end %>

    <div class="epc-section epc-rating-graph-section epc-blue-bottom printable-area">
    <div class="govuk-body epc-blue-bottom">
      <a id="energy_rating_section"></a>
      <h2 class="govuk-heading-l"><%= t('non_domestic_epc.energy_rating_section.title') %></h2>
      <p class="govuk-body"><%== t('non_domestic_epc.energy_rating_section.current_rating_text', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase) %></p>
      <%== erb :non_domestic_energy_rating, locals: {
        current_energy_efficiency_rating: assessment[:energyEfficiencyRating],
        current_energy_efficiency_band: assessment[:currentEnergyEfficiencyBand],
        title: t('non_domestic_epc.energy_rating_section.svg.chart_title'),
        description: t('non_domestic_epc.energy_rating_section.svg.chart_description', :current_energy_efficiency_band => assessment[:currentEnergyEfficiencyBand].upcase, :current_energy_efficiency_rating => assessment[:energyEfficiencyRating])} %>
      <p class="govuk-body govuk-!-margin-top-3"><%= t('non_domestic_epc.energy_rating_section.rating_desc') %></p>
      <p class="govuk-body"><%= t('non_domestic_epc.energy_rating_section.score_desc') %></p>
    </div>

    <%== erb :non_domestic_energy_performance_certificate__how_building_compares,
    locals: {
      existing_build_rating: assessment[:existingBuildRating],
      existing_build_band: assessment[:existingBuildBand],
      new_build_rating: assessment[:newBuildRating],
      new_build_band: assessment[:newBuildBand],
    } %>
    </div>

    <%== erb :non_domestic_energy_performance_certificate__energy_performance_breakdown, locals: {
      main_heating_fuel: assessment[:technicalInformation][:mainHeatingFuel],
      building_environment: assessment[:technicalInformation][:buildingEnvironment],
      floor_area: assessment[:technicalInformation][:floorArea],
      assessment_level: assessment[:technicalInformation][:buildingLevel],
      emission_rate: assessment[:buildingEmissionRate],
      primary_energy_use: assessment[:primaryEnergyUse],
    } %>

    <%== erb :non_domestic_energy_performance_certificate__related_report, locals: {
      related_rrn: assessment[:relatedRrn]
    } %>

    <%== erb :non_domestic_energy_performance_certificate__contact, locals: {
      assessor: assessment[:assessor],
      assessment_date: assessment[:dateOfAssessment],
      registration_date: assessment[:dateOfRegistration],
      related_party_disclosure: assessment[:relatedPartyDisclosure],
      opt_out: assessment[:optOut],
      postcode: assessment[:address][:postcode]
    } %>

    <% unless print_view %>
    <%== erb :component__related_assessments, locals: {
      assessment: assessment,
      type: t('component.related.certificate'),
      assessment_type:  assessment[:typeOfAssessment],
    } %>
    <% end %>

  </div>
</div>
<% if print_view %>
  <%== erb :partial__print_view_js %>
<% end %>
