<div id="assessor_details" class="govuk-body epc-blue-bottom">
  <h2 class="govuk-heading-l"><%= t('non_domestic_epc.rr.assessor_details.title') %></h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('non_domestic_epc.rr.assessor_details.name')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        assessment[:assessor][:name]
      %></dd>
    </div>

    <% if assessment[:assessor][:companyDetails][:name] %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
          t('non_domestic_epc.rr.assessor_details.employer_name')
        %></dt>
        <dd class="govuk-summary-list__value"><%=
          assessment[:assessor][:companyDetails][:name]
        %></dd>
      </div>
    <% end %>

    <% if assessment[:assessor][:companyDetails][:address] %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
          t('non_domestic_epc.rr.assessor_details.employer_address')
        %></dt>
        <dd class="govuk-summary-list__value"><%=
          assessment[:assessor][:companyDetails][:address]
        %></dd>
      </div>
    <% end %>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('non_domestic_epc.rr.assessor_details.number')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        assessment[:assessor][:schemeAssessorId]
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('non_domestic_epc.rr.assessor_details.scheme')
      %></dt>
      <dd class="govuk-summary-list__value"><%=
        scheme_details(assessment[:assessor], 'name')
      %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half"><%=
        t('non_domestic_epc.rr.assessor_details.declaration')
      %></dt>
      <dd class="govuk-summary-list__value">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text"><%=
              t('non_domestic_epc.rr.assessor_details.has_connection_text')
            %></span>
          </summary>
          <div class="govuk-details__text">
            <%= assessment[:relatedPartyDisclosure] %>
            <% pp assessment[:relatedPartyDisclosure] %>
            <%= party_disclosure(assessment[:relatedPartyDisclosure].nil? ? "13" : assessment[:relatedPartyDisclosure], "", "non_domestic_disclosure_code", "non_domestic_epc") %>
          </div>
        </details>
      </dd>
    </div>
  </dl>
</div>
