
  <div id="user-satisfaction" class="govuk-body">

    <div class="govuk-body">
    <%= t('service_performance.contents.user_satisfaction.intro') %>
    </div>


    <table class="govuk-table " >
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header month">Month</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric very-satisfied"> <%= t('service_performance.contents.user_satisfaction.table_headers')[0] %></th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric satisfied"><%= t('service_performance.contents.user_satisfaction.table_headers')[1] %></th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric neither"><%= t('service_performance.contents.user_satisfaction.table_headers')[2] %></th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric dissatisfied"><%= t('service_performance.contents.user_satisfaction.table_headers')[3] %></th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric very-dissatisfied"><%= t('service_performance.contents.user_satisfaction.table_headers')[4] %></th>
      </tr>
      </thead>

      <tbody class="govuk-table__body">
      <% values.each do |row| -%>
        <tr class="govuk-table__row" >
          <th class="govuk-table__cell month-year" > <%= (I18n.t :abbr_month_names, :scope => :date)[Date.parse(row[:month].to_s + "-01").month] %> <%= Date.parse(row[:month].to_s + "-01").strftime("%Y") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric very-satisfied"><%= row[:verySatisfied] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric satisfied"><%= row[:satisfied] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric neither"><%= row[:neither] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric dissatisfied"><%= row[:dissatisfied] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric very-dissatisfied"><%= row[:veryDissatisfied] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>


  </div>

