
  <div id="user-satisfaction" class="govuk-body">

    <div class="govuk-body">
      This data is collected on a monthly basis from our service feedback form
    </div>


    <table class="govuk-table " >
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header month">Month</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric very-satisfied">Very satisfied</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric satisfied">Satisfied</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric neither">Neutral</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric dissatisfied">Dissatisfied</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric very-dissatisfied">Very dissatisfied</th>
      </tr>
      </thead>

      <tbody class="govuk-table__body">
      <% values.each do |row| -%>
        <tr class="govuk-table__row" >
          <th class="govuk-table__cell month-year" > <%= Date.parse(row[:month].to_s + "-01").strftime("%b %Y") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric very-satisfied"><%= row[:verySatisfied] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric satisfied"><%= row[:satisfied] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric neither"><%= row[:neither] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric dissatisfied"><%= row[:dissatisfied] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric very-dissatisfied"><%= row[:veryDissatisfied] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>


  </div>

