<svg width="365"
     height="386"
     xmlns="http://www.w3.org/2000/svg"
     style="max-width: 100%;"
     aria-labelledby="svg-title"
     role="img"
     class="govuk-!-margin-bottom-5">
<title id="svg-title"><%= title %></title>
  <%

    bands = {
      'a': {
        'range': '0-25',
        'position': 0,
        'color': '#008054'
      },
      'b': {
        'range': '26-50',
        'position': 1,
        'color': '#19b459'
      },
      'c': {
        'range': '51-75',
        'position': 2,
        'color': '#8dce46'
      },
      'd': {
        'range': '76-100',
        'position': 3,
        'color': '#ffd500'
      },
      'e': {
        'range': '101-125',
        'position': 4.3,
        'color': '#fcaa65'
      },
      'f': {
        'range': '126-150',
        'position': 5.2,
        color: '#ef8023'
      },
      'g': {
        'range': '150+',
        'position': 6.2,
        'color': '#e9153b'
      }
    }

    score_bands = {
      'a-score': {
        'position': 0,
        'color': '#67A687'
      },
      'b-score': {
        'position': 1,
        'color': '#72CA8B'
      },
      'c-score': {
        'position': 2,
        'color': '#b4df86'
      },
      'd-score': {
        'position': 3,
        'color': '#ffe666'
      },
      'e-score': {
        'position': 4.3,
        'color': '#fdc79b'
      },
      'f-score': {
        'position': 5.2,
        'color': '#f4ac71'
      },
      'g-score': {
        'position': 6.2,
        'color': '#f2738a'
      }
    }

  %>

  <style>
    .letter {
      font-size: 40px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      font-weight: bold;
    }

    .current-band {
      font-size: 1.1875rem;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      font-weight: bold;
    }

    .small {
      font-size: 13px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      line-height: 50px;
      margin-top: 100px;
      font-weight: bold;
    }

    .typical {
      font-size: 16px;
      font-family: sans-serif;
      fill: 	#0b0c0c;
      line-height: 50px;
      margin-top: 100px;
    }

    <% bands.each do |key, settings| %>
    .band-<%= key %>{
      fill: <%= settings[:color] %>
    }
    <% end %>
    <% score_bands.each do |key, settings| %>
    .band-<%= key %>{
      fill: <%= settings[:color] %>
    }
    <% end %>

    <%
     if I18n.locale.to_s == "cy"
      %>
        .small {
          font-size: 10px;
        }
      <%
     end
   %>
  </style>

  <line x1="60" y1="0" x2="60" y2="386" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="203" y1="0" x2="203" y2="386" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="293" y1="0" x2="293" y2="386" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="0" y1="25" x2="365" y2="25" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="0" y1="0" x2="365" y2="0" style="stroke:#b1b4b6;stroke-width:1"></line>

  <line x1="0" y1="0" x2="0" y2="386" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="364" y1="386" x2="364" y2="0" style="stroke:#b1b4b6;stroke-width:1"></line>
  <line x1="365" y1="386" x2="0" y2="386" style="stroke:#b1b4b6;stroke-width:1"></line>

  <% bands.each do |key, settings| %>
    <rect width="<%= 50+settings[:position]*15 %>" height="50" x="60" y="<%= 25+settings[:position]*50%>" class="band-<%= key %>">
    </rect>
  <% end %>

  <% score_bands.each do |key, settings| %>
    <rect width="60" height="50" x="0" y="<%= 25+settings[:position]*50%>" class="band-<%= key %>">
    </rect>
  <% end %>

  <text x="0" y="0" class="letter">
    <% bands.each do |key, settings| %>
      <tspan x="<%= 55+(15*settings[:position])+15 %>" y="<%= 75+(50*settings[:position])-11 %>"><%= key.upcase %></tspan>
    <% end %>
  </text>

  <text x="0" y="0" class="small">
    <% bands.each do |key, settings| %>
      <tspan x="8" y="<%= 50+(50*settings[:position])+5 %>"><%= settings[:range] %></tspan>
    <% end %>
  </text>

  <text x="8" y="15" class="small" dominant-baseline="middle"><%= t("rating.score") %></text>

  <text x="70" y="15" class="small" dominant-baseline="middle"><%= t("rating.operational_rating") %></text>

  <text x="248" y="15" class="small" text-anchor="middle" dominant-baseline="middle"><%= t("rating.this_building") %></text>

  <text x="327" y="15" class="small" text-anchor="middle" dominant-baseline="middle"><%= t("rating.typical") %></text>

  <line x1="0" y1="233" x2="310" y2="233" stroke-dasharray="3,3" style="stroke:black;stroke-width:2;"></line>
  <line x1="350" y1="233" x2="358" y2="233" stroke-dasharray="3,3" style="stroke:#000000;stroke-width:2;"></line>
  <text x="0" y="0" class="typical">
    <tspan x="313" y="238">100</tspan>
  </text>

  <svg x="205" y="<%= 30+bands[energy_efficiency_band.chomp("+").to_sym][:position]*50 %>" width="83" height="40">
    <rect width="75" height="40" class="band-<%= energy_efficiency_band.chomp("+") %>" x="25"></rect>
    <polygon points="0,20 25,40 25,0 0,20" class="band-<%= energy_efficiency_band.chomp("+") %>"></polygon>
    <text x="60%" y="50%" dominant-baseline="middle" text-anchor="middle" class="current-band">
      <tspan><%= energy_efficiency_rating %> | </tspan>
      <tspan class="govuk-!-font-weight-bold"><%= energy_efficiency_band.upcase %> </tspan>
    </text>
  </svg>
</svg>
