<style>
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    border-spacing: 0;
    border: none;
    margin-bottom: 0.6rem;
  }

  table tr, table tr td, table tr th {
    vertical-align: top;
    text-align: left;
    padding: 0;
  }

  table th, table td {
    font-size: 0.8rem;
  }

  table.split table:last-child {
    margin-bottom: 0;
  }

  table.split {
    margin-bottom: 0;
  }

  table.split > tbody > tr > td {
    width: 50%;
    padding-right: 30px;
  }

  table.split > tbody > tr > td:last-child {
    width: 45%;
    padding-right: 0;
    padding-left: 15px;
  }

  table.accentuate {
    background: #1d70b8;
    color: #fff;
  }

  table.accentuate table {
    color: #fff;
  }

  table.numerical tbody tr td {
    text-align: right;
  }

  table.numerical thead tr th:not(:first-child) {
    text-align: right;
  }

  table.header {
    background: #000;
    color: #fff;
    line-height: 2rem;
  }

  table.header h1.govuk-heading-m {
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 3rem;
    font-size: 1.8rem;
  }

  table.accentuate p.govuk-body {
    color: #fff;
  }

  table.accentuate > tbody > tr > td {
    padding: 0.8rem 1rem;
    border-left: 1px solid #fff;
  }

  table.accentuate > tbody > tr > td:first-child {
    border-left: none;
  }

  td.giant-letter {
    text-align: center;
    vertical-align: middle;
  }

  td.giant-letter span {
    font-size: 5rem;
    font-weight: 700;
  }

  table.greybox {
    background: #eee;
    margin-bottom: 1rem;
  }

  table.greybox > tbody > tr > td {
    padding: 0.6rem 0.9rem;
  }

  table.border-bottom tr td, table.border-bottom tr th {
    border-bottom: 1px solid #ccc;
    padding: 0.7rem 0.5rem;
    vertical-align: middle;
  }

  table.border-bottom tr td:first-child, table.border-bottom tr th:first-child {
    padding-left: 0;
    width: 45%;
  }

  table.border-bottom tr td:last-child, table.border-bottom tr th:last-child {
    padding-right: 0;
  }

  table.accentuate table.border-bottom tr td, table.accentuate table.border-bottom tr th {
    border-bottom-color: #fff;
  }

  table.border-bottom tbody tr:last-child td, table.border-bottom tbody tr:last-child th {
    border-bottom: none;
  }

  table > tbody > tr > td > table.border-bottom {
    margin-bottom: 0;
  }

  table.border-bottom h3, table.border-bottom p {
    margin: 0!important;
    padding: 0!important;
  }

  .energy-rating-chart-printable-dec {
    width: 100%;
  }

  .energy-rating-arrow {
    height: 1.6rem;
  }

  .small-font {
    font-size: 0.8rem;
  }

  .light-font {
    font-weight: 300;
  }
</style>

<a
  href="<%= localised_url("/energy-certificate/" + assessment[:assessmentId])%>"
  class="govuk-back-link govuk-!-display-none-print">
  <%=t('layout.body.breadcrumb.back')%>
</a>

<table class="printable-area">
  <tbody>
  <tr>
    <td>
      <table class="header">
        <tbody>
          <tr>
            <td>
              <h1 class="govuk-heading-m" style="padding-left: 15px; margin: 10px">
                <%= t('dec.top_heading') %>
              </h1>
            </td>
            <td style="vertical-align: middle">
              <img src="/images/hm-gov-and-crest.svg" class="hm-gov-crest" alt="HM Government">
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table class="accentuate">
        <tbody>
          <tr>
            <td style="vertical-align: middle">
              <p class="<%= address_size(assessment[:address]) %>">

                <%== compact_address(
                  [
                    assessment[:address][:addressLine1],
                    assessment[:address][:addressLine2],
                    assessment[:address][:addressLine3],
                    assessment[:address][:addressLine4]
                  ],
                  assessment[:address][:town],
                  assessment[:address][:postcode]
                ).join('<br />') %>
              </p>
            </td>
            <td class="giant-letter" style="white-space: nowrap">
              <%= t('dec.sections.previous_energy_ratings.energy_rating') %><br />
              <span><%= assessment[:currentAssessment][:energyEfficiencyBand].upcase %></span>
            </td>
            <td>
              <table class="border-bottom" style="white-space: nowrap;">
                <tbody>
                  <tr>
                    <th><%= t('dec.sections.contents.certificate_number') %>:</th>
                    <td><%= assessment[:assessmentId] %></td>
                  </tr>
                  <tr>
                    <th><%= t('dec.sections.administrative_information.valid_until') %>:</th>
                    <td><%= assessment[:dateOfExpiry] %></td>
                  </tr>
                  <tr>
                    <th><%= t('dec.sections.technical_information.floor_area') %>:</th>
                    <td><%= assessment[:technicalInformation][:floorArea] %> square metres</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table class="split">
        <tbody>
        <tr>
          <td>
            <h2 class="govuk-heading-s"><%= t('dec.sections.rating.title') %></h2>
            <p class="govuk-body light-font"><%= t('dec.sections.rating.emissions_text') %></p>
            <p class="govuk-body light-font"><%= t('dec.sections.rating.text') %></p>
            <p class="govuk-body light-font"><%= t('dec.sections.rating.typical_text') %></p>

            <table>
              <tbody>
                <tr>
                  <td>
                    <img
                      class="energy-rating-chart-printable-dec"
                      alt="<%= t('dec.sections.rating.svg_title', energy_efficiency_band: assessment[:energyEfficiencyBand], energy_efficiency_rating: assessment[:energyEfficiencyRating]) %>"
                      src="data:image/svg+xml;base64,<%== Base64.encode64(erb :printable_dec__svg_rating, locals: {
                        title: t('dec.sections.rating.svg_title', energy_efficiency_band: assessment[:energyEfficiencyBand], energy_efficiency_rating: assessment[:energyEfficiencyRating]),
                        energy_efficiency_band: assessment[:currentAssessment][:energyEfficiencyBand],
                        energy_efficiency_rating: assessment[:currentAssessment][:energyEfficiencyRating],
                        show_on_non_print: true
                      }) %>"
                    />
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="greybox">
              <tbody>
                <tr>
                  <td>
                    <h3 class="govuk-heading-s"><%= t('dec.sections.technical_information.print_title') %></h3>
                    <table class="border-bottom numerical">
                      <thead>
                        <tr>
                          <td><%= t('dec.sections.technical_information.energy_use') %></td>
                          <th><%= t('dec.sections.technical_information.electricity') %></th>
                          <th><%= t('dec.sections.technical_information.other_fuels') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>
                            <%= t('dec.sections.technical_information.annual_energy_use') %>
                          </th>
                          <td>
                            <%= assessment[:technicalInformation][:annualEnergyUseElectrical] %>
                          </td>
                          <td>
                            <%= assessment[:technicalInformation][:annualEnergyUseFuelThermal] %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <%= t('dec.sections.technical_information.typical_energy_use') %>
                          </th>
                          <td>
                            <%= assessment[:technicalInformation][:typicalElectricalUse] %>
                          </td>
                          <td>
                            <%= assessment[:technicalInformation][:typicalThermalUse] %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <%= t('dec.sections.technical_information.energy_from_renewables') %>
                          </th>
                          <td>
                            <%= assessment[:technicalInformation][:renewablesElectrical] %>%
                          </td>
                          <td>
                            <%= assessment[:technicalInformation][:renewablesFuelThermal] %>%
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table class="greybox">
              <tbody>
                <tr>
                  <td>
                    <h2 class="govuk-heading-s"><%= t('dec.sections.previous_energy_ratings.title') %></h2>
                    <table class="border-bottom">
                      <thead>
                        <tr>
                          <th><%= t('dec.sections.previous_energy_ratings.date') %></th>
                          <th class="govuk-table__header--numeric" style="text-align: right"><%= t('dec.sections.previous_energy_ratings.energy_rating') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% [assessment[:currentAssessment], assessment[:year1Assessment], assessment[:year2Assessment]].each do |previous_rating| %>
                          <% next if previous_rating[:energyEfficiencyRating].nil? || previous_rating[:energyEfficiencyBand].nil? || previous_rating[:date].nil? %>
                          <tr>
                            <th class="govuk-!-padding-top-2">
                              <%=Date.parse(previous_rating[:date]).strftime("%B %Y")%>
                            </th>
                            <td style="text-align: right">
                              <img
                                class="energy-rating-arrow"
                                alt="<%= t('dec.sections.rating.svg_title', energy_efficiency_band: assessment[:energyEfficiencyBand], energy_efficiency_rating: assessment[:energyEfficiencyRating]) %>"
                                src="data:image/svg+xml;base64,<%== Base64.encode64(erb :printable_dec__svg_arrow, locals: {
                                  title: t('dec.sections.rating.svg_title', energy_efficiency_band: assessment[:energyEfficiencyBand], energy_efficiency_rating: assessment[:energyEfficiencyRating]),
                                  energy_efficiency_band: previous_rating[:energyEfficiencyBand],
                                  energy_efficiency_rating: previous_rating[:energyEfficiencyRating],
                                  show_on_non_print: true
                                }) %>"
                                />
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>


            <table class="greybox">
              <tbody>
                <tr>
                  <td>
                    <h2 class="govuk-heading-s"><%= t('dec.sections.co2.title') %></h2>
                    <p class="govuk-body"><%= t('dec.sections.co2.explanation') %></p>
                    <table class="border-bottom numerical">
                      <thead>
                        <tr>
                          <th><%= t('dec.sections.co2.col.date') %></th>
                          <th><%= t('dec.sections.co2.col.electricity') %></th>
                          <th><%= t('dec.sections.co2.col.heating') %></th>
                          <th><%= t('dec.sections.co2.col.renewables') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% [assessment[:currentAssessment], assessment[:year1Assessment], assessment[:year2Assessment]].each do |previous_rating| %>
                          <% next if previous_rating[:date].nil? %>
                          <tr>
                            <th>
                              <%= Date.parse(previous_rating[:date]).strftime("%B %Y") %>
                            </th>
                            <td>
                              <%= previous_rating[:electricityCo2] || t('dec.sections.co2.no_value') %>
                            </td>
                            <td>
                              <%= previous_rating[:heatingCo2] || t('dec.sections.co2.no_value') %>
                            </td>
                            <td>
                              <%= previous_rating[:renewablesCo2] || t('dec.sections.co2.no_value') %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-s"><%= t('dec.sections.administrative_information.print_title') %></h2>
            <table class="border-bottom">
              <tbody>
                <% {
                   "assessor.list.name": assessment[:assessor][:name],
                   "scheme_name": scheme_details(assessment[:assessor], 'name'),
                   "company_name": assessment[:assessor][:companyDetails][:name],
                   "company_address": assessment[:assessor][:companyDetails][:address],
                   "issue_date": date(assessment[:administrativeInformation][:issueDate]),
                   "nominated_date": date(assessment[:currentAssessment][:date]),
                   "related_party_disclosure": party_disclosure(
                     (assessment[:administrativeInformation][:relatedPartyDisclosure].nil? ?
                       "8" :
                       assessment[:administrativeInformation][:relatedPartyDisclosure]), "", "dec_disclosure_code", "dec"
                   )
                   }.each do |key, value| %>
                  <tr>
                    <th>
                      <%= t("dec.sections.administrative_information." + key.to_s) %>
                    </th>
                    <td>
                      <%= value %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<script>
  window.onload = function() {
    window.print();
  }
</script>
