<style>
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    border-spacing: 0;
    border: none;
    margin-bottom: 20px;
  }

  table tr, table tr td, table tr th {
    vertical-align: top;
    text-align: left;
    padding: 0;
  }

  table th, table td {
    font-size: 14px;
  }

  table.split table:last-child {
    margin-bottom: 0;
  }

  table.split {
    margin-bottom: 0;
  }

  table.split > tbody > tr > td {
    width: 50%;
    padding-right: 15px;
  }

  table.split > tbody > tr > td:last-child {
    padding-right: 0;
    padding-left: 15px;
  }

  table.accentuate {
    background: #1d70b8;
    color: #fff;
  }

  table.accentuate table {
    color: #fff;
  }

  table.numerical tbody tr td {
    text-align: right;
  }

  table.numerical thead tr th:not(:first-child) {
    text-align: right;
  }

  table.header {
    background: #000;
    color: #fff;
    line-height: 52px;
  }

  table.header h1.govuk-heading-m {
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 52px;
  }

  table.accentuate p.govuk-body {
    color: #fff;
  }

  table.accentuate > tbody > tr > td {
    padding: 20px;
    border-left: 1px solid #fff;
  }

  table.accentuate > tbody > tr > td:first-child {
    border-left: none;
  }

  td.giant-letter {
    text-align: center;
  }

  td.giant-letter span {
    font-size: 50px;
  }

  table.greybox {
    background: #eee;
    margin-bottom: 20pX;
  }

  table.greybox > tbody > tr > td {
    padding: 15px;
  }

  table.border-bottom tr td, table.border-bottom tr th {
    border-bottom: 1px solid #ccc;
    padding: 5px;
  }

  table.border-bottom tr td:first-child, table.border-bottom tr th:first-child {
    padding-left: 0;
  }

  table.border-bottom tr td:last-child, table.border-bottom tr th:last-child {
    padding-right: 0;
  }

  table.accentuate table.border-bottom tr td, table.accentuate table.border-bottom tr th {
    border-bottom-color: #fff;
  }

  table.border-bottom tbody tr:last-child td, table.border-bottom tbody tr:last-child th {
    border-bottom: none;
  }

  table > tbody > tr > td > table.border-bottom {
    margin-bottom: 0;
  }

  table.border-bottom h3, table.border-bottom p {
    margin: 0!important;
    padding: 0!important;
  }

  .arrow {
    display: inline-block;
    line-height: 30px;
    color: #fff;
    padding-right: 10px;
    position: relative;
    width: 75px;
  }

  .arrow:before, .arrow:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 17px 0 0;
    border-color: #eee transparent transparent transparent;
    content: "";
    float: left;
    margin-top: -1px;
    margin-left: -1px;
    display: block;
  }

  .arrow:after {
    position: absolute;
    border-width: 17px 0 0 17px;
    border-color: transparent transparent transparent #eee;
    float: none;
    bottom: -1px;
    left: 0;
  }

  .band-a{
    background: #008054
  }

  .band-b{
    background: #19b459
  }

  .band-c{
    background: #8dce46
  }

  .band-d{
    background: #ffd500
  }

  .band-e{
    background: #fcaa65
  }

  .band-f{
    background: #ef8023
  }

  .band-g{
    background: #e9153b
  }

  @-moz-document url-prefix() {
    h1.govuk-heading-m {
      font-size: 20px;
    }

    table.accentuate, table.accentuate table, table.header, table.header h1.govuk-heading-m, table.accentuate p.govuk-body {
      color: transparent;
      text-shadow: 0 0 0 #fff;
    }

    table.split > tbody > tr > td:first-child {
      padding: 0!important;
    }

    table.split > tbody > tr > td:first-child p {
      margin: 0!important;
      padding: 0!important;
    }

    .arrow {
      width: auto;
    }
  }

  @media not all and (min-resolution:.001dpcm) {
    @media {
      h1.govuk-heading-m {
        font-size: 20px;
      }

      h2.govuk-heading-s {
        margin-bottom: 5px;
      }

      p.govuk-body {
        margin-bottom: 10px;
      }

      svg[role="img"] {
        zoom: 0.75;
      }

      table {
        margin-bottom: 15px;
      }

      table.greybox {
        margin-bottom: 10px;
      }

      table.greybox > tbody > tr > td {
        padding: 5px;
      }
    }
  }

</style>

<table class="govuk-body govuk-!-margin-bottom-0">
  <tbody>
  <tr>
    <td>
      <a
        href="<%= localised_url("/energy-performance-certificate/" + assessment[:assessmentId])%>"
        class="govuk-back-link">
        <%=t('layout.body.breadcrumb.back')%>
      </a>

      <table class="header">
        <tbody>
          <tr>
            <td>
              <svg role="presentation" focusable="false" class="govuk-header__logotype-crown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 97" height="32" width="36" style="display: inline-block; vertical-align: middle; padding-left: 15px;">
                <path fill="currentColor" fill-rule="evenodd" d="M25 30.2c3.5 1.5 7.7-.2 9.1-3.7 1.5-3.6-.2-7.8-3.9-9.2-3.6-1.4-7.6.3-9.1 3.9-1.4 3.5.3 7.5 3.9 9zM9 39.5c3.6 1.5 7.8-.2 9.2-3.7 1.5-3.6-.2-7.8-3.9-9.1-3.6-1.5-7.6.2-9.1 3.8-1.4 3.5.3 7.5 3.8 9zM4.4 57.2c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.5-1.5-7.6.3-9.1 3.8-1.4 3.5.3 7.6 3.9 9.1zm38.3-21.4c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.6-1.5-7.6.3-9.1 3.8-1.3 3.6.4 7.7 3.9 9.1zm64.4-5.6c-3.6 1.5-7.8-.2-9.1-3.7-1.5-3.6.2-7.8 3.8-9.2 3.6-1.4 7.7.3 9.2 3.9 1.3 3.5-.4 7.5-3.9 9zm15.9 9.3c-3.6 1.5-7.7-.2-9.1-3.7-1.5-3.6.2-7.8 3.7-9.1 3.6-1.5 7.7.2 9.2 3.8 1.5 3.5-.3 7.5-3.8 9zm4.7 17.7c-3.6 1.5-7.8-.2-9.2-3.8-1.5-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.3 3.5-.4 7.6-3.9 9.1zM89.3 35.8c-3.6 1.5-7.8-.2-9.2-3.8-1.4-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.4 3.6-.3 7.7-3.9 9.1zM69.7 17.7l8.9 4.7V9.3l-8.9 2.8c-.2-.3-.5-.6-.9-.9L72.4 0H59.6l3.5 11.2c-.3.3-.6.5-.9.9l-8.8-2.8v13.1l8.8-4.7c.3.3.6.7.9.9l-5 15.4v.1c-.2.8-.4 1.6-.4 2.4 0 4.1 3.1 7.5 7 8.1h.2c.3 0 .7.1 1 .1.4 0 .7 0 1-.1h.2c4-.6 7.1-4.1 7.1-8.1 0-.8-.1-1.7-.4-2.4V34l-5.1-15.4c.4-.2.7-.6 1-.9zM66 92.8c16.9 0 32.8 1.1 47.1 3.2 4-16.9 8.9-26.7 14-33.5l-9.6-3.4c1 4.9 1.1 7.2 0 10.2-1.5-1.4-3-4.3-4.2-8.7L108.6 76c2.8-2 5-3.2 7.5-3.3-4.4 9.4-10 11.9-13.6 11.2-4.3-.8-6.3-4.6-5.6-7.9 1-4.7 5.7-5.9 8-.5 4.3-8.7-3-11.4-7.6-8.8 7.1-7.2 7.9-13.5 2.1-21.1-8 6.1-8.1 12.3-4.5 20.8-4.7-5.4-12.1-2.5-9.5 6.2 3.4-5.2 7.9-2 7.2 3.1-.6 4.3-6.4 7.8-13.5 7.2-10.3-.9-10.9-8-11.2-13.8 2.5-.5 7.1 1.8 11 7.3L80.2 60c-4.1 4.4-8 5.3-12.3 5.4 1.4-4.4 8-11.6 8-11.6H55.5s6.4 7.2 7.9 11.6c-4.2-.1-8-1-12.3-5.4l1.4 16.4c3.9-5.5 8.5-7.7 10.9-7.3-.3 5.8-.9 12.8-11.1 13.8-7.2.6-12.9-2.9-13.5-7.2-.7-5 3.8-8.3 7.1-3.1 2.7-8.7-4.6-11.6-9.4-6.2 3.7-8.5 3.6-14.7-4.6-20.8-5.8 7.6-5 13.9 2.2 21.1-4.7-2.6-11.9.1-7.7 8.8 2.3-5.5 7.1-4.2 8.1.5.7 3.3-1.3 7.1-5.7 7.9-3.5.7-9-1.8-13.5-11.2 2.5.1 4.7 1.3 7.5 3.3l-4.7-15.4c-1.2 4.4-2.7 7.2-4.3 8.7-1.1-3-.9-5.3 0-10.2l-9.5 3.4c5 6.9 9.9 16.7 14 33.5 14.8-2.1 30.8-3.2 47.7-3.2z">
                </path>
              </svg>
            </td>
            <td>
              <h1 class="govuk-heading-m"><%= t('dec.top_heading') %> - <span class="govuk-!-font-weight-regular"><%= t('dec.tagline') %></span></h1>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table class="accentuate">
        <tbody>
          <tr>
            <td>
              <p class="govuk-body">
                <%== [assessment[:address][:addressLine1],
                     assessment[:address][:addressLine2],
                     assessment[:address][:addressLine3],
                     assessment[:address][:addressLine4],
                     assessment[:address][:town],
                     assessment[:address][:postcode]].reject(&:nil?).reject(&:empty?).join('<br />') %>
              </p>
            </td>
            <td class="giant-letter">
              <%= t('dec.sections.previous_energy_ratings.energy_rating') %><br />
              <span><%= assessment[:currentAssessment][:energyEfficiencyBand].upcase %></span>
            </td>
            <td>
              <table class="border-bottom">
                <tbody>
                  <tr>
                    <th><%= t('dec.sections.contents.certificate_number') %>:</th>
                    <td><%= assessment[:assessmentId] %></td>
                  </tr>
                  <tr>
                    <th><%= t('dec.sections.administrative_information.valid_until') %>:</th>
                    <td><%= assessment[:dateOfExpiry] %></td>
                  </tr>
                  <tr>
                    <th><%= t('dec.sections.technical_information.floor_area') %>:</th>
                    <td><%= assessment[:technicalInformation][:floorArea] %> square meters</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table class="split">
        <tbody>
        <tr>
          <td>
            <h2 class="govuk-heading-s"><%= t('dec.sections.rating.title') %></h2>
            <p class="govuk-body"><%= t('dec.sections.rating.emissions_text') %></p>
            <p class="govuk-body"><%= t('dec.sections.rating.text') %></p>
            <p class="govuk-body"><%= t('dec.sections.rating.typical_text') %></p>

            <table>
              <tbody>
                <tr>
                  <td>
                    <%== erb :printable_dec__svg_rating, locals: {
                      title: t('dec.sections.rating.svg_title', energy_efficiency_band: assessment[:energyEfficiencyBand], energy_efficiency_rating: assessment[:energyEfficiencyRating]),
                      energy_efficiency_band: assessment[:currentAssessment][:energyEfficiencyBand],
                      energy_efficiency_rating: assessment[:currentAssessment][:energyEfficiencyRating],
                      show_on_non_print: true
                    } %>
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="greybox">
              <tbody>
                <tr>
                  <td>
                    <h3 class="govuk-heading-s"><%= t('dec.sections.technical_information.print_title') %></h3>
                    <table class="border-bottom numerical">
                      <thead>
                        <tr>
                          <td><%= t('dec.sections.technical_information.energy_use') %></td>
                          <th><%= t('dec.sections.technical_information.heating') %></th>
                          <th><%= t('dec.sections.technical_information.electricity') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>
                            <%= t('dec.sections.technical_information.annual_energy_use') %>
                          </th>
                          <td>
                            <%= assessment[:technicalInformation][:annualEnergyUseFuelThermal] %>
                          </td>
                          <td>
                            <%= assessment[:technicalInformation][:annualEnergyUseElectrical] %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <%= t('dec.sections.technical_information.typical_energy_use') %>
                          </th>
                          <td>
                            <%= assessment[:technicalInformation][:typicalThermalUse] %>
                          </td>
                          <td>
                            <%= assessment[:technicalInformation][:typicalElectricalUse] %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <%= t('dec.sections.technical_information.energy_from_renewables') %>
                          </th>
                          <td>
                            <%= assessment[:technicalInformation][:renewablesFuelThermal] %>%
                          </td>
                          <td>
                            <%= assessment[:technicalInformation][:renewablesElectrical] %>%
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table class="greybox">
              <tbody>
                <tr>
                  <td>
                    <h2 class="govuk-heading-s"><%= t('dec.sections.previous_energy_ratings.title') %></h2>
                    <table class="border-bottom">
                      <thead>
                        <tr>
                          <th><%= t('dec.sections.previous_energy_ratings.date') %></th>
                          <th><%= t('dec.sections.previous_energy_ratings.energy_rating') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% [assessment[:currentAssessment], assessment[:year1Assessment], assessment[:year2Assessment]].each do |previous_rating| %>
                          <% next if previous_rating.values.include?(nil) %>
                          <tr>
                            <th>
                              <%=Date.parse(previous_rating[:date]).strftime("%B %Y")%>
                            </th>
                            <td>
                              <div class="arrow band-<%= previous_rating[:energyEfficiencyBand] %>">
                                <%= previous_rating[:energyEfficiencyRating] %> | <%= previous_rating[:energyEfficiencyBand].upcase %>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>


            <table class="greybox">
              <tbody>
                <tr>
                  <td>
                    <h2 class="govuk-heading-s"><%= t('dec.sections.co2.title') %></h2>
                    <p class="govuk-body"><%= t('dec.sections.co2.explanation') %></p>
                    <table class="border-bottom numerical">
                      <thead>
                        <tr>
                          <th><%= t('dec.sections.co2.col.date') %></th>
                          <th><%= t('dec.sections.co2.col.electricity') %></th>
                          <th><%= t('dec.sections.co2.col.heating') %></th>
                          <th><%= t('dec.sections.co2.col.renewables') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% [assessment[:currentAssessment], assessment[:year1Assessment], assessment[:year2Assessment]].each do |previous_rating| %>
                          <% next if previous_rating.values.include?(nil) %>
                          <tr>
                            <th>
                              <%=Date.parse(previous_rating[:date]).strftime("%B %Y")%>
                            </th>
                            <td>
                              <%= previous_rating[:electricityCo2] || t('dec.sections.co2.no_value') %>
                            </td>
                            <td>
                              <%= previous_rating[:heatingCo2] || t('dec.sections.co2.no_value') %>
                            </td>
                            <td>
                              <%= previous_rating[:renewablesCo2] || t('dec.sections.co2.no_value') %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-s"><%= t('dec.sections.administrative_information.print_title') %></h2>
            <table class="border-bottom">
              <tbody>
                <% {
                   "assessor.list.name": assessment[:assessor][:name],
                   "scheme_name": scheme_details(assessment[:assessor], 'name'),
                   "company_name": assessment[:assessor][:companyDetails][:name],
                   "company_address": assessment[:assessor][:companyDetails][:address],
                   "issue_date": date(assessment[:administrativeInformation][:issueDate]),
                   "nominated_date": date(assessment[:currentAssessment][:date]),
                   "related_party_disclosure": party_disclosure(
                     (assessment[:administrativeInformation][:relatedPartyDisclosure].nil? ?
                       "8" :
                       assessment[:administrativeInformation][:relatedPartyDisclosure]), "", "dec_disclosure_code", "dec"
                   )
                   }.each do |key, value| %>
                  <tr>
                    <th>
                      <%= t("dec.sections.administrative_information." + key.to_s) %>
                    </th>
                    <td>
                      <%= value %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<script>
  window.onload = function() {
    window.print();
  }
</script>
