<div class="govuk-grid-column-one-third govuk-!-padding-right-0">
  <aside class="epc-blue-top" role="complementary">
    <h2 class="govuk-heading-m" id="related_content-title">
      <%= t('related_content.title') %>
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-body">
        <li>
          <a class="govuk-link" href="<%= t('related_content.guidance_on_epc.url') %>">
            <%= t('related_content.guidance_on_epc.title') %>
          </a>
        </li>
        <li>
          <a class="govuk-link" href="<%= t('related_content.epc_exemptions.url') %>">
            <%= t('related_content.epc_exemptions.title') %>
          </a>
        </li>
        <li>
          <a class="govuk-link" href="<%= t('related_content.what_need_decs.url') %>">
            <%= t('related_content.what_need_decs.title') %>
          </a>
        </li>
        <li>
          <a class="govuk-link" href="<%= t('related_content.air_con_required.url') %>">
            <%= t('related_content.air_con_required.title') %>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
