<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      <%= t('schemes.top_heading') %>
    </h1>
    <p>
      <%= t('schemes.description') %>.
    </p>

    <p>
      <%= t('schemes.contact') %>.
    </p>

    <h2 class="govuk-heading-l"><%= t('schemes.schemes.heading') %></h2>
  </div>
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.schemes.cibse.name') %></h2>
        <p class="govuk-body">
          <a href="tel:<%= t('schemes.schemes.cibse.phone') %>"><%= t('schemes.schemes.cibse.phone') %></a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.schemes.cibse.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.schemes.cta') %>
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.schemes.ecmk.name') %></h2>
        <p class="govuk-body">
          <a href="tel:<%= t('schemes.schemes.ecmk.phone') %>"><%= t('schemes.schemes.ecmk.phone') %></a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.schemes.ecmk.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.schemes.cta') %>
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.schemes.elmhurstenergy.name') %></h2>
        <p class="govuk-body">
          <a href="tel:<%= t('schemes.schemes.elmhurstenergy.phone') %>"><%= t('schemes.schemes.elmhurstenergy.phone') %></a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.schemes.elmhurstenergy.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.schemes.cta') %>
          </a>
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.schemes.sterling.name') %></h2>
        <p class="govuk-body">
          <a href="tel:<%= t('schemes.schemes.sterling.phone') %>01617274303"><%= t('schemes.schemes.sterling.phone') %></a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.schemes.sterling.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.schemes.cta') %>
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.schemes.stroma.name') %></h2>
        <p class="govuk-body">
          <a href="tel:<%= t('schemes.schemes.stroma.phone') %>"><%= t('schemes.schemes.stroma.phone') %></a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.schemes.stroma.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.schemes.cta') %>
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.schemes.quidos.name') %></h2>
        <p class="govuk-body">
          <a href="tel:<%= t('schemes.schemes.quidos.phone') %>"><%= t('schemes.schemes.quidos.phone') %></a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.schemes.quidos.name') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.schemes.cta') %>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
