<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      <%= t('schemes.top_heading') %>
    </h1>
    <p>
      <%= t('schemes.description') %>.
    </p>

    <p>
      <%= t('schemes.contact') %>.
    </p>

    <h2 class="govuk-heading-l"><%= t('schemes.list.heading') %></h2>
  </div>
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.list.cibse.name') %></h2>
        <p class="govuk-body">
          <%= t('schemes.list.cibse.phone') %>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.list.cibse.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.list.cta') %>
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.list.ecmk.name') %></h2>
        <p class="govuk-body">
          <%= t('schemes.list.ecmk.phone') %>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.list.ecmk.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.list.cta') %>
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.list.elmhurst.name') %></h2>
        <p class="govuk-body">
          <%= t('schemes.list.elmhurst.phone') %>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.list.elmhurst.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.list.cta') %>
          </a>
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.list.sterling.name') %></h2>
        <p class="govuk-body">
          <%= t('schemes.list.sterling.phone') %>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.list.sterling.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.list.cta') %>
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.list.stroma.name') %></h2>
        <p class="govuk-body">
          <%= t('schemes.list.stroma.phone') %>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.list.stroma.url') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.list.cta') %>
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l"><%= t('schemes.list.quidos.name') %></h2>
        <p class="govuk-body">
          <%= t('schemes.list.quidos.phone') %>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="<%= t('schemes.list.quidos.name') %>" class="govuk-link govuk-!-font-weight-bold">
            <%= t('schemes.list.cta') %>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
