<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('find_by_street_name_and_town_results_timeout.heading') %></h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><a href="<%= h(search_by_postcode_url) %>"><%= t('find_by_street_name_and_town_results_timeout.alternate_search_cta') %></a>.</p>
    <p class="govuk-body"><%= t('find_by_street_name_and_town_results_timeout.royal_mail_link.lead_in') %>
      <a href="https://www.royalmail.com/find-a-postcode" class="govuk-link"><%= t('find_by_street_name_and_town_results_timeout.royal_mail_link.cta') %></a>.
    </p>
    <p class="govuk-body"><%= t('find_by_street_name_and_town_results_timeout.further_help') %></p>

    <div class="govuk-inset-text">
      <ul class="govuk-list">
        <li><a href="mailto:svc-mhclg.digital-services@communities.gov.uk?subject=EPB%20-%20">svc-mhclg.digital-services@communities.gov.uk</a></li>
        <li><%= t('find_by_street_name_and_town_results_timeout.contact.telephone_line') %></li>
        <li><%= t('find_by_street_name_and_town_results_timeout.contact.opening_hours_line') %></li>
        <li><a href="<%== t('find_by_street_name_and_town_results_timeout.contact.call_charges_url') %>">
          <%= t('find_by_street_name_and_town_results_timeout.contact.find_out_about_call_charges') %>
        </a></li>
      </ul>
    </div>
  </div>
</div>
