<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('service_performance.heading') %></h1>

    <div class="govuk-body">
     <%= t('service_performance.intro') %>
    </div>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-5">
      <li><%= t('service_performance.intro_list_item_one') %></li>
      <li><%= t('service_performance.intro_list_item_two') %> </li>
      <li><%= t('service_performance.intro_list_item_three') %>  </li>
    </ul>

    <div class="govuk-body">
      <%= t('service_performance.covering_statement') %>
    </div>

    <div class="govuk-body">
      <%= t('service_performance.updated_statement') %>
    </div>

    <div class="govuk-tabs" data-module="govuk-tabs">

      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#epc-tab">
            <%= t('service_performance.contents.epcs_upload.title') %>
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#user-satisfaction-tab">
            <%= t('service_performance.contents.user_satisfaction.title') %>
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="epc-tab">
        <h2 class="govuk-heading-l">  <%= t('service_performance.contents.epcs_upload.title') %></h2>
        <div class="govuk-body">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
          <%== erb :partial__stats_accordion, locals: { assessment_type: "SAP", values: locals[:assessments][:grouped]["SAP"], show_average_rating: true, header: t('service_performance.contents.epcs_upload.assessment_types.sap') } %>
          <%== erb :partial__stats_accordion, locals: { assessment_type: "RdSAP", values: locals[:assessments][:grouped]["RdSAP"], show_average_rating: true, header: t('service_performance.contents.epcs_upload.assessment_types.rdsap') } %>
          <%== erb :partial__stats_accordion, locals: { assessment_type: "CEPC", values: locals[:assessments][:grouped]["CEPC"], show_average_rating: true, header: t('service_performance.contents.epcs_upload.assessment_types.cepc') } %>
          <%== erb :partial__stats_accordion, locals: { assessment_type: "DEC", values: locals[:assessments][:grouped]["DEC"], show_average_rating: false , header:  t('service_performance.contents.epcs_upload.assessment_types.dec') } %>
          <%== erb :partial__stats_accordion, locals: { assessment_type: "DEC-RR", values: locals[:assessments][:grouped]["DEC-RR"], show_average_rating: false, header: t('service_performance.contents.epcs_upload.assessment_types.dec_rr')} %>
          <%== erb :partial__stats_accordion, locals: { assessment_type: "AC-CERT", values: locals[:assessments][:grouped]["AC-CERT"], show_average_rating: false, header: t('service_performance.contents.epcs_upload.assessment_types.ac_rr') } %>
            </div>
          </div>

        </div>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="user-satisfaction-tab">

        <h2 class="govuk-heading-l"> <%= t('service_performance.contents.user_satisfaction.title') %> </h2>
        <%== erb :partial__user_satisfaction, locals: {values: locals[:user_satisfaction] } %>

      </div>





    </div>

  </div>
</div>
<script src="/javascript/govuk.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
<script type = "text/javascript" src="/javascript/service-performance.js"></script>
